<div id="messaging" class="discussion-wrapper">
    <div class="container-fluid full">
        <div class="row full">


            <div class="col-sm-3 full" id="inbox">

                <div class="inbox-msgs checklist-col">
                    <div class="col-sm-12 inbox-controls">
                           <button class="btn btn-default new-thread-btn" ng-click="createThread()">New Thread</button>
                    </div>

                <!--     <div class="row">
                        <div class="col-sm-6 text-center">
                            <a href="#" class='inbox-label selected'>Inbox</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <a href="#" class='inbox-label'>Archive</a>
                        </div>

                    </div> -->

                    <ul class="msg-list list-unstyled">
                        <li ng-repeat="thread in data.threads"
                            ng-class="{ 'selected': thread.id===data.selectedThread.id }"
                            ui-sref="discussion.thread({ 'threadId': thread.id })">
                            <div ng-include="'/static/ng/partial/discussion/includes/thread-line-item.html'"></div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-sm-9" id="message-stage">
                <div ng-include="'/static/ng/partial/discussion/includes/thread.html'"></div>
            </div>
        </div>
    </div>
</div>
