<div id="messaging" class="discussion-wrapper">
    <div class="container-fluid">
        <div class="row full">
            <div class="col-sm-4" id="inbox">
                <button class="btn btn-default" ng-click="createThread()">New Thread</button>
                <div class="row inbox-msgs checklist-col">
                    <ul class="msg-list list-unstyled">
                        <li ng-repeat="thread in data.threads"
                            ng-class="{ 'selected': thread.id===data.selectedThread.id }"
                            ui-sref="discussion.thread({ 'threadId': thread.id })">
                            <div ng-include="'/static/ng/partial/discussion/includes/thread-line-item.html'"></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-8 row" id="message-stage">
                    <h3 ng-bind="thread.title">Thread Title</h3>
                <div ng-include="'/static/ng/partial/discussion/includes/thread.html'"></div>
            <div class="compose">
                <form name="requestForm" ng-submit="request()">
                <div class="message-options">
                 <div class="button-container">
                <button class="btn btn-default" type="submit">Send</button>
                <br><br>
                <a href="javascript:;" ng-click="addThreadParticipant(data.selectedThread)" class="btn btn-sm pull-right btn-default">Add participant</a>
                </div>
                </form>
            </div>


            <div class="compose-wrapper">
                <textarea class="compose-message" rows="2" placeholder="Type your message here and press enter" ng-model="data.request.message"></textarea>
            </div>


            </div>
        </div>
    </div>
</div>
