{% extends 'base.html' %}{% load url from future %}{% load cache django_bootstrap_breadcrumbs %}

{% block page_title %}Your Dashboard{% endblock%}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Overview" "/" %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-3">
        {% block sidebar %}
            {#% cache 500 user_workspaces user.username %#}
            <ul class="nav nav-list">
                <li><a href="/dash"><img src="{{STATIC_URL}}images/icons/mountain.svg" alt="Overview" style="height:24px;margin-right:4px;"> Overview</a></li>
                <li class="divider"></li>

                {% for w in WORKSPACES %}
                    <li class="nav-header">
                        {{ w.name }}
                        <span class="pull-right"><a href="{% url 'workspace:view' slug=w.slug %}"><img src="{{STATIC_URL}}images/icons/clipboard.svg" alt="View Workspace" style="height:24px;margin-right:4px;"></a></span>
                    </li>
                    {% for t in w.tools.all %}
                    <li><a href="{% url 'workspace:tool_object_list' workspace=w.slug tool=t.slug %}"><img src="{{STATIC_URL}}{{ t.icon }}" style="height:24px;margin-right:4px;"> {{ t.name }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    {% empty %}
                {% endfor %}

                {% if user.profile.is_lawyer %}
                <li><a href="{% url 'workspace:create' %}" class="pull-right"><span class="fui-plus"></span> New Company</a></li>
                {% endif %}

            </ul>
            {#% endcache %#}
        {% endblock %}

    </div>
    <div class="col-sm-9">
        {% block content %}
        <p class="lead text-center">Your dashboard will appear here shortly.</p>
        {% endblock %}
    </div>
</div>
{% endblock%}