{% extends LAYOUT %}

{% load django_bootstrap_breadcrumbs %}

{% block page_title %}Dashboard — {{ block.super }}{% endblock%}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Dashboard' 'dash:default' %}
{% endblock %}

{% block header %}
    <h4 class="text-center">Dashboard</h4>
{% endblock %}

{% block main %}

{% if not WORKSPACES %}
<div class="alert">
	<h4>Create your first Client Workspace</h4>
	<p>For each client you work with through LawPal, you must create a Client Workspace. <br />To get started, create your first one now.
		<br />
		<a href="/workspace/create/" data-toggle="modal" data-target="#workspace-create"  class="btn btn-primary btn-wide">New Client</a>
	</p>
</div>
{% else %}
<div class="text-center row">
	<div class="col-lg-8 col-lg-offset-2">
		<h6 class="text-center text-muted">Dashboard coming soon.</h6>
		<p class="text-muted">We are building the LawPal dashboard. <br />For the moment just click on the tool you wish to use on the left.</p>
	</div>
</div>

{% endif %}
{% endblock %}
