{% extends 'base.html' %}{% load url from future %}{% load cache django_bootstrap_breadcrumbs %}

{% block page_title %}Dashboard — LawPal{% endblock%}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb 'Dashboard' 'dash:default' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            {% block sidebar %}
                {#% cache 500 user_workspaces user.username %#}
                    <ul class="nav nav-list">
                        <li{% if not workspace and not tool %} class="active"{% endif %}>
                            <a href="{% url 'dash:default' %}">
                                <span class="icon"><img src="{{ STATIC_URL }}images/icons/mountain.svg" alt="Dashboard"></span> Dashboard
                            </a>
                        </li>

                        <li class="divider"></li>
                        {% for w in WORKSPACES %}
                            <li class="nav-header">{{ w.name }}</li>
                            <li{% if workspace == w and not tool %} class="active"{% endif %}>
                                <a href="{% url 'workspace:view' slug=w.slug %}">
                                    <span class="icon"><img src="{{ STATIC_URL }}images/icons/clipboard.svg"></span> Overview
                                </a>
                            </li>
                            {% for t in w.tools.all %}
                                <li{% if workspace == w and tool == t %} class="active"{% endif %}>
                                    <a href="{% url 'workspace:tool_object_list' workspace=w.slug tool=t.slug %}">
                                        <span class="icon"><img src="{{ STATIC_URL }}{{ t.icon }}"></span> {{ t.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="divider"></li>
                        {% endfor %}

                        {% if user.profile.is_lawyer %}
                            <li class="pull-right">
                                <a href="{% url 'workspace:create' %}"><i class="fui-plus"></i> New Company</a>
                            </li>
                        {% endif %}
                    </ul>
                {#% endcache %#}
            {% endblock %}
        </div>

        <div class="col-sm-9">
            {% block content %}
                <div class="page-header">
                    <h4>Dashboard</h4>
                </div>
                <p class="lead text-center">Your dashboard will appear here shortly.</p>
            {% endblock %}
        </div>
    </div>
{% endblock%}