<div class="modal-content" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <h4 class="modal-title">Personal settings</h4>
  </div>
  <div class="modal-body">

    <div ng-if="state=='default'">
        <p class="bold no_bottom_margin"><span class="desktop_notifications_title">Desktop Notifications are currently disabled</span></p>
        <p class="small_bottom_margin">We strongly recommend enabling them.</p>
        <p class="large_bottom_margin"><a class="btn btn-success" ng-click="requestNotifyPermission()"><i class="fa fa-bell small_right_margin"></i> Enable desktop notifications</a></p>
    </div>
    <div ng-if="state=='requestingDesktopPermissions'">
      <p class="alert">Your browser should now be presenting you with the option to enable notifications, probably at the top or bottom of this window. Click <strong>Enable</strong> or <strong>Allow</strong> or <strong>Yes</strong> or <strong>OK</strong> or whatever the right button is!</p>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>//-->
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>