<div class="modal-content" xmlns="http://www.w3.org/1999/html">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel"><span class="fui-user text-muted"></span> Matter Participants</h4>

	</div>
	<div class="modal-body">

        <div ng-hide="data.showAddLawyer||data.showAddParticipant">
            <div class="row existing-participants">
            <div class="col-sm-6 ">
                <ul class="list-unstyled participants">
                    <li ng-repeat="person in participants" ng-click="data.selectedUser=person" ng-class="{'selected': data.selectedUser==person }">
                        <span class="user {{person.role}}" ng-bind="person | initials"></span>
                        <label ng-bind="person | fullname"></label>
                        <small class="{{person.role}}">({{ person.role }}<span ng-show="person.username==currentUser.username">, you</span>)</small>
                    </li>
                </ul>
                <!--
                <div class="text-center">
                     <a class="btn btn-sm btn-inverse">
                        <span class="fui-user"></span> Add a Participant
                    </a>
                </div>
                -->
            </div>

            <div class='col-sm-6 details' ng-show="data.selectedUser">

                <div class="client-permissions" ng-show="data.selectedUser.role==='client'">
                     <div class="user-details text-right">
                         <a class="revoke" ng-show="data.selectedUser.username!==currentUser.username&&currentUser.permissions.manage_participants&&person.username!=matter.lawyer.username" href="javascript:;" ng-click="revoke(data.selectedUser)"><small>Revoke access</small></a>
                         <a class="revoke" ng-show="data.selectedUser.username===currentUser.username" href="javascript:;" ng-click="revoke(data.selectedUser)"><small>Exit matter</small></a>
                    </div>
                    <div class="user-large customer" ng-bind="data.selectedUser.initials"></div>
                    <p>{{ data.selectedUser.name }}</p>
                    <p>{{ data.selectedUser.email }}</p>
                    <div class='permissions-checklist' ng-show="currentUser.permissions.manage_participants">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.selectedUser.permissions.manage_clients"> Manage Clients (including adding and removing Clients)
                            </label>
                        </div>
                    </div>
                    <div class='text-center' ng-show="currentUser.permissions.manage_participants">
                       <a class="btn btn-sm save-perm-btn" ng-click="update(data.selectedUser)"><span class="fui-check"></span> Save Permissions</a>
                    </div>
                </div>

                <div class="colleague-permissions" ng-show="data.selectedUser.role==='colleague'">
                     <div class="user-details text-right">
                         <a class="revoke" ng-show="data.selectedUser.username!==currentUser.username&&currentUser.permissions.manage_participants" href="javascript:;" ng-click="revoke(data.selectedUser)"><small>Revoke access</small></a>
                    </div>
                    <div class="user-large lawyer" ng-bind="data.selectedUser.initials"></div>
                    <p>{{ data.selectedUser.name }}</p>
                    <p>{{ data.selectedUser.email }}</p>
                    <div class='permissions-checklist' ng-show="currentUser.permissions.manage_participants">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.selectedUser.permissions.manage_participants"> Manage Participants <div class='text-muted'>(including adding and removing Colleagues and Clients)</div>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.selectedUser.permissions.manage_items"> Manage Checklist Items and Categories
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.selectedUser.permissions.manage_document_reviews"> Able to Add, Complete and Destroy Requests for Review
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.selectedUser.permissions.manage_signature_requests"> Manage Signing and Signature Requests
                            </label>
                        </div>
                    </div>
                    <div class='text-center' ng-show="currentUser.permissions.manage_participants&&data.selectedUser.username!=matter.lawyer.username">
                       <a class="btn btn-sm save-perm-btn" ng-click="update(data.selectedUser)"><span class="fui-check"></span> Save Permissions</a>
                    </div>
                </div>

                <div class="colleague-permissions" ng-show="data.selectedUser.role==='owner'">
                    <div class="user-large lawyer" ng-bind="data.selectedUser.initials"></div>
                    <p>{{ data.selectedUser.name }}</p>
                    <p>{{ data.selectedUser.email }}</p>
                </div>
            </div>
        </div>
        <div class="new-participant" ng-show="currentUser.permissions.manage_participants">
            <h5>Add a Participant<!--<a href="javascript:;" class="close" ng-click="">x</a>--></h5>
            <div class="row">
                <div class="col-sm-6">
                    <a href="javascript:;" class="btn btn-primary lawyer" ng-click="data.showAddLawyer=true">Add a Colleague</a>
                    <br />
                    <p class="note">
                        Adding a Colleague to this Matter will give them access to Modify the Checklist, its Categories, and the overall Matter.They will be able to discuss Checklist items with Colleagues and Clients.
                    </p>
                </div>
                <div class="col-sm-6">
                    <a href="javascript:;" class="btn btn-info customer" ng-click="data.showAddParticipant=true">Add a Client</a>
                    <br />
                    <p class="note">
                    Adding a Client to the Matter will give them access to view and annotate documents and discuss Checklist Items. They can not modify the Checklist structure or view previous versions of Documents, but .
                    </p>
                </div>
            </div>
        </div>
        </div>


		<form class="form" ng-submit="invite()" ng-show="data.showAddLawyer">
            <h5>Add a Colleague <a href="javascript:;" class="close" ng-click="data.showAddLawyer=false;">x</a></h5>
            <p>Adding a colleague to this matter will give them access to edit the checklist, download documents and assign tasks. </p>
			<div ng-class="{'has-success': data.participant, 'has-warning': data.isNew, 'has-error': data.validationError }">
				<p class="bg-info" for="inviteeEmail" ng-show="data.participant">Lawyer {{ data.participant | fullname }} found. </p>
        		<input type="email" id="inviteeEmail" class="form-control form-control-full-width" ng-model="data.invitee.email" placeholder="rob.s@gmail.com" required ng-blur="checkIfUserExists(true)" autocomplete="off"/>
			</div>
            <div class="">
                <input type="text" class="form-control input-sm" ng-model="data.invitee.first_name" placeholder="First name" ng-show="data.isNew" />
                <input type="text" class="form-control input-sm" ng-model="data.invitee.last_name" placeholder="Last name" ng-show="data.isNew" />
            </div>
			<div >
				<textarea class="form-control form-control-full-width" ng-model="data.invitee.message" placeholder="Add an optional message"></textarea>
			</div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.invitee.permissions.manage_participants">Manage Participants in this Matter <span class="text-muted">(including adding a removing colleagues and clients)</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.invitee.permissions.manage_document_reviews"> Able to Add, Complete and Destroy Requests for Review
                            </label>
                        </div>
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.invitee.permissions.manage_items"> Manage Matter checklist items and categories
                            </label>
                        </div>

                        <div class="checkbox" ng-model="data.invitee.permissions.manage_signature_requests">
                            <label>
                                <input type="checkbox"> Manage Signatures & Send Documents for Signature
                            </label>
                        </div>
			<div class="text-right">
				<button class="btn btn-success btn-wide btn-sm" ng-disabled="invalid()">Add Lawyer</button>
			</div>
		</form>

        <form class="form" ng-submit="invite()" ng-show="data.showAddParticipant">
            <h5>Add a Client <a href="javascript:;" class="close" ng-click="data.showAddParticipant=false;">x</a></h5>
            <p>Adding a client to this matter will give them access to view the checklist and the latest version of each document.</p>
			<div ng-class="{'has-success': data.participant, 'has-warning': data.isNew, 'has-error': data.validationError }">
    		    <p class="bg-info" for="inviteeEmail" ng-show="data.participant">{{ data.participant | fullname }} found.</p>
                <p class="bg-info" for="inviteeEmail" ng-show="data.isNew">User does not exist yet. They will be invited to LawPal.</p>
                <p class="bg-danger" for="inviteeEmail" ng-show="data.isLawyer">The entered mail address belongs to a lawyer. Lawyers can not currently be added to matters as clients.</p>

				<input type="email" id="inviteeEmail" class="form-control form-control-full-width" ng-model="data.invitee.email"
                       placeholder="your_email@gmail.com" required ng-blur="checkIfUserExists()" autocomplete="off"/>
        		</div>
            <div class="">
                <input type="text" class="form-control input-sm" ng-model="data.invitee.first_name" placeholder="First name" ng-show="data.isNew" />
                <input type="text" class="form-control input-sm" ng-model="data.invitee.last_name" placeholder="Last name" ng-show="data.isNew" />
            </div>
			<div class="">
				<textarea class="form-control form-control-full-width" ng-model="data.invitee.message" placeholder="Add an optional message"></textarea>
			</div>
               <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.invitee.permissions.manage_clients">Manage clients in this matter

                                <span class="text-muted">(user can add additional clients to this matter and remove those that they added)</span>
                            </label>
                        </div>
			<div class='text-right'>
				<button class="btn btn-info btn-wide btn-sm" ng-disabled="invalid()">Add a Client</button>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<!--<button class="btn btn-primary" ng-click="ok()">OK</button>//-->
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</div>
