<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">Matter Participants</h4>
	</div>
	<div class="modal-body">
		<h5 ng-show="participants.length>0">Existing Participants</h5>
		<ul class="list-unstyled participants">
			<li ng-repeat="person in participants">
                <span class="user" ng-bind="person | initials"></span>
                <label ng-bind="person | fullname"></label>
				<small ng-show="person.username==currentUser.username">(you)</small>
				<a class="text-danger" ng-show="person.username!==currentUser.username" href="javascript:;" ng-click="revoke(person)"><small>Revoke access</small></a>
			</li>
		</ul>
		<br />
		<h5>Add New Participant</h5>
		<div class="row">
			<div class="col-sm-6">
				<a href="#" class="btn btn-primary">Add a Lawyer</a>
				<br />
				<p class="note">Adding a lawyer to this matter will give them full access to modify the checklist, add files and manage the transaction.</p>
			</div>
			<div class="col-sm-6">
				<a href="#" class="btn btn-info">Add a Client</a>
				<br />
				<p class="note">
				Adding a client to the checklist will give them access to view and annotate documents and discuss checklist items. They can not modify the checklist structure or view previous revisions of documents.
				</p>
			</div>
		</div>

<!-- 
		<form class="form" ng-submit="invite()">
			<div class="form-group" ng-class="{'has-success': data.invitee.participant, 'has-warning': data.invitee.isNew, 'has-error': data.validationError }">
				<input type="email" id="inviteeEmail" class="form-control form-control-full-width input-sm" ng-model="data.invitee.email"
                       placeholder="your_email@gmail.com" required ng-blur="checkIfUserExists()"/>
                 <label class="control-label" for="inviteeEmail" ng-show="data.invitee.participant">User {{ data.invitee.participant | fullname }} found</label>
                 <label class="control-label" for="inviteeEmail" ng-show="data.invitee.isNew">User does not exist yet</label>
			</div>
            <div class="form-group form-inline">
                <input type="text" class="form-control input-sm" ng-model="data.invitee.first_name" placeholder="First name" ng-show="data.invitee.isNew" />
                <input type="text" class="form-control input-sm" ng-model="data.invitee.last_name" placeholder="Last name" ng-show="data.invitee.isNew" />
            </div>
			<div class="form-group">
				<textarea class="form-control form-control-full-width" ng-model="data.invitee.message" placeholder="Add an optional message"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-wide btn-sm" id="addParticipant" ng-disabled="data.validationError">Add participant</button>
			</div>
		</form> -->
	</div>
	<div class="modal-footer">
		<!--<button class="btn btn-primary" ng-click="ok()">OK</button>//-->
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</div>