*.diff
/gui/index.html  # ignore the generated dev index.html
gui/temp/*
toolkit/production_settings\.py # ignoring the test productions
setup.cfg
.sonar
hellosign
hello_sign
actstream
dj_crocodoc
*_valid.html
*_invalid.html
\.coverage
test_steps.json
toolkit/production_settings\.py # placed here for the test process (as we test production settings from this file)
*.pyc
*.sqlite3
*.swp
*.swo
*.db
local_settings.py
*.db
*.sqlite
tags
composer.lock
.AppleDouble
:2e_*
._*
.DS_Store
.python-version
.idea*
.env
.venv
/venv/
/reports/*
/media/*
/static/*
/log/*.log
/MANIFEST
/build
