Django==1.6
django-extensions==1.2.5

# Procfile service management
honcho

six==1.4.1
sqlparse==0.1.10
wsgiref==0.1.2

Werkzeug
django-rest-swagger
djangorestframework==2.3.9
-e git+https://github.com/alex/django-filter.git#egg=django-filter

django-rulez

django-uuidfield

django-crispy-forms
-e git+https://github.com/agiliq/Django-parsley.git#egg=django-parsley

django-debug-toolbar==0.11.0
-e git+https://github.com/orf/django-debug-toolbar-template-timings.git@2e6d5c29c268cac4b707991e15264b0f915727e9#egg=django_debug_toolbar_template_timings-dev
-e git+https://github.com/playfire/django-debug-toolbar-user-panel.git@29a163dc985c4b173ead57b09b3cfdd6ca84e76f#egg=django_debug_toolbar_user_panel-dev

-e git+https://github.com/jezdez/django_compressor.git#egg=django_compressor
-e git+https://github.com/rosscdh/django-jsonfield.git@lawpal#egg=django-jsonfield

# US and other fields etc
django-localflavor

django-bootstrap-breadcrumbs

django-templated-email

# pyhandlebars
-e git+https://github.com/rosscdh/pybars.git#egg=pybars
-e git+https://github.com/rosscdh/lenker.git#egg=lenker

xhtml2pdf
django-xhtml2pdf
pdfkit

requests==2.0.1

python-dateutil

python-memcached

raven
