Django==1.6
django-extensions==1.2.5
south
# Procfile service management
honcho

six
sqlparse
wsgiref

gunicorn # required for the concurrent loading of images (for pdfs)
Werkzeug
djangorestframework==2.3.9
-e git+https://github.com/alex/django-filter.git#egg=django-filter

django-rulez
django-password-reset
django-uuidfield

# Image Thumbnails
sorl-thumbnail

django-crispy-forms
-e git+https://github.com/agiliq/Django-parsley.git#egg=django-parsley

django-debug-toolbar==0.11.0
-e git+https://github.com/orf/django-debug-toolbar-template-timings.git@2e6d5c29c268cac4b707991e15264b0f915727e9#egg=django_debug_toolbar_template_timings-dev
-e git+https://github.com/playfire/django-debug-toolbar-user-panel.git@29a163dc985c4b173ead57b09b3cfdd6ca84e76f#egg=django_debug_toolbar_user_panel-dev

-e git+https://github.com/jezdez/django_compressor.git#egg=django_compressor
-e git+https://github.com/rosscdh/django-jsonfield.git@lawpal#egg=django-jsonfield

# US and other fields etc
django-localflavor

django-bootstrap-breadcrumbs

-e git+https://github.com/rosscdh/django-templated-email.git@attachments#egg=django-templated-email

boto
django-storages

# pyhandlebars
# -e git+https://github.com/rosscdh/pybars.git#egg=pybars
# -e git+https://github.com/rosscdh/lenker.git#egg=lenker

requests>=2.0.1

python-dateutil

python-memcached

-e git+https://github.com/GoodCloud/django-ajax-uploader.git#egg=django-ajax-uploader

raven # getsentry

# package tracking
-e git+https://github.com/rosscdh/python-usps.git#egg=python-usps

# Testing
HTTPretty
django-casper
mock
-e git+https://github.com/vandersonmota/model_mommy.git#egg=model_mommy
-e git+git://github.com/neubloc/django-colortools#egg=django-colortools
pyquery
django-inmemorystorage

django-email-obfuscator
decorator
