<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">Request file for <span ng-bind="checklistItem.name"></span></h4>
	</div>
	<form name="requestForm" ng-submit="request()">
	<div class="modal-body">
		<strong ng-show="participants.length>0">Existing members</strong>
		
			<ul class="list-unstyled">
				<li ng-repeat="person in participants">
					<label class="radio" ng-class="{'checked':person.username===data.request.person}">
						<span class="icons">
							<span class="first-icon fui-radio-unchecked"></span>
							<span class="second-icon fui-radio-checked"></span>
						</span>
						<input type="radio" value="{{person.username}}" ng-model="data.request.person" name="participants">
						<label ng-bind="person | fullname"></label>
					</label>
				</li>
				<li>
					<label class="radio" ng-class="{'checked':data.request.person==''}">
						<span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span>
						<input type="radio" ng-model="data.request.person" name="participants" value="">
						External party <span class="fui-lock" data-toggle="tooltip" title="" data-original-title="Requesting a file from a third party does not give them access to this matter."></span>
					</label>
				</li>
			</ul>

            <div class="form-group" ng-show="data.request.person==''"
                 ng-class="{'has-success': data.request.participant, 'has-warning': data.request.isNew, 'has-error': data.validationError }">
				<input type="email" id="requestEmail" class="form-control form-control-full-width input-sm" ng-model="data.request.email"
                       placeholder="your_email@gmail.com" required ng-blur="checkIfUserExists()"/>
                 <label class="control-label" for="requestEmail" ng-show="data.request.participant">User {{ data.request.participant | fullname }} found</label>
                 <label class="control-label" for="requestEmail" ng-show="data.request.isNew">User does not exist yet</label>
			</div>
            <div class="form-group form-inline">
                <input type="text" class="form-control input-sm" ng-model="data.request.firstname" placeholder="First name" ng-show="data.request.isNew" />
                <input type="text" class="form-control input-sm" ng-model="data.request.lastname" placeholder="Last name" ng-show="data.request.isNew" />
            </div>

			<div class="form-group">
				<textarea class="form-control form-control-full-width" ng-model="data.request.message" placeholder="Add an optional message"></textarea>
			</div>
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit" ng-disabled="invalid()">Request revision</button>
	</div>
	</form>
</div>