<div class="dialog dialog-danger form-errors{% if not form.errors %} hide{% endif %}">
    <div class="container">
        {% if form.errors|length > 1 %}
            <p>There were {{ form.errors|length }} errors with this:</p>
        {% elif form.errors|length == 1 %}
            <p>There was 1 error with this:</p>
        {% else %}
            <p></p>
        {% endif %}
        <div class="parsley-errors">
            {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% comment %}

<div class="dialog dialog-danger form-errors hide">
	<div class="container">
		<p></p>
		<div class="parsley-errors"></div>
	</div>
</div>

{% if form.errors %}
	<div class="dialog dialog-danger form-errors">
		<div class="container">
                {% if form.errors|length > 1 %}
                    <p>There were {{ form.errors|length }} errors with this:</p>
                {% elif form.errors|length == 1 %}
                    <p>There was 1 error with this:</p>
                {% endif %}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
 {% endcomment %}