<div class="qq-uploader">
    <div class="qq-upload clearfix">
        <div class="qq-upload-drop-area"><p>Drop files to upload.</p></div>

        <div class="qq-buttons">
            <a href="{{ object.get_absolute_url }}" type="button" class="btn btn-default btn-hg pull-left qq-back-button">
                <i class="glyphicon glyphicon-chevron-left"></i> Back
            </a>
            <a href="#" type="button" class="btn btn-success btn-hg pull-right qq-upload-button">
                Upload <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </div>
    </div>
    <ul class="qq-upload-list"></ul>
</div>
