{% extends 'public/base.html' %}

{% load url from future %}

{% block prebody %}
<style>
body {background-color: #f2f2f2;}
</style>
	<div id="checklist">		
	<div class="tool-landing">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 checklist">
					<div class="row">
						<div class="col-xs-6">
							<h5>Checklist</h5> 
						</div>
						<div class="checklist-switch-wrap">
							<div class="col-xs-6  text-right">
								<small class="filter-title">Show</small>
								<div class="btn-group checklist-switch">
				                  <a class="btn btn-xs btn-default first" href="#fakelink"><span class="fui-radio-unchecked"></span> 4</a>
				                  <a class="btn btn-xs btn-warning" href="#fakelink"><span class="fui-time"></span> 5</a>
				                  <a class="btn btn-xs btn-primary last" href="#fakelink"><span class="fui-check-inverted"></span> 8</a>
				                </div>
							</div>
						</div>
	            	</div>
					<table class="table checklist">
			            <thead>
				              <tr>
				                <th colspan="4">Incorporation</th>
				              </tr>
			            </thead>
			            <tbody>
			              <tr>
			              	<td class="item-icon">
			                	<div class="icon">
				                	<span class="fui-checkbox-unchecked text-warning"></span>
								</div>
							</td>
			                <td class="item-title">
			                	Articles of Incorporation 
			                </td>
			                <td class="text-right attachments">
<!-- 			                	<div class="who">AB</div>
 -->			                	<div class="what"><span class="fui-document"></span> {{ "Articles of incorporation.doc"|truncatechars:11 }}</div> +2
			                </td>
			                <td class="msg">
                      			<span class="new"><span class="fui-mail"></span>
                    		</span>
			                </td>
			              </tr>
			              <tr>
			              	<td class="item-icon">
			                	<div class="icon">
				                	<span class="fui-checkbox-checked text-success"></span>
								</div>
			              	</td>
			                <td class="item-title text-success">
			                	Bylaws 
			                </td>
			                <td class="text-right attachments">
<!-- 			                	<div class="who">AB</div>
 -->			                	<div class="what"><span class="fui-document"></span> Bylaws.doc</div>
			                </td>
			                <td class="msg">
                    		</span>
			                </td>
			              </tr>
			              <tr>
			              	<td class="item-icon">
			                	<div class="icon">
				                	<span class="fui-checkbox-checked text-success"></span>
								</div>
			              	</td>
			                <td class="item-title text-success">
			                	Action by Unanimous Written Consent of the Board of Directors 
			                </td>
			                <td class="text-right attachments">
<!-- 			                	<div class="who">AB</div>
 -->			                	<div class="what"><span class="fui-document"></span> Bylaws.doc</div>
			                </td>
			                <td class="msg">
                      			
                    		</span>
			                </td>
			              </tr>
			            </tbody>
						<thead>
				              <tr>
				                <th colspan="4">Founder Documents</th>
				              </tr>
			            </thead>
			            <tbody>
			              <tr>
			              	<td class="item-icon">
			                	<div class="icon">
				                	<span class="fui-checkbox-unchecked text-warning"></span>
								</div>
							</td>
			                <td class="item-title">
			                	83(b) Election for A Halliday 
			                </td>
			                <td class="text-right attachments">
			                </td>
			                <td class="msg">
                      			<span class="new"><span class="fui-mail"></span>
                    		</span>
			                </td>
			              </tr>
			              <tr>
			              	<td class="item-icon">
			                	<div class="icon">
				                	<span class="fui-checkbox-checked text-success"></span>
								</div>
			              	</td>
			                <td class="item-title text-success">
			                	83(b) Election for Y Citro 
			                </td>
			                <td class="text-right attachments">
<!-- 			                	<div class="who">AB</div>
 -->			                	<div class="what"><span class="fui-document"></span> 83(b) Election</div>
			                </td>
			                <td class="msg">
                    		</span>
			                </td>
			              </tr>
			              <tr>
			              	<td class="item-icon">
			                	<div class="icon">
				                	<span class="fui-checkbox-unchecked text-warning"></span>
								</div>
			              	</td>
			                <td class="item-title">
			                	83(b) Election for R Crawford 
			                </td>
			                <td class="text-right attachments">
			                </td>
			                <td class="msg">
                      			
                    		</span>
			                </td>
			              </tr>
			            </tbody>
		          </table>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="position:absolute;bottom:0;height:50px;background-color:#f1f1f1;width:100%;padding:8px;position:fixed;border-top:1px solid #eee" class="text-right">
					<a href="#" class="btn btn-success btn-sm">Ready for closing</a>
</div>
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
$( document ).ready(function() {
	$('#toggle-docs').click(function(){
    	$('.document-drawer').toggle();
	});

	$( "#doc-list, #client-doc-list, #client-doc-list-2, #client-doc-list-3" ).sortable({
      connectWith: ".connectedSortable",
      placeholder: "ui-state-highlight",
       start: function(event, ui) {
        is_dragging = true;
        $('.drop-zone').toggle();
	  },
      stop: function(event, ui) {
        is_dragging = false;
      	$('.drop-zone').toggle();
      }

    }).disableSelection();

	$('.hover-tools a').click(function() {
	  $( ".hover-tools-assign" ).toggle();
	});
	$('.hover-tools-assign .done').click(function() {
	  $( ".hover-tools-assign" ).toggle();
	});


});

</script>
{% endblock %}
{% block body %}
{% endblock %}