{% extends 'base.html' %}{% load url from future %}

{% block body %}
	<div class="row">
		<br />
		<br />
		<br />
		<h2>LawPal Toolkit</h2>
		<p class="lead">A set of tools change the practice of law forever.<br />
			Together, let's make practice perfect. </p>
		<a href="{% url 'public:signup' %}" class="btn btn-primary btn-lg">Attorney Signup</a>
		<br />
		<hr>
		<small>LawPal is a set of tools that help you practice law more efficiently. You choose which tools you use with which clients. </small>	
		<br />
		<br />
		<br />
		<br />
		<br />		
	</div>
{% endblock%}