{% extends 'public/base.html' %}

{% load url from future %}{% load crispy_forms_tags %}

{% block page_title %}Sign up — {{ block.super }}{% endblock %}

{% block prebody %}
    <div class="dialog dialog-success">
        <div class="container">This page is for attorney registration only. If you are a client with an invite code, <a href="#">click here</a>.</div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="page-header">
                <h4>Sign up as an attorney</h4>
            </div>

            <p>Fill out the form below to create your account.</p>

            {% block form %}
                {% include 'partials/form-errors.html' with form=form %}

                {% crispy form %}
            {% endblock %}

            <hr>
            <p>Already have an account? <a href="{% url 'public:signin' %}">Sign in</a></p>
        </div>
    </div>
{% endblock %}
