{% extends 'public/base.html' %}{% load url from future %}{% load crispy_forms_tags %}

{% block page_title %}Sign in — {{ block.super }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="page-header">
                <h4>Sign in</h4>
            </div>

            {% block form %}
                {% crispy form %}
            {% endblock %}
            <br />
            <a href="{% url "password_reset_recover" %}" class="text-muted">Forgot your password?</a>
            
        </div>
    </div>
{% endblock %}
