{% extends 'gui.html' %}{% load url from future %}{% load crispy_forms_tags %}

{% block page_title %}Sign in — {{ block.super }}{% endblock %}
{% block body_class %}entry-pages{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="alert alert-info">
                    <p><b>Please Note</b>.</p>
                    <p>LawPal.com will be closing as of December 1, 2014.</p>
                    <p>Please ensure that you have exported all of your matters.</p>
                    <p>Thank you for your interest and for using our product.</p>
                    <p>Please contact founders@lawpal.com' should you have any questions.</p>
                </div>
            <div class="signup-wrap">
                <div class="logo-wrap">
                    <h4>Sign In</h4>
                </div>
                {% block form %}
                    {% crispy form %}
                {% endblock %}
            </div>
            <div class="text-center links">
                <a href="{% url "password_reset_recover" %}" class="text-muted">Forgot your password?</a>
            </div>
        </div>
    </div>
    <br />
    <br />



{% endblock %}
