{% extends 'public/base.html' %}

{% load url from future %}

{% block prebody %}
<div class="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <div class="public-headline text-center">
            <img src="{{STATIC_URL}}images/large-logo.png" style="max-width:580px" width="100%">
          </div>
      </div>
    </div>
    <div class="row top">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2>Makes practice perfect.</h2>
          <p class="lead sub">
            LawPal is redefining the practice of law, one tool at a time.
        </p>
        <br />
        <p>
          <a href="{% url 'public:signup' %}" class="btn btn-hg btn-embossed btn-primary">Free Attorney Sign Up</a>   
          <a href="{% url 'public:signin' %}" class="btn btn-hg btn-default">Sign In</a>
          <br />
          <br />
          <a href="#" data-toggle="popover" title="Invite Only" data-content="For the moment, you must be invited by your lawyer to use LawPal. If you have an account, please Sign In." class="text-muted" data-original-title="" data-placement="bottom">Are you a client?</a>
        </p>
        <br />
        <br />
      </div>
    </div>
  </div>
  <div class="feature-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="row">
            <div class="col-sm-4">
              <span class="fui-time ico"></span>
              <br />
              <h4>Efficient</h4>
              <p>LawPal helps make repetitive tasks within your practice more efficient and transparent saving you time and improving your client's experience.</p>
            </div>
            <div class="col-sm-4">
              <span class="fui-chat ico"></span>
              <br />
              <h4>Collaborative</h4>
              <p>We are building a better way to work with your client. When all parties in a transaction have complete visibility, things move quicker. </p>
            </div>
            <div class="col-sm-4">
              <span class="fui-gear ico"></span>
              <br />
              <h4>Adapts to you</h4>
              <p>Choose which tools you use with which clients. You know your clients and their needs and you can customize the LawPal experience to suit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toolkit-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Our Toolkit</h2>
          <hr />
          <br />
        </div>
        <div class="col-sm-6 col-lg-offset-1 text-center">
          <img src="{{STATIC_URL}}images/83b-1.png" width="90%">
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-lg-12">
              <div class="icon-wrap"><img src="{{STATIC_URL}}images/icons/mail.svg"></div>
              <h3>83(b) Election Letter Tool</h3>
              <p>Filing without the fuss. We make it as easy as possible for clients to make their 83(b) filings and notify you when it’s done.
              <blockquote>
                <small><p><em>We have walked to their homes to make sure that they mail them in!!</em> </p>
                <small>Silicon Valley Lawyer</small>
              </blockquote>
              <a href="/tools/83b-election-letters" class="btn btn-info btn-lg">Learn More</a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-2 navbar-brand">
        LawPal Inc
      </div>

      <div class="col-md-8">
        <ul class="bottom-links">
          <li><a href="http://angel.co/lawpal">Investors</a></li>
          <li><a href="/legal/terms">Terms</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <ul class="bottom-icons">
          <li><a href="http://twitter.com/lawpalhq" class="fui-facebook"></a></li>
          <li><a href="http://facebook.com/lawpalhq" class="fui-twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
{% endblock %}