{% extends 'base-slim.html' %}

{% block page_title %}Please wait, This document is being processed{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="jumbotron">
            <div class="span12">
                <h3><b>Please Wait</b><br/><p class="lead">This document is being processed and will become available shortly</p></h3>
                <p>If you believe there to be a problem, please contact us at <a href="mailto:support@lawpal.com"> support@lawpal.com</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
