{% extends 'base-slim.html' %}

{% block page_title %}[EXPIRED REQUEST] This signature request is no longer valid{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="jumbotron">
            <div class="span12">
                <h2><b>Expired Request:</b> <small>Document is no longer valid</small></h2>
                <p>The version of the document you have been asked to sign is no longer current.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
