<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//s3.amazonaws.com/cdn.hellofax.com/js/embedded.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    'use strict';
    HelloSign.init('{{ GLOBALS.HELLOSIGN_CLIENT_ID }}');
    HelloSign.open({
        url: '{{ hellosign_view_url }}',                // Signature url your fetched via the API on your server
        allowCancel: true,                              // (optional) Whether to allow the user to cancel i.e. close the iFrame without signing (default is true)
        debug: true,
        messageListener: function(eventData) {          // (optional) Called whenever the iFrame is messaging your page
            if (eventData.event == HelloSign.EVENT_SIGNED) {
                document.location.reload();
            };
        }
    });
});
</script>
