<div class="message-options">
    <label class="checkbox" for="checkbox1">
        <input type="checkbox" value="1" id="sendEnter" data-toggle="checkbox" data-behavior="toggle-button">
        <span class="text-muted">Send on Enter</span>
    </label>
    <div class="button-container">
        <button type="button" class="btn btn-default" data-behavior="send-button">Send</button>
    </div>
</div>
<div class="compose">
    <div class="compose-wrapper">
        <textarea class="compose-message" rows=2 placeholder="Type your message here and press enter"></textarea>
    </div>
</div>