{% extends 'pdf/base.html' %}
{% block styleextra %}
	span {
		color: #666;
		background-color:#FAF0E6;
	}
	.signature-block {
		border:2px solid #f9f9f9;
		background-color: #f9f9f9;
		padding:10px 10px 1px 10px;
		width: 260px;
		margin-top:20px;
		float:left;
		margin-right:25px;
	}
	.signature-block-inner {
		border-bottom:2px dashed #ccc;
		height:50px;
		border-left-color:white;
		border-right-color:white;
		line-height:45px;
		font-size:20px;
		color:red;
		padding-left:5px;
	}
	.signature-block-name {
		font-size:18px;
		text-transform:uppercase;
		padding-top:4px;
		text-align:right;
	}
	.signature-block.spouse .signature-block-inner {
		color:blue;
	}
	.signature-block.spouse .signature-block-name {
		text-align:left;
		margin-bottom: 40px;
		color:#aaa;
		font-size:12px;
	}
	.header {
		text-align:right;
		text-transform:uppercase;
		color:#ccc;
		font-size:12px;
		font-weight:bold;
	}
	h3 {
		text-decoration:underline;
	}
	.instructions {
		font-size:14px;
	}
	ul {
		list-style-type:none;
	}
{% endblock %}

{% block content %}


<!-- Page 1 : Instructions  -->
<div class="header">INSTRUCTIONS (DO NOT SEND)</div>

<div class="instructions">
	<h3>Instructions to Complete IRS 83(b) Election</h3>

	<ul>
		<li><strong>Step 1 : Print, Review and Sign</strong><ol>
			<li>Print the document</li>
			<li>Review the IRS Transmittal letter and the two copies of your 83(b) Election. </li>
			<li>Sign in the 3 places indicated with a red cross.</li> 
			<li>[if spouse sign]Have you spouse sign in 2 places indicated with a blue cross.</li></ol>
		<br />
		</li>
		<li><strong>Step 2 : Upload a scan of Copy 1 to LawPal</strong><br/>
			Upload a scanned copy of the document to LawPal. We will ensure your accountant and attorney get a copy.
			<br /><br />
		</li>
		<li><strong>Step 3 : Prepare an envelope containing the following</strong><br />
			<ol>
				<li>The signed Transmittal Letter, Copies 1 and 2 of the 83(b) Election Letter</li>
				<li>A single self addressed, postage paid envelope for the IRS to return a date-stamped copy. Although this is not required it is recommended to request it simply to enhance the company’s and taxpayer’s records. Attach the self addressed envelope to 83(b) Election Copy 1</li>
			</ol>
			<br />
		</li>
		<li>
			<strong>Step 4 : Mail it to the IRS</strong><br /> 
			Send it by <u>USPS Certified Mail with Return Receipt</u> requested to the IRS at the following address : 
			<br />
			<br />
			[[IRS ADDRESS]]
			<br /><br />
		</li>
		<li>
			<strong>Step 5 : Add the tracking number to LawPal</strong><br />
			Once you have sent it, input the tracking number into LawPal and we will notify all parties when the IRS have received it. 
			<br />
		</li>	
	</ul>
	<br />
	<em>Your 83(b) Election must reach the IRS by [[FILING DEADLING]].</em>
</div>

<!-- Page 2 : Transmittal Letter  -->
<div class="page-break"></div>
<div class="header">IRS TRANSMITTAL LETTER</div>

<div>
<div>{{ client_full_name|default:'<span>[Client Name]</span>' }}</div>
<div>{{ address|default:'<span>[Client Address]</span>' }}</div>
<div>{{ post_code|default:'<span>[Client Zip Code]</span>' }}, {{ state|default:'<span>[Client State]</span>' }}</div>
<br />
<div>Taxpayer SSN / ITIN # : {% if ssn or itin %}{{ ssn|default:'' }}{{ itin|default:'' }}{% else %}<span>[ITIN or SSN]</span>{% endif %}</div>

</div>

<p>
Dated: {% now "F jS Y" %}
<p>
[IRS Service Center Address]
<p>
<br />
<br />
Dear Sir or Madam:
<p>
Pursuant to Treasury Regulations Section 1.83-2(c) promulgated under Section 83 of the Internal Revenue Code of 1986, as amended (the “Code”), enclosed please find a copy of an election under Section 83(b) of the Code.
<p>
Also, attached are a self-addressed stamped envelope and a signed copy of my 83(b) Election Form. Please date stamp the copy of the Election Form, enclose it in the attached envelope and mail it to me.
<p>
Thank you,
<p>
<div class="signature-block">
	<div class="signature-block-inner">x</div>
	<div class="signature-block-name">{{ client_full_name }}</div>
</div>





<!-- Page 3 : 83b Election Copy 1  -->
<div class="page-break"></div>
<div class="header">Copy 1 - IRS (File Copy)</div>

<h3>Election Under Section 83(b) of the Internal Revenue Code</h3>
<br/>

<div>
The undersigned hereby makes an election pursuant to Section 83(b) of the Internal Revenue Code with respect to the property described below:
</div>
<br/>

<div>
<p>1. Name and Address of Taxpayer</p>
<div>{{ client_full_name|default:'<span>[Client Name]</span>' }}</div>
<div>{{ address|default:'<span>[Client Address]</span>' }}</div>
<div>{{ post_code|default:'<span>[Client Zip Code]</span>' }}, {{ state|default:'<span>[Client State]</span>' }}</div>
<br />
<div>Taxpayer SSN / ITIN # : {% if ssn or itin %}{{ ssn|default:'' }}{{ itin|default:'' }}{% else %}<span>[ITIN or SSN]</span>{% endif %}</div>
<br />


<div>
2. Description of property with respect to which election is being made:
<br /><br />

{{ transfer_value_share|default:'<span>[x shares]</span>' }} shares of the common stock of {{ company_name |default:'<span>[Company Name]</span>' }}, (the “Company”) (${{ value_at_time_of_transfer |default:'<span>[Value at time of transfer]</span>'}} par value).
</div>

<br />
<div>
3. Date on which property was transferred is
{{ date_of_property_transfer|date:"SHORT_DATE_FORMAT"|default:'<span>[Transfer Date]</span>' }}.
</div>
<br />
<div>
4. The taxable year for which this election is being made is calendar year {{ tax_year |default:'<span>[Transfer Year]</span>'}}.
</div>
<br />
<div>
5. Nature of restrictions to which property is subject:
<br /><br />
{{ description | default:'<span>[Description of Restrictions]</span>' }}
</div>
<br />
<div>
6. The fair market value at time of transfer (determined without regard to any restrictions other than restrictions which by their terms will never lapse) of the property with respect to which this election is being made is ${{ share_price_at_time_of_transfer |default:'<span>[Share price at time of transfer]</span>'}} per share, for a total aggregate value of ${{ value_at_time_of_transfer |default:'<span>[Value at time of transfer]</span>'}}.
</div>
<br />
<div>
7. The amount paid by the taxpayer for the property is ${{ amount_paid|default:'<span>[Amount paid]</span>'}}.
</div>

<div>
<p>8. A copy of this statement has been furnished to {{ company_name |default:'<span>[Company Name]</span>' }}.
<br />
<br />
<br />
Dated: {% now "F jS Y" %}
<br />
<br />

</div> 

<div>
Signed,

<p>
<div class="signature-block">
	<div class="signature-block-inner">x</div>
	<div class="signature-block-name">{{ client_full_name }}</div>
</div>
<!-- if spouse is signing -->
<div class="signature-block spouse">
	<div class="signature-block-inner">x</div>
	<div class="signature-block-name">Name of Spouse :</div>
</div>
</div>

</div> 


<!-- Page 4 : 83b Election Copy 1  -->
<div class="page-break"></div>
<div class="header">Copy 2 - IRS (Return Copy)</div>
Same as previous page. Will duplicate once v1 is complete. 

 
{% endblock %}