{% extends 'workspace/workspace_tool_base.html' %}

{% load url from future %}{% load django_bootstrap_breadcrumbs %}

{% block page_title %}Upload your scan — {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Upload' 'eightythreeb:attachment' workspace.slug tool.slug item.slug %}
{% endblock %}

{% block header %}
    <h4 class="caption"><a href="{% url 'workspace:view' workspace.slug %}">{{ workspace.name }}</a></h4>
    <h4 class="caption"><a href="{% url 'workspace:tool_object_preview' workspace.slug tool.slug item.slug %}">{{ item }}</a></h4>
    <h4>Upload your scan</h4>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="content col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h4>Uploads {{ item }}</h4>
            </div>

            <p>Please scan and upload a copy of your signed 83(b) Election. This will be stored on LawPal and a copy will be sent to your attorney and accountant (if requested).</p>
            <div id="file-uploader">
                <noscript><p>Please enable JavaScript to use file uploader.</p></noscript>
            </div>

            <ul class="list-unstyled attachment-list">
                {% for file in object.attachment_set.all %}
                    <li class="list-group-item attachment-list-item">
                        <a href="{{ file.attachment.url }}" class="attachment-list-item-preview" target="_blank" title="{{ file.attachment.name }}">
                            <img src="{{ file.attachment.url }}" title="{{ file.attachment.name }}">
                        </a>
                        <div class="attachment-list-item-meta">
                            <a href="{{ file.attachment.url }}" title="{{ file.attachment.name }}" target="_blank" class="attachment-list-item-heading">{{ file.attachment.name }}</a>
                            <ul class="list-inline text-muted">
                                <li><small>{{ file.attachment.size|filesizeformat }}</small></li>
                                <li>&middot;</li>
                                <li>
                                    <a href="{% url 'api:attachment-delete' pk=file.pk %}" data-toggle="action" data-type="remote" data-method="DELETE">
                                        <small>Delete</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js"></script>
    <script>
    $(function() {
        var uploader = new qq.FileUploader({
            action: "{% url 'eightythreeb:upload_file' slug=object.slug %}",
            element: $('#file-uploader:first')[0],
            template: '{% filter escapejs %}{% include "partials/uploader.html" with object=object %}{% endfilter %}',
            multiple: true,
            onProgress: function(id, fileName, loaded, total) {
                console.log(loaded);
            },
            onComplete: function(id, fileName, responseJSON) {
                if(responseJSON.success) {
                    console.log('Success');
                } else {
                    console.log('Failure');
                }
                console.log(fileName);
                console.log(responseJSON);
            },
            onAllComplete: function(uploads) {
                // uploads is an array of maps
                // the maps look like this: {file: FileObject, response: JSONServerResponse}
                console.log('Upload Complete');
                console.log(uploads);
                document.location.reload();
            },
            params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
            },
        });
    });
    </script>
{% endblock %}
