{% extends 'workspace/workspace_tool_list.html' %}

{% load url from future %}

{% block list %}
    <div class="table-responsive">
        <table class="table table-striped {{ tool.slug }}">
            <tbody>
                <tr>
                    <th>Client Name</th>
                    <th>Transfer Date</th>
                    <th>Filing Deadline</th>
                    <th>Status</th>
                </tr>
                {% for t in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'workspace:tool_object_preview' workspace=workspace.slug tool=tool.slug slug=t.slug %}">{{ t.client_name }}</a>
                        </td>
                        <td>{{ t.transfer_date }}</td>
                        <td>{{ t.filing_date }}</td>
                        <td>{{ t.current_status }} ({{ t.markers.percent_complete }}%)</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center"><span class="text-muted">None found</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
