{% extends 'pdf/base.html' %}{% load eightythreeb_tags %}
{% block styleextra %}
    span {
        color: #666;
        background-color:#FAF0E6;
    }
    .signature-block {
        border:2px solid #f9f9f9;
        background-color: #f9f9f9;
        padding:10px 10px 1px 10px;
        width: 260px;
        margin-top:20px;
        float:left;
        margin-right:25px;
    }
    .signature-block-inner {
        border-bottom:2px dashed #ccc;
        height:50px;
        border-left-color:white;
        border-right-color:white;
        line-height:45px;
        font-size:20px;
        color:red;
        padding-left:5px;
    }
    .signature-block-name {
        font-size:18px;
        text-transform:uppercase;
        padding-top:4px;
        text-align:right;
    }
    .signature-block.spouse .signature-block-inner {
        color:blue;
    }
    .signature-block.spouse .signature-block-name {
        text-align:left;
        margin-bottom: 40px;
        color:#aaa;
        font-size:12px;
    }
    .header {
        text-align:right;
        text-transform:uppercase;
        color:#ccc;
        font-size:12px;
        font-weight:bold;
    }
    h3 {
        text-decoration:underline;
    }
    .instructions {
        font-size:14px;
    }
    ul {
        list-style-type:none;
    }
{% endblock %}

{% block content %}

<!-- Page 1 : Transmittal Letter  -->
<div class="header">IRS TRANSMITTAL LETTER</div>

<div>
    <div>{{ client_full_name|default:'<span>[Client Name]</span>' }}</div>
    <div>{{ address1|default:'<span>[Client Address]</span>' }}</div>
    {% if address2 %}<div>{{ address2 }}</div>{% endif %}
    <div>{{ city|default:'<span>[Client City]</span>' }}</div>
    <div>{{ state|default:'<span>[Client State]</span>' }} {{ post_code|default:'<span>[Client Zip Code]</span>' }}</div>
    <br />
    <div>Taxpayer SSN / ITIN # : {% if ssn or itin %}{{ ssn|default:'' }}{{ itin|default:'' }}{% else %}<span>[ITIN or SSN]</span>{% endif %}</div>
</div>

<p>
    Dated: {% now "F jS Y" %}
<p>
{{ object.irs_address|default:'<span>[IRS Service Center Address]</span>' }}
<p>
<br />
<br />
Dear Sir or Madam:
<p>
Pursuant to Treasury Regulations Section 1.83-2(c) promulgated under Section 83 of the Internal Revenue Code of 1986, as amended (the “Code”), enclosed please find an original signed copy of an election under Section 83(b) of the Code.
<p>
Also, attached are a self-addressed stamped envelope and a copy of my signed 83(b) Election Form. Please date stamp the copy of the Election Form, enclose it in the attached envelope and mail it to me.
<p>
Thank you,
<p>
<div class="signature-block">
    <div class="signature-block-inner">x</div>
    <div class="signature-block-name">{{ client_full_name }}</div>
</div>



<!-- Page 2 : 83b Election Copy 1  -->
<div class="page-break"></div>
{% include 'eightythreeb/document/irs_page.html' with title='Copy 1 - IRS (File Copy)' %}

<!-- Page 3 : 83b Election Copy 2  -->
<div class="page-break"></div>
{% include 'eightythreeb/document/irs_page.html' with title='Copy 2 - IRS (Return Copy)' %}

<!-- Page 4 : Instructions  -->
<div class="page-break"></div>
<div class="header">INSTRUCTIONS (DO NOT SEND)</div>

<div class="instructions">
    <h3>Instructions to Complete IRS 83(b) Election</h3>
    <ul>
        <li><strong>Step 1 : Print, Review and Sign</strong><ol>
            <li>Print the documents. You should have :
                <ol>
                    <li> A transmittal letter addressed to the IRS</li>
                    <li> An election letter marked "Copy 1 - IRS (File copy)"</li>
                    <li> An election letter marked "Copy 2 - IRS (Return copy)"</li>
                </ol>
            </li>
            <li>Review the documents to make sure that all the information is correct. </li>
            <li>Sign in the three places indicated.</li>{% if object.spouse_must_sign %}
                <li>Have your spouse sign in 2 places indicated.</li>{% endif %}</ol>
        <br />
        </li>
        <li><strong>Step 2 : Upload a scan of Copy 1 to LawPal</strong><br/>
            Upload a scanned copy of the document to LawPal. We will ensure your accountant and attorney get a copy.
            <br /><br />
        </li>
        <li><strong>Step 3 : Take a trip to the post office and bring the following</strong><br />
            <ol>
                <li>The signed Transmittal Letter, Both copies of the 83(b) Election Letter</li>
                <li>A self addressed, envelope for the IRS to return a date-stamped copy of your 83(b) Election. Attach the self addressed envelope to 83(b) Election Copy 2 with a paper clip.</li>
            </ol>
            <br />
        </li>
        <li>
            <strong>Step 4 : Mail it to the IRS</strong><br />
            Send it by <u>USPS Certified Mail with Electronic Return Receipt Requested</u> to the IRS at the following address :
            <br />
            {{ object.irs_address|default:'<span>[IRS Address]</span>' }}
            <br /><br />
            Look for one of these mailing forms and make sure you pay extra for Electronic Return Receipt so LawPal can track delivery.
            <br />
            <img src="https://s3.amazonaws.com/lp-static/certified-mail.jpg" width="400px">
            <br />
            <br />
        </li>
        <li>
            <strong>Step 5 : Add the tracking number to LawPal</strong><br />
            Once you have sent it, input the tracking number into LawPal and we will notify all parties when your Election letter is received by the IRS.
            <br />
        </li>
    </ul>
    <br />
    <h3>Your 83(b) Election must be postmarked by the USPS no later than {{ object.filing_date }}.</h3>
</div>



{% endblock %}
