{% extends 'workspace/workspace_tool_list.html' %}

{% load url from future %}{% load eightythreeb_tags %}

{% block list %}
    <div class="table-responsive">
        <table class="table table-striped {{ tool.slug }}">
            <tbody>
                <tr>
                    <th>Client Name</th>
                    <th>Transfer Date</th>
                    <th>Filing Deadline</th>
                    <th>Current Step</th>
                </tr>
                {% for t in object_list %}
                    <tr class="{{ t|status_row_class }}">
                        <td>
                            <a href="{% url 'workspace:tool_object_overview' workspace=workspace.slug tool=tool.slug slug=t.slug %}">{{ t.client_name }}</a>
                        </td>
                        <td><small>{{ t.transfer_date }}</small></td>
                        <td><small>{{ t.filing_date }}</small></td>
                        <td>
                            {{ t|quick_status }}
                            <small>{{ t.current_status }}</small>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center"><span class="text-muted">None found</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
