Election Under Section 83(b) of the Internal Revenue Code
 
The undersigned hereby makes an election pursuant to Section 83(b) of the Internal Revenue Code with respect to the property described below:
1. Name and Address of Taxpayer:
XXXXXXXXXXX
XXXXXXXXXXX
XXXXXXXXXXX
Taxpayer SSN # :
XXXXXXXXXXX
 
2. Description of property with respect to which election is being made:
 
XXXXX shares of the common stock of XXXXXXX, (the “Company”) ($X.XXXX par value).
 
3. Date on which property was transferred is XXXXXXX.
 
4. The taxable year for which this election is being made is calendar year 20XX.
 
5. Nature of restrictions to which property is subject:
 
YOU CAN COPY AND PASTE FROM YOUR RESTRICTED STOCK GRANT THE RESTRICTIONS, SUCH AS VESTING, ETC.
 
6. The fair market value at time of transfer (determined without regard to any restrictions other than restrictions which by their terms will never lapse) of the property with respect to which this election is being made is $X.XX per share, for a total aggregate value of $XXX.XX.
 
7. The amount paid by the taxpayer for the property is $XXX.
 
8. A copy of this statement has been furnished to [Company name].
 
Dated: XXXXXX XX, 20XX
 
 
Signed,
 
___________________________________
XXXXXXXX X XXXXXXXXXXXXXX
 
 
____________________________________
SPOUSE SIGNATURE, IF COMMUNITY PROP STATE
 
 
____________________________________
SPOUSE NAME PRINTED
 
 
 
 
SAMPLE TRANSMITTAL LETTER TO IRS:

Name and Address of Taxpayer:
XXXXXXXXXXX
XXXXXXXXXXX
XXXXXXXXXXX
Taxpayer SSN # :
XXXXXXXXXXX
 
Dated: XXXXXX XX, 20XX
 
IRS Service Center Address From Below
 
Dear Sir or Madam:
 
Pursuant to Treasury Regulations Section 1.83-2(c) promulgated under Section 83 of the Internal Revenue Code of 1986, as amended (the “Code”), enclosed please find a copy of an election under Section 83(b) of the Code.
 
Also, attached are a self-addressed stamped envelope and a signed copy of my 83(b) Election Form. Please date stamp the copy of the Election Form, enclose it in the attached envelope and mail it to me.
 
Thank you,
 
________________________________
XXXXXXXX X XXXXXXXXX
 
Enclosures