{% extends 'dash/dash.html' %}{% load url from future %}{% load django_bootstrap_breadcrumbs %}

{% block page_title %}{{ tool.name }} — {{ workspace.name }} — LawPal{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb workspace.name 'workspace:view' workspace.slug %}
    {% breadcrumb tool.name 'workspace:tool_object_list' workspace.slug tool.slug %}
    {% breadcrumb object 'workspace:tool_object_edit' workspace.slug tool.slug object.slug %}
    {% breadcrumb 'Status' '' %}
{% endblock %}

{% block content %}
<div class="row">
    <ul class="list-group col-lg-8 col-lg-offset-2">
        {% with object.current_markers as current_markers %}
            {% for num, slug, name in tool.model.STATUS_83b.get_all %}
            <li class="list-group-item clearfix">
                {{ name }}
                <div class="pull-right">
                    {% if slug in object.data.markers %}
                        <button type="button" class="btn btn-success btn-sm" disabled><i class="glyphicon glyphicon-ok"></i> <span class="btn-tip">Complete</span></button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-sm btn-embossed">How?</button>
                        <button type="button" class="btn btn-warning btn-sm" disabled> <i class="glyphicon glyphicon-time"></i>  Pending</button>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        {% endwith %}
    </ul>
</div>
{% endblock %}