Dear {{ instance.user.get_full_name|default:instance.user.email }},
<br />
<br />
In connection with your recent purchase of shares of {{ instance.company_name }}, you may wish to make a Section 83(b) election. I am not a tax advisor and this is not intended as tax advice. You should consult your own tax advisor on whether it is best to make the 83(b) election or not.
 <br />
 <br />
Follow this invitation link to gain access to your 83b Election : 
<br />
{{ 83b_action_url }}
<br />
<br />
For the sake of ease, I have included the company-specific information. You should confirm the information and complete the form. THE FILING OF SUCH ELECTION IS YOUR RESPONSIBILITY.  YOU MUST FILE THIS FORM WITHIN 30 DAYS OF PURCHASING THE SHARES. 
<br />
<br />
You (and not the company, any of its agents or any other person, including your attorney or LawPal) shall be solely responsible for making this filing with the IRS.
<br />
<br />
Regards
<br />
<br />
{{ user.get_full_name|default:user.email }}
