{% extends 'base-slim.html' %}

{% block page_title %}404 Page does not exist{% endblock %}

{% block prebody %}
{% csrf_token %}
<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="jumbotron">
            <div class="span12">
                <h2><b>Email not yet validated</b></h2>
                <p>Please validate your email address by clicking on the link in the email sent to: <em><b>{{ user.email }}</b></em></p>
                <p>In order to proceed and for your security, you need to vaildate the email you used when you signed up.</p>
                <span id="send-notice"><button id="send-email-validation-request">Resend</button></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
    'use strict';

    $('button#send-email-validation-request').on("click", function() {
        var data = $(this).data();

        $.ajax({
          "type": 'POST',
          "url": '{% url "me:send-email-validation-request" %}',
          "data": {},
          "dataType": 'json',
          "contentType": 'application/json',
          "beforeSend": function (jqXHR, settings) {
              // Pull the token out of the DOM.
              jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
          },
          "complete": function ( data ) {
              //document.location.reload();
              $('#send-notice').html('<b>Ok</b>, we\'ve resent that email')
          }
        });

        return false; //this is critical to stop the click event which will trigger a normal file download!
    });

});
</script>
{% endblock %}