<div class="attachments-wrapper">
    <div class="item-subheading">Attachments<span class="number-of"> ({{ data.attachments.length }})</span>
        <a class="btn-link" href="javascript:;" ng-click="manageAttachment()">New Attachment</a>
    </div>

    <div class="task-zero-state" ng-if="data.attachments.length == 0">
     <h4>No Attachments Yet</h4>
        This Item has no attachments yet. Upload attachments for this Item by clicking 'New Task'.
    </div>

    <ul class="all-attachments">
        <li class="one-attachment" ng-repeat="attachment in data.attachments">
            <ul class="one-attachment">
                <li class="icon"><i class="fa fa-paperclip"></i></li>
                <li class="attachment-name">{{ attachment.name }}</li>
                <li class="attachment-status">Uploaded by {{ attachment.uploaded_by.initials }}</li>
                 <li class="download-attachment"><a href="{{ attachment.user_download_url }}" ><i class="fa fa-download"></i></a></li>
                <li class="delete-attachment"><a href="javascript:;" ng-click="deleteAttachment(attachment)">X</a></li>
            </ul>
        </li>
    </ul>
</div>
