<!DOCTYPE html>
<html ng-app="toolkit-gui">
<head>
  <title>{{ object.name }} - Lawpal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

  <!-- App LESS -->
  <link href="/static/ng/bower_components/intro.js/minified/introjs.min.css" type="text/css" rel="stylesheet" data-remove="exclude">

  <link href="/static/ng/css/app.less" type="text/css" rel="stylesheet/less">
  <link href="/static/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" data-remove="exclude">
  <link href="/static/ng/bower_components/html5-desktop-notifications/notifications.css" type="text/css" rel="stylesheet"/>

  <script src="/static/ng/bower_components/jquery/jquery.min.js" data-remove="exclude"></script>
  <script src="/static/ng/bower_components/jquery-ui/jquery-ui.min.js" data-remove="exclude"></script>
  <script src="/static/ng/bower_components/bootstrap/dist/js/bootstrap.min.js" data-remove="exclude"></script>
  <script src="/static/ng/bower_components/angular/angular.min.js" data-remove="exclude"></script>
  <script src="//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js" data-remove="exclude"></script>
  <script language="javascript" data-remove="exclude">
    /* File upload fallback for IE browsers */
    FileAPI = {
        //only one of jsPath or jsUrl.
        'jsPath': '/static/ng/bower_components/FileAPI/',
        //only one of staticPath or flashUrl.
        'staticPath': '/static/ng/bower_components/FileAPI/'
    }
  </script>
</head>
<body>
  <!-- Livereload script for development only (stripped during dist build) -->

  <!-- JS from Bower components -->
  <script src="/static/ng/bower_components/underscore/underscore.js"></script>
  <script src="/static/ng/bower_components/moment/moment.js"></script>
  <script src="/static/ng/bower_components/less.js/dist/less-1.5.0.js"></script>
  <script src="/static/ng/bower_components/angular-route/angular-route.js"></script>
  <script src="/static/ng/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/static/ng/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/static/ng/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/static/ng/bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="/static/ng/bower_components/angular-ui-sortable/sortable.js"></script>
  <script src="/static/ng/bower_components/angular-elastic/elastic.js"></script>
  <script src="/static/ng/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/static/ng/bower_components/angular-markdown-directive/markdown.js"></script>
  <script src="/static/ng/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/static/ng/bower_components/showdown/compressed/showdown.js"></script>
  <script src="/static/ng/bower_components/AngularJS-Toaster/toaster.js"></script>
  <script src="/static/ng/bower_components/ez-confirm/dist/ez-confirm.min.js"></script>
  <script src="/static/ng/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
  <script src="/static/ng/bower_components/ng-file-upload/angular-file-upload.js"></script>
  <script src="/static/ng/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/static/ng/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
  <script src="/static/ng/bower_components/raven-js/dist/raven.min.js"></script>
  <script src="/static/ng/bower_components/crypto-js/rollups/hmac-sha256.js"></script>
  <script src="/static/ng/bower_components/html5-desktop-notifications/desktop-notify.js"></script>
  <script src="/static/ng/lib/angular-intercom.js" data-remove="exclude"></script>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js" data-remove="exclude"></script>

  <!-- Ez-Confirm custom template -->
  <script src="/static/ng/js/ez-confirm-custom-tpl.js"></script>

  <!-- Main App JS -->
  <script src="/static/ng/js/setup.js"></script>

    <!-- To remove later //-->
  <script src="/static/ng/controllers/mock.js"></script>

  <!-- Service JS -->
  <script src="/static/ng/service/base.js"></script>
  <script src="/static/ng/service/user.js"></script>
  <script src="/static/ng/service/matter.js"></script>
  <script src="/static/ng/service/matterItem.js"></script>
  <script src="/static/ng/service/mattercategory.js"></script>
  <script src="/static/ng/service/participants.js"></script>
  <script src="/static/ng/service/smartRoutes.js"></script>
  <script src="/static/ng/service/search.js"></script>
  <script src="/static/ng/service/activity.js"></script>
  <script src="/static/ng/service/comment.js"></script>
  <script src="/static/ng/service/discussion.js"></script>
  <script src="/static/ng/service/pusher.js"></script>
  <script src="/static/ng/service/genericFunctions.js"></script>
  <script src="/static/ng/service/intro.js"></script>
  <script src="/static/ng/service/attachment.js"></script>
  <!-- Add New Service JS Above -->

  <!-- Directive JS -->
  <script src="/static/ng/directive/form.js"></script>
  <script src="/static/ng/directive/activity/activity.js"></script>
  <script src="/static/ng/directive/mentions/mentionsbox.js"></script>
  <script src="/static/ng/directive/mentions/mentionscontainer.js"></script>
  <script src="/static/ng/directive/filepicker.js"></script>
  <script src="/static/ng/directive/auth.js"></script>
  <script src="/static/ng/directive/modal.js"></script>
  <script src="/static/ng/directive/attachment/list-attachment.js"></script>
  <script src="/static/ng/directive/attachment/manage-attachment.js"></script>
  <script src="/static/ng/directive/sticky-elements/sticky-elements.js"></script>
  <!-- Add New Directive JS Above -->

  <!-- Filter JS -->
  <script src="/static/ng/filter/string.js"></script>
  <script src="/static/ng/filter/datetime.js"></script>
  <script src="/static/ng/filter/dictionary.js"></script>
  <script src="/static/ng/filter/participant.js"></script>
  <!-- Add New Filter JS Above -->

  <!-- Partial JS -->
  <script src="/static/ng/partial/home/home.js"></script>
    <script src="/static/ng/partial/markdown/markdown-info.js"></script>

  <script src="/static/ng/partial/checklist/checklist.js"></script>
  <script src="/static/ng/partial/discussion/discussion.js"></script>
  <script src="/static/ng/partial/discussion/manage-thread-participants.js"></script>
  <script src="/static/ng/partial/discussion/create-thread.js"></script>
  <script src="/static/ng/partial/closing/closing.js"></script>
  <script src="/static/ng/partial/navigation/navigation.js"></script>
  <script src="/static/ng/partial/participant-invite/participant-invite.js"></script>
  <script src="/static/ng/partial/request-revision/request-revision.js"></script>
  <script src="/static/ng/partial/request-review/request-review.js"></script>
  <script src="/static/ng/partial/request-signing/request-signing.js"></script>
  <script src="/static/ng/partial/view-document/view-document.js"></script>
  <script src="/static/ng/partial/view-review/view-review.js"></script>
  <script src="/static/ng/partial/view-signing/view-signing.js"></script>
  <script src="/static/ng/partial/searchCtrl/searchCtrl.js"></script>
  <script src="/static/ng/partial/authentication-required/authentication-required.js"></script>
  <script src="/static/ng/partial/edit-revision-status/edit-revision-status.js"></script>
  <!-- Add New Partial JS Above -->

   <div class="navbar navbar-inverse checklist-nav" ng-controller="NavigationCtrl">
    <div class="navbar-header">
        <div class="logo-mark">
            <a href="/">
              <img src="/static/images/logo-white-icon.png">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-matters hidden-xs" ng-show="matter.selected&&data.matterlist.length>1">
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" ng-bind="matter.selected.name | characters:15:true"></a>
              <ul class="dropdown-menu ng-cloak">
                <li ng-repeat="m in data.matterlist" ng-show="m.name!=matter.selected.name">
                    {% verbatim %}<a href="/matters/{{ m.slug  }}" ng-if="m.client">{{ m.name }} - {{m.client.name}}</a>{% endverbatim %}
                    {% verbatim %}<a href="/matters/{{ m.slug  }}" ng-if="!m.client">{{ m.name }}</a>{% endverbatim %}
                </li>
              </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav" ng-show="matter.selected&&data.matterlist.length<=1">
            <li><a href="javascript:;" ng-bind="matter.selected.name | characters:15:true"></a></li>
        </ul>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
          </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-show="matter.selected">
        <li id="checklist-nav" ng-class="{'active': isActive('/checklist')}">
          <a href="#/checklist" title="Checklist"><span class="fui-list"></span></a>
        </li>
<!--    Hidden until last few points are sorted out
        <li id="discussion-nav" ng-class="{'active': isActive('/discussion')}">
          <a href="#/discussion" title="Discussion"><span class="fui-chat"></span></a>
        </li> -->
        <!-- Hide for now - discussed 2014-03-14
        <li id="closing-nav" ng-class="{'active': isActive('/closing')}">
            <a ng-href="#/closing">Closing</a>
        </li> -->
        <li class="checklist-members hidden-xs">
          <a href="javascript:;" ng-click="invite()">
            <span class="fui-user"></span>
            <span ng-if="matter.selected&&matter.selected.participants.length>0&&matter.selected.participants.length<=3">
                <span class="user hidden-md hidden-xs hidden-sm" ng-repeat="user in matter.selected.participants" ng-bind="user | initials"></span>
            </span>
            <span ng-if="matter.selected&&matter.selected.participants.length>3">
                <span class="user" ng-bind="matter.selected.participants.length"></span>
            </span>

          </a>
        </li>
        </ul>

        <form class="navbar-form navbar-left hidden-sm hidden-xs " ng-show="$root.searchEnabled" ng-controller="SearchCtrl" ng-submit="startSearch()">

        <div class="form-group">
          <div class="input-group input-group-sm">
            <input class="form-control" id="navbarInput-02" type="search" placeholder="Search" ng-model="data.term" ng-keyup="startSearch()" ng-blur="hide()" xng-focus="show()" autocomplete="off" onmouseup="this.select()">
            <span class="input-group-btn">
              <button type="submit" class="btn"><span class="fui-search"></span></button>
            </span>

            <!-- filter //-->
            {% verbatim %}
            <span class="input-group-btn custom-btn-round">
              <button
                class="btn btn-default dropdown-toggle btn-xs doc-outline-status-{{matter.selectedStatusFilter}}"
                type="button"
                data-toggle="dropdown">
                <span class="fa fa-filter"></span>
                <span ng-if="matter.selectedStatusFilter!==null" class="status-dot status-{{matter.selectedStatusFilter}}"></span>
              </button>
              <ul class="dropdown-menu dropdown-inverse dropdown-small status-list">
                <li ng-repeat="(key, status) in matter.selected._meta.item.custom_status">
                  <a href="javascript:;" ng-click="applyStatusFilter( { 'status': key }, key );"> <span class="icon status-{{ key }}"></span> {{ status }}</a>
                </li>
                <li>
                  <a href="javascript:;" ng-click="applyItemFilter( { 'is_complete': false }, 'open' );"> <span class="icon status-open"></span> Open</a>
                </li>
                <li>
                  <a href="javascript:;" ng-click="applyItemFilter( { 'is_complete': true }, 'closed' );"> <span class="icon status-closed"></span> Closed</a>
                </li>
                <li>
                  <a href="javascript:;" ng-click="applyStatusFilter( null );"> <span class="icon status-placeholder"></span> Clear filter</a>
                </li>
              </ul>
            </span>
            {% endverbatim %}
          </div>
        </div>

        <div class="search-container">
          <div ng-class="{'show-results-container': data.display}">
            <ul class="search-results list-unstyled">
              <li class="result-item reveal-animation" ng-repeat="result in data.searchResults.results">
                <a href="javascript:;" ng-click="selectItem(result)">
                    <p ng-bind="result.name"></p>
                    <p ng-show="result.description"><small ng-bind="result.description"></small></p>
                    <p ng-show="result.latest_revision"><small ng-bind="result.latest_revision.name"></small> <small ng-bind="result.latest_revision.slug"></small></p>
                </a>
              </li>
            </ul>
          </div>
        </div>

        </form>
      <!-- /nav -->

      {% verbatim %}
      <ul class="nav navbar-nav navbar-right">

        <!-- start: desktop notifications / notifications //-->
        <li class="notifications">
          <a href="/notifications/" ng-class="matter.selected.current_user.has_notifications ? 'unread' : ''">
            <span ng-class="matter.selected.current_user.has_notifications ? 'swing' : ''" class="pe-7s-bell animated-slow"></span>
          </a>
        </li>
        <!-- end: desktop notifications / notifications //-->

        <li>
          <a href="/requests/">
            <span>Requests</span>
            <span class="label label-important" ng-show="matter.selected.current_user.counts.requests > 0"></span>
          </a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Support</span><b class="caret"></b>
            </a>
            <ul class='dropdown-menu'>
              <li><a href="#" class="intercom">Contact</a></li>
              <li><a href="#" ng-click="showIntro()">Tutorial</a></li>
            </ul>
        </li>
        <li class="divider hidden-xs hidden-sm"></li>
        <li class="dropdown ng-cloak">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="hidden-lg hidden-xs">{{ matter.selected.current_user | initials }} <b class="caret"></b></span>
          <span class="hidden-md hidden-sm hidden-xs">{{ matter.selected.current_user | fullname }} <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/me/settings/">Account</a></li>
            <li><a href="/me/plans">Billing</a></li>
            <li><a href="/me/payments">Payments</a></li>
            <li><a href="/end/">Sign out</a></li>
          </ul>
        </li>
      </ul>
      {% endverbatim %}
      <!-- /nav -->

  </div>
    <!--/.navbar-collapse -->
  </div>
  <div ui-view class="full"></div>
  <span id="landmine"></span>
  <script language="javascript" data-remove="exclude">
    angular.module('toolkit-gui').constant('API_BASE_URL', '/api/v1/');
    angular.module('toolkit-gui').constant('STATUS_LEVEL', {'OK':0,'WARNING':1,'ERROR':2} );
    angular.module('toolkit-gui').constant('DEBUG_MODE', true);
    angular.module('toolkit-gui').constant('SENTRY_PUBLIC_DSN', 'https://5584db708b75400fb439d4592c29fc9a@sentry.ambient-innovation.com/24' );
    angular.module('toolkit-gui').constant('INTERCOM_APP_ID', 'wkxzfou' );
    angular.module('toolkit-gui').constant('pusher_api_key', '60281f610bbf5370aeaa' );
  </script>
</body>
</html>
