<div class="modal-content" xmlns="http://www.w3.org/1999/html" id="markdown-modal">
  <div class="modal-header">
    <h4 class="modal-title">Lawpal Supports Markdown</h4>
  </div>
  <div class="modal-body">
    <div class="col-sm-12">
    Markdown is a way for you to control the formatting of your text. You can make words bold or italic, add headings, and create formatted lists.
  </div>
  <div class="col-sm-12 text-center">
    <h6>Emphasis</h6>
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <b>Syntax</b>
    </div>
    <div class="col-sm-6">
      <b>Result</b>
    </div>
  </div>
  <div class = "row">
    <div class="col-sm-5 col-sm-offset-1">
      <div>Some of this text is **Bold**</div>
      <div>This will also be __Bold__ </div>

    </div>
    <div class="col-sm-6">
      <div>Some of this text is <b>Bold</b></div>
       <div>This will also be <b>Bold</b></div>
    </div>
  </div>
   <div class = "row">
    <div class="col-sm-5 col-sm-offset-1">
      <div>Add *emphasis* with italics.</div>
      <div>Add _emphasis_ with italics.</div>
    </div>
    <div class="col-sm-6">
      <div>Add <i>emphasis</i> with italics.</div>
      <div>Add <i>emphasis</i> with italics.</div>
    </div>
  </div>

    <div class = "row">
    <div class="col-sm-5 col-sm-offset-1">
      <div>
        This Text Will be Larger.<br>
        =========================
      </div>
      <div>
      </div>
    </div>
    <div class="col-sm-6">
      <div><span style="font-size: 18px">This Text Will be Larger</span></div>
      <div>Add <i>emphasis</i> with italics.</div>
    </div>
  </div>
  </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>//-->
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>