<div class="modal-content" xmlns="http://www.w3.org/1999/html" id="markdown-modal">
  <div class="modal-header">
    <h4 class="modal-title">Lawpal Supports Markdown</h4>
  </div>
  <div class="modal-body">
    <div class="col-sm-12">
    Markdown is a way for you to control the formatting of your text. You can make words bold or italic, add headings, and create formatted lists.
  </div>
  <div class="col-sm-12 heading text-left">
    Emphasis
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <b>Syntax</b>
    </div>
    <div class="col-sm-6">
      <b>Result</b>
    </div>
  </div>
  <div class = "row">
    <div class="col-sm-5 col-sm-offset-1">
      <div>Some of this text is **Bold**</div>
      <div>This will also be __Bold__ </div>

    </div>
    <div class="col-sm-6">
      <div>Some of this text is <b>Bold</b></div>
       <div>This will also be <b>Bold</b></div>
    </div>
  </div>
   <div class = "row">
    <div class="col-sm-5 col-sm-offset-1">
      <div>Add *emphasis* with italics.</div>
      <div>Add _emphasis_ with italics.</div>
    </div>
    <div class="col-sm-6">
      <div>Add <i>emphasis</i> with italics.</div>
      <div>Add <i>emphasis</i> with italics.</div>
    </div>
  </div>
 <div class="col-sm-12 heading text-left">
    Structure
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <b>Syntax</b>
    </div>
    <div class="col-sm-6">
      <b>Result</b>
    </div>
  </div>
    <div class = "row">
    <div class="col-sm-5 col-sm-offset-1">
      <div>
        This is a Heading.<br>
        =========================
      </div>
      <div>
        ###This is a Heading.
      </div>
    </div>
    <div class="col-sm-6">
      <div><span style="font-size: 18px; font-weight: bold;">This is a Heading.</span></div>
      <br>
      <div><span style="font-size: 18px; font-weight: bold;">This is a Heading.</span></div>
    </div>
  </div>
      <div class = "row">
    <div class="col-sm-5 col-sm-offset-1">
      <div>
        *   Unordered List Item<br>
        *   Another Unordered List Item<br>
        *   And Another<br>
      </div>
      <div>
      </div>
    </div>
    <div class="col-sm-6">
         <ul>
          <li>Unordered List Item</li>
          <li>Another Unordered List Item</li>
          <li>And Another</li>
        </ul>
    </div>
  </div>
  </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>//-->
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>