<div class="tasks-wrapper">
    <div class="item-subheading">Tasks<span class="number-of"> ({{ data.tasks.length }})</span>
        <a class="btn-link" href="javascript:;" ng-click="manageTask()" ng-hide="selectedItem.is_complete">New Task</a>
    </div>
<!--     <div class="task-progress">
        <div class="bar" style="width: {{ data.taskCompletionStatus }}%"></div>
    </div> -->

    <ul class="all-tasks">

        <li class="one-task" ng-repeat="task in data.tasks">
            <ul class="one-task">
                <li class="icon" ng-click="toggleCompleteTask(task)"><span class="" ng-class="{'incomplete fui-radio-unchecked': !task.is_complete, 'fui-check-inverted complete': task.is_complete }"></span></li>

                <li class="task-name" ng-class="{'incomplete': !task.is_complete, 'complete': task.is_complete }">{{ task.name }}</li>
                    <li class="task-status">
                    <div ng-show="task.assigned_to.length>0">
                        Assigned to <span ng-repeat="user in task.assigned_to">{{ user.initials }}&nbsp;</span>
                    </div>
                </li>
                <li class="due-date">
                    <span ng-show="task.date_due&&!isTaskOverdue(task)">Due in {{ task.date_due|fromnow }}</span>
                    <span ng-show="isTaskOverdue(task)" class="overdue">Overdue</span>
                </li>
                <li class="delete-task">
                    <a href="#" ng-click="manageTask(task)" ng-class="{'incomplete': !task.is_complete, 'complete': task.is_complete }"><i class="fa fa-pencil-square-o"></i></a>
                </li>
                <li class="delete-task"><a href="#" ng-click="deleteTask(task)" ng-show="isDeleteTaskEnabled(task)">X</a></li>
            </ul>
        </li>
    </ul>
</div>

