<div class="tasks-wrapper">
    <div class="item-subheading">Tasks
        <span class="number-of"> ({{ data.tasks.length }}) </span>
        <a class="btn-link" href="javascript:;" ng-click="manageTask()" ng-show="isNewTaskEnabled()">New Task</a>
    </div>
    <div class="tasks-zero-state" ng-if="data.tasks.length == 0">
        <span ng-hide="selectedItem.is_complete">
           <h4>No Tasks Yet</h4>
       </span>
       <span ng-hide="!selectedItem.is_complete">
        <h4>This Checklist Item has been completed</h4>
        Cannot add new Tasks
    </span>
</div>
<div class="task-progress" ng-if=" data.tasks.length > 0">
    <div class="bar" style="width: {{ data.taskCompletionStatus }}%"></div>
</div>

<ul class="all-tasks" ng-if=" data.tasks.length > 0">
    <li class='heading'>
        <ul class="one-task heading">
            <li class="stat-label">
                Status
            </li>
            <li class="task-name">
                Name
            </li>
            <li class="task-status">
                Assigned To
            </li>
            <li class="due-date">
                Due Date
            </li>

        </ul>
    </li>

    <li class="one-task" ng-repeat="task in data.tasks">

        <ul class="one-task">
            <li class="icon" ng-click="toggleCompleteTask(task)"><span class="" ng-class="{'incomplete fui-radio-unchecked': !task.is_complete, 'fui-check-inverted complete': task.is_complete }"></span></li>

            <li class="task-name" ng-class="{'incomplete': !task.is_complete, 'complete': task.is_complete }">{{ task.name  | characters:30:true}}</li>
            <li class="task-status">
                <div ng-show="task.assigned_to.length>0">
                    <span ng-repeat="user in task.assigned_to">{{ user.initials }}&nbsp;</span>
                </div>
                <div ng-if="task.assigned_to.length===0&&currentUser.permissions.manage_tasks">
                    <a href="#" ng-click="manageTask(task)">Assign Task</a>
                </div>
            </li>
            <li class="due-date">
                <div ng-if="!task.is_complete">
                    <span ng-show="task.date_due&&!isTaskOverdue(task)&&!task.is_complete">{{ task.date_due|fromnow }}</span>
                    <span ng-show="isTaskOverdue(task)" class="overdue">Overdue</span>
                </div>
            </li>
            <li class="delete-task">
                <a href="#" ng-click="manageTask(task)" ng-class="{'incomplete': !task.is_complete, 'complete': task.is_complete }" tooltip-placement="left" tooltip="Edit this Task"><i class="fa fa-pencil-square-o"></i></a>
            </li>
            <li class="delete-task"><a href="#" ng-click="deleteTask(task)" ng-show="isDeleteTaskEnabled(task)" tooltip-placement="left" tooltip="Delete this Task">X</a></li>
        </ul>
    </li>
</ul>
</div>

