<div class="modal-content new-task">
    <div class="modal-header">
        <h4 class="modal-title">
            <i class="fa fa-list-ul"></i>
            <span ng-hide="task.slug">Add new Task to Item {{ checklistItem.name }}</span>
            <span ng-show="task.slug">Task in Item {{ checklistItem.name }}</span>
        </h4>
    </div>
    <form class="form" role="form" ng-submit="submitTask()">
        <div class="modal-body">
            <div class="form-group">
                <label for="task-name">Task Name</label>
                <input type="text" class="form-control input-md" placeholder="Ex: File Document" ng-model="task.name"/>
            </div>
            <div class="form-group">
                <label for="task-name">Task Description</label>
                <textarea class="form-control" mentions-box container-position="left" msd-elastic
                          placeholder="Enter a description for this task"
                          text="task.description"></textarea>
            </div>
            <div class="form-group">
                <label class="task" for="assign-task">Assign this Task</label>
                <ul class="list-unstyled">
                    <li ng-repeat="person in participants">
                        <label class="checkbox" ng-class="{'checked':data.selectedUsers[person.username]!=null}"
                               ng-click="toggleUser(person)">
						<span class="icons">
							<span class="first-icon fui-checkbox-unchecked"></span>
							<span class="second-icon fui-checkbox-checked"></span>
						</span>
                            <label ng-bind="person | fullname"></label>
                            <label ng-show="person.username==currentUser.username"> (you)</label>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-success pull-right" type="submit">Create Task</button>
            <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>