{% extends 'pdf/base.html' %}{% load me_tags %}
{% block styleextra %}
    span {
        color: #666;
        background-color:#FAF0E6;
    }
    .address-header {
        text-align:right;
        width: 50%;
        float:right;
        text-transform:uppercase;
        color:#ccc;
        font-size:12px;
        font-weight:bold;
    }
    .logo {
        width:40%;
        height:170px;

    }
    .footer {
    position: absolute;
    bottom:0;
}
{% endblock %}

{% block content %}

<!-- Page 1 : Cover Letter  -->
{% lawyer_header lawyer=object.workspace.lawyer %}

<div>
    <div>{{ signatory_full_name|default:'<span>[Signatory Name]</span>' }}</div>
    <div>{{ address1|default:'<span>[Signatory Address]</span>' }}</div>
    {% if address2 %}<div>{{ address2 }}</div>{% endif %}
    <div>{{ city|default:'<span>[Signatory City]</span>' }}</div>
    <div>{{ state|default:'<span>[Signatory State]</span>' }} {{ post_code|default:'<span>[Signatory Zip Code]</span>' }}</div>
    <br />
</div>

{{ body }}

{% lawyer_footer lawyer=object.workspace.lawyer %}

{% endblock %}
