Dear {{ instance.user.get_full_name|default:instance.user.email }},
<br>
<br>
I'm looking forward to working together and thank you for choosing our firm.
<br>
<br>
<strong>Follow this invitation link to gain access to your Engagement Letter:</strong>
<br>
{{ action_url }}
<br>
<br>
If you approve of the engagement letter, please go ahead and sign it. A fully executed copy will be stored on LawPal and is accessible by you at any time.
<br>
<br>
Please feel free to contact me with any questions or concerns you may have.
<br>
<br>
Regards
<br>
{{ user.get_full_name|default:user.email }}
