{% extends 'workspace/workspace_tool_preview.html' %}{% load url from future %}{% load crispy_forms_tags django_bootstrap_breadcrumbs toolkit_tags %}

{% block page_title %}Sign the Engagement Letter{% endblock  %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block main %}

    {% block overview %}
        <h4>Sign the Engagement Letter</h4>
        <p class="">Once you are ready to digitally sign your engagement letter with {{ object.workspace.lawyer }}, click the continue button below.</p>
        <p class="">You will then be taken to HelloSign.com where this step can be completed.</p>
        <hr />
    {% endblock %}

    {% block preview %}
        {% if not object.signature_request_id %}
            {{ block.super }}
            {% include 'partials/form-errors.html' with form=form %}
            {% crispy form %}
        {% else %}
            <div id="hello_sign_interface"></div>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block js %}
    {% if not object.signature_request_id %}
        {{ block.super }}
    {% else %}
        <script src="//s3.amazonaws.com/cdn.hellofax.com/js/embedded.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            HelloSign.init(window.GLOBALS.HELLOSIGN_CLIENT_ID);
            HelloSign.open({
                url: "{{ object.signing_url }}",                           // Signature url your fetched via the API on your server
                redirectUrl: "{% FULL_DOMAIN_PATH object.get_absolute_url %}",     // (optional) Where to go after the user signed
                allowCancel: true,                              // (optional) Whether to allow the user to cancel i.e. close the iFrame without signing (default is true)
                messageListener: function(eventData) {          // (optional) Called whenever the iFrame is messaging your page
                    /*  do something */ 
                }    
            });
        });
        </script>
    {% endif %}
{% endblock %}