{% extends 'workspace/workspace_tool_preview.html' %}{% load url from future %}{% load crispy_forms_tags django_bootstrap_breadcrumbs toolkit_tags hello_sign_tags %}

{% block page_title %}Sign the Engagement Letter{% endblock  %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block main %}

    {% block overview %}
        <h4>Sign the Engagement Letter</h4>
        <p class="">Once you are ready to digitally sign your engagement letter with {{ object.workspace.lawyer }}, click the continue button below.</p>
        <p class="">You will then be taken to HelloSign.com where this step can be completed.</p>
        <hr />
    {% endblock %}

    {% block preview %}
        {% if not object.signature_request_id %}
            {{ block.super }}
            {% include 'partials/form-errors.html' with form=form %}
            {% crispy form %}
        {% else %}
            <div id="hello_sign_interface" class="row">
                {% for s in object.signatures %}
                    <div class="col-md-3">
                        <label><strong>{{ s.signer_name }}</strong></label><br/>{{ s.signer_email_address }}<br/>
                        <label><strong>Status:</strong></label> {{ s.status_code|status_code_name }}<br/>
                        {% if s.signed_at %}
                            <label><strong>Signed On:</strong></label> {{ s.signed_at|timestamp_to_date|date:"SHORT_DATETIME_FORMAT" }}<br/>
                        {% else %}
                            <label><strong>Viewed:</strong></label> {{ s.last_viewed_at|timestamp_to_date|default:"Has not viewed the item yet." }}<br/>
                            <label><strong>Reminded:</strong></label> {{ s.last_reminded_at|timestamp_to_date|default:"Has not been reminded yet." }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block js %}
    {% if not object.signature_request_id %}
        {{ block.super }}
    {% else %}

        {% signer_url_js object user.email %}

    {% endif %}
{% endblock %}