<ul class="group list-unstyled checklist-items">
	<li 
		ng-repeat="item in cat.items"
		ng-click="selectItem(item, cat)"
		ng-class="{ 'item-closed': item.is_complete, 'item-open': !item.is_complete, 'selected': item.slug===data.selectedItem.slug }"
		ng-file-drop="onFileDropped($files, item, this);selectItem(item, cat);"
		ng-file-drag-over-class="file-drag-over"
		ui-sref="checklist.item({ 'itemSlug': item.slug })"
	>
		<div class="row">
			<div class="col-xs-6 item-title">
				<span class="fui-list-columned"></span>
				<span ng-bind="item.name"></span>
			</div>
			<div class="col-xs-6">
				<span ng-hide="item.is_complete" class="status pull-right">
					<button
						disabled=""
						class="btn btn-xs doc-status-{{ item.latest_revision.status }}"
						ng-show="item.latest_revision&&!item.is_requested">
							{{ data.matter._meta.item.custom_status[item.latest_revision.status] }}
					</button>
					<button 
						class="btn btn-xs {{ item.date_due | duestatus }}"
						ng-show="item.date_due" 
						disabled>
							{{ item.date_due | date:'dd MMM' }}
					</button>
					<button 
						disabled=""
						class="btn btn-warning btn-xs"
						ng-show="item.is_requested">
							<span class="fui-time"></span>
							Awaiting Files
							<span ng-bind="item.responsible_party | initials:true"></span>
					</button>
					<button 
						disabled="" class="btn btn-warning btn-xs"
						ng-show="!item.is_requested&&item.latest_revision.reviewers.length>0&&getReviewPercentageComplete(item)==0">
							<span class="fui-time"></span>
							Review in progress
					</button>
					<button
						disabled="" class="btn btn-warning btn-xs"
						ng-show="!item.is_requested&&item.latest_revision.reviewers.length>0&&getReviewPercentageComplete(item)>0&&getReviewPercentageComplete(item)<100">
							<span class="fui-user"></span>
							Review {{ getReviewPercentageComplete(item) }}%
					</button>
				</span>
				<span class="fui-check-inverted pull-right" ng-show="item.is_complete"></span>
			</div>
		</div>
	</li>
</ul>