<ul ui:sortable="checklistItemSortableOptions" ng:model="cat.items" class="group list-unstyled checklist-items">
	<li
		ng-repeat="item in cat.items | itemStatusFilter: matter.statusFilter | itemFilter: matter.itemFilter"
		ng-click="delayselectItem(item, cat)"
		ng-class="{ 'item-closed': item.is_complete, 'item-open': !item.is_complete, 'selected': item.slug===data.selectedItem.slug }"
		ng-file-drop="onFileDropped($files, item, this);selectItem(item, cat);"
		ng-file-drag-over-class="file-drag-over"
		ui-sref="checklist.item({ 'itemSlug': item.slug })"
	>
		<div class="row">
			<div class="col-xs-6 item-title">
				<span class="fui-list-columned"></span>
				<span ng-bind="item.name" ng-class="{'loading': item.loading}"></span>
			</div>
			<div class="col-xs-6">
				<span ng-hide="item.is_complete" class="pull-right status">
					<button
						disabled=""
						class="btn btn-xs doc-status-{{ item.latest_revision.status }}"
						class="btn btn-xs doc-status-{{ item.latest_revision.status }} checklist-item-status"
						ng-show="item.latest_revision&&!item.is_requested">
                            {{ data.matter._meta.item.custom_status[item.latest_revision.status] }}
					</button>
					<button
						class="btn btn-xs {{ item.date_due | duestatus }} checklist-item-due-date"
						ng-show="item.date_due"
						disabled>
							{{ item.date_due | date:'dd MMM' }}
					</button>
					<button
						disabled=""
						class="btn btn-warning btn-xs checklist-item-awaiting"
						ng-show="item.is_requested">
							<span class="fui-time"></span>
							Awaiting Files
							<span ng-bind="item.responsible_party | initials:true"></span>
					</button>

					<!-- REVIEW STATUS //-->
					<!--
                    <button disabled="" class="btn btn-warning btn-xs"
                        ng-show="!item.is_requested&&item.review_percentage_complete==0">
                        <span class="fui-time"></span> Review in progress
                    </button>
                    //-->
                    <button disabled=""
                    		class="btn btn-warning btn-xs checklist-item-review-percent"
                            ng-show="!item.is_requested&&item.review_percentage_complete!==null&&item.review_percentage_complete>=0&&item.review_percentage_complete<=100">
                        <span class="fui-user"></span> Review {{ item.review_percentage_complete }}%
                    </button>

                    <!-- SIGNING STATUS //-->
                    <button disabled=""
                    		class="btn btn-warning btn-xs checklist-item-signing-percent"
                            ng-show="item.signing_percentage_complete!==null&&item.signing_percentage_complete>=0&&item.signing_percentage_complete<=100">
                        <span class="fui-user"></span> Signing {{ item.signing_percentage_complete }}%
                    </button>
				</span>
                <span class="tasks-status-checklist pull-right">
                  <i class="fa fa-list-ul "></i> (5/7)
                </span>
				<span class="pe-7s-check pull-right checklist-item-complete" ng-show="item.is_complete"></span>
				<span ng-if="item.loading">
					<i class="fa fa-spinner fa-spin pull-right fapad"></i>
				</span>
			</div>
		</div>
   <!--  <span class="outstanding-work">
      <i class="fa fa-circle"></i>
    </span> -->
	</li>
</ul>