<thead>
	<tr ng-class="{'category-uncategorized': !cat.name}" class="ui-drag-disabled">
		<th colspan="1" class="col-sm-6 category">
			<span ng-bind="cat.name" ng-hide="data.showEditCategoryForm==$index"></span>
			<span ng-hide="data.showEditCategoryForm==$index||cat.name">UNCATEGORIZED</span>
			<input class="form-control input-sm" ng-show="data.showEditCategoryForm==$index" type="search"
				   ng-model="data.newCategoryName" ng-enter="editCategory(cat)" ng-blur="data.showEditCategoryForm=null" focus-on="eventEditCategorytitle-{{$index}}">
		</th>
		<th class="category-controls">
			<div class="btn-group pull-right" ng-show="data.usdata.current.user_class=='lawyer'">
					<button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown"><span class="fui-triangle-down"></span></button>
					<ul class="dropdown-menu dropdown-inverse dropdown-small">
						<li><a href="javascript:;" ng-click="showAddItemForm($index);">New Item</a></li>
						<li><a href="javascript:;" ng-click="data.showCategoryAddForm=!data.showCategoryAddForm;focus('eventAddCategory');">Add Category</a></li>
						<li><a href="javascript:;" ng-click="data.newCategoryName=cat.name;showEditCategoryForm($index);" ng-hide="!cat.name">Edit Category</a></li>
						<li><a href="javascript:;" ng-click="deleteCategory(cat);" ng-hide="!cat.name">Delete Category</a></li>
					</ul>
			</div>
		</th>
	 </tr>

	 <tr class="add-new-controls warning" ng-show="data.showAddForm==$index">
		<td colspan="2">
			<div class="input-group">
				<input class="form-control input-sm" id="appendedInputButton-03" type="search" placeholder="Enter item name and press enter"
					   ng-model="data.newItemName" ng-enter="submitNewItem(cat)" ng-blur="data.showAddForm=null" focus-on="eventNewItem-{{$index}}">
				<!--<div class="input-group-btn">
					<button class="btn btn-link  dropdown-toggle input-sm" type="button" data-toggle="dropdown"><span class="fui-gear"></span></button>
					<ul class="dropdown-menu dropdown-inverse dropdown-small">
						<li><a href="#fakelink">Set closing group</a></li>
						<li><a href="#fakelink">Set description</a></li>
						<li><a href="#fakelink">Set due date</a></li>
					</ul>
			  </div>-->
			</div>
		</td>
	</tr>
</thead>

<!-- LAWYER checklist items //-->
<tbody ui:sortable="checklistItemSortableOptions" ng:model="cat.items" class="group" ng-show="data.usdata.current.user_class=='lawyer'">
	<tr class="item-heading animation" ng-repeat="item in cat.items" ng-click="selectItem(item, cat)"
		 ng-class="{ 'item-closed': item.is_complete, 'item-open': !item.is_complete, 'selected': item.slug===data.selectedItem.slug, 'tr-min-height':item.placeholder, 'tr-min-show': data.dragging }"
		 ng-file-drop="onFileDropped($files, item, this);selectItem(item, cat);" ng-file-drag-over-class="file-drag-over"
		 ui-sref="checklist.item({ 'itemSlug': item.slug })">
		<td class="item-title">
			
			<span class="fui-list-columned"></span>
			<span ng-bind="item.name"></span>
		</td>

		<td class="status text-right">
			<span ng-hide="item.is_complete">
				<button disabled="" class="btn btn-xs doc-status-{{ item.latest_revision.status }}" ng-show="item.latest_revision&&!item.is_requested">
				   {{ data.matter._meta.revision.status | valueforkey:item.latest_revision.status }}
				</button>
				<button class="btn btn-xs {{ item.date_due | duestatus }}" ng-show="item.date_due" disabled>
					{{ item.date_due | date:'dd MMM' }}
				</button>
				<button disabled="" class="btn btn-warning btn-xs" ng-show="item.is_requested">
					<span class="fui-time"></span> Awaiting Files <span ng-bind="item.responsible_party | initials:true"></span>
				</button>
                <button disabled="" class="btn btn-warning btn-xs"
                        ng-show="!item.is_requested&&item.review_percentage_complete==0">
					<span class="fui-time"></span> Review in progress
				</button>
                <button disabled="" class="btn btn-warning btn-xs"
                        ng-show="!item.is_requested&&item.review_percentage_complete>0&&item.review_percentage_complete<1">
                    <span class="fui-user"></span> Review {{ item.review_percentage_complete * 100 }}%
                </button> <!--getReviewPercentageComplete(item)-->
			</span>
			<span class="fui-check-inverted" ng-show="item.is_complete"></span>
		</td>
	</tr>
</tbody>
<tbody ng-show="cat.items.length==0" ng-show="data.usdata.current.user_class=='lawyer'">
	<tr ng-show="cat.items.length==0&&data.showAddForm!=$index"><td colspan="2" ng-click="showAddItemForm($index);"><span class=" btn btn-info btn-xs">Add the first item</span></td></tr>
</tbody>
<!-- end LAWYER checklist //-->

<!-- CUSTOMER checklist items //-->
<tbody class="group" ng-show="data.usdata.current.user_class!=='lawyer'">
	<tr class="item-heading animation" ng-repeat="item in cat.items" ng-click="selectItem(item, cat)"
		 ng-class="{ 'item-closed': item.is_complete, 'item-open': !item.is_complete, 'selected': item.slug===data.selectedItem.slug }"
		 ng-file-drop="onFileDropped($files, item, this);selectItem(item, cat);" ng-file-drag-over-class="file-drag-over" ui-sref="checklist.item({ 'itemSlug': item.slug })">
		<td class="item-title">
			
			<span class="fui-list-columned"></span>
			<span ng-bind="item.name"></span>
		</td>

		<td class="status text-right">
			<span ng-hide="item.is_complete">
				<button disabled="" class="btn btn-xs doc-status-{{ item.latest_revision.status }}" ng-show="item.latest_revision&&!item.is_requested">
				   {{ data.matter._meta.revision.status | valueforkey:item.latest_revision.status }}
				</button>
				<button class="btn btn-xs {{ item.date_due | duestatus }}" ng-show="item.date_due" disabled>
					{{ item.date_due | date:'dd MMM' }}
				</button>
				<button disabled="" class="btn btn-warning btn-xs" ng-show="item.is_requested">
					<span class="fui-time"></span> Awaiting Files <span ng-bind="item.responsible_party | initials:true"></span>
				</button>
                <button disabled="" class="btn btn-warning btn-xs" ng-show="!item.is_requested&&item.latest_revision.reviewers.length>0&&getReviewPercentageComplete(item)==0">
					<span class="fui-time"></span> Review in progress
				</button>
                <button disabled="" class="btn btn-warning btn-xs"
                        ng-show="!item.is_requested&&item.latest_revision.reviewers.length>0&&getReviewPercentageComplete(item)>0&&getReviewPercentageComplete(item)<100">
                    <span class="fui-user"></span> Review {{ getReviewPercentageComplete(item) }}%
                </button>
			</span>
			<span class="fui-check-inverted" ng-show="item.is_complete"></span>
		</td>
	</tr>
</tbody>
<!-- CUSTOMER checklist items //-->