<div class="row checklist-header">
	<div class="col-xs-8">
		<h5
			ng-bind="cat.name"
			ng-hide="data.showEditCategoryForm==$index||!cat.name">
		</h5>
		<h5
			ng-hide="data.showEditCategoryForm==$index||cat.name">UNCATEGORIZED
		</h5>
		<!-- Categoery form //-->
		<input
			class="form-control input-sm"
			ng-show="data.showEditCategoryForm==$index"
			type="search"
			ng-model="data.newCategoryName"
			ng-enter="editCategory(cat)"
			ng-blur="data.showEditCategoryForm=null"
			focus-on="eventEditCategorytitle-{{$index}}">
	</div>
	<div class="col-xs-4">
		<!-- category actions //-->
		<div class="btn-group pull-right" ng-show="data.usdata.current.user_class=='lawyer'">
			<button
				class="btn btn-default dropdown-toggle btn-xs"
				type="button"
				data-toggle="dropdown">
				<span class="fui-triangle-down"></span>
			</button>
			<ul class="dropdown-menu dropdown-inverse dropdown-small">
				<li>
					<a href="javascript:;" ng-click="showAddItemForm($index);">New Item</a>
				</li>
				<li>
					<a href="javascript:;" ng-click="data.newCategoryName=cat.name;showEditCategoryForm($index);" ng-hide="!cat.name">Edit Category</a>
				</li>
				<li>
					<a href="javascript:;" ng-click="deleteCategory(cat);" ng-hide="!cat.name">Delete Category</a>
				</li>
				<li>
					<a href="javascript:;" ng-click="data.showCategoryAddForm=!data.showCategoryAddForm;focus('eventAddCategory');" ng-show="!cat.name">Add Category</a>
				</li>
			</ul>
		</div>
	</div>
</div>