<tabset justified="true" type="pills">
    <tab heading="Everyone">
        <div ng-show="data.publicComments.length > 0">
            <ul class="list-unstyled comment-thread">
                <li ng-repeat="comment in data.publicComments">
                    <div class="message-content">
                        <p>
                            <span class="user-initials">{{ comment.author.initials }}:</span> {{ comment.content }}
                        </p>
                    </div>
                    <div class="meta-message">
                        <span class="meta-date">{{ comment.date_created | timeago }}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-show="data.publicComments.length == 0">
            <p class="small text-center no-comments">There are no public comments for this item.</p>
        </div>

        <div ng-mouseenter="show=true">
            <form ng-submit="submitPublicComment()">
                <textarea mentions-box class="form-control" rows="2" placeholder="Comment on this item..." text="data.selectedItem.newPublicComment" container-position="left" required></textarea>
                <button class="btn btn-inverse btn-textarea btn-xs" type="submit" ng-show="show">Submit</button>
            </form>
            <!-- <div class="visible-to"> -->
                <!-- Visible to: <span class="user ng-binding ng-scope" ng-repeat="user in matter.selected.participants" ng-bind="user | initials"></span> <span class="initials">AH, YN, TL</span> -->
            <!-- </div> -->
        </div>
    </tab>
    <tab heading="Colleagues">
        <div ng-show="data.privateComments.length > 0">
            <ul class="list-unstyled comment-thread">
                <li ng-repeat="comment in data.privateComments">
                    <div class="message-content">
                        <p>
                            <span class="user-initials">{{ comment.author.initials }}:</span> {{ comment.content }}
                        </p>
                    </div>
                    <div class="meta-message">
                        <span class="meta-date">{{ comment.date_created | timeago }}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-show="data.privateComments.length == 0">
            <p class="small text-center no-comments">There are no private comments for this item.</p>
        </div>

        <div ng-mouseenter="show=true">
            <form ng-submit="submitPrivateComment()">
                <textarea mentions-box class="form-control" rows="2" placeholder="Comment on this item..." text="data.selectedItem.newPrivateComment" container-position="left" required></textarea>
                <button class="btn btn-inverse btn-textarea btn-xs" type="submit" ng-show="show">Submit</button>
            </form>
            <!-- <div class="visible-to"> -->
                <!-- Visible to: <span class="user ng-binding ng-scope" ng-repeat="user in matter.selected.participants" ng-bind="user | initials"></span> <span class="initials">AH, YN, TL</span> -->
            <!-- </div> -->
        </div>
    </tab>
</tabset>

<h4 class="ng-scope">
    <a href="javascript:;" ng-click="activateActivityStream('item')" ng-show="data.selectedItem"
       ng-class="{'active':data.streamType=='item', 'inactive':data.streamType=='matter'}" style="margin-right:12px;">Item Activity</a>
    <a href="javascript:;" ng-click="activateActivityStream('matter')"
       ng-class="{'active':data.streamType=='matter', 'inactive':data.streamType=='item'}">All Activity</a>
</h4>
<div class="new-message row" ng-show="data.selectedItem" ng-mouseenter="show = true">
    <div class="col-xs-12">
        <form ng-submit="submitComment()" >
            <textarea mentions-box class="form-control" rows="2" placeholder="Comment on this item..." text="data.selectedItem.newcomment" container-position="left" required></textarea>
            <button class="btn btn-inverse btn-textarea btn-xs" type="submit" ng-show="show">Submit</button>
        </form>
    </div>
</div>
<ul class="list-unstyled activity-log">
    <li ng-repeat="activity in data.activitystream" ng-class="{ 'comment-faded': activity.status=='awaiting'}">
        <div activity ng-model="activity" matter-slug="data.slug" item-slug="data.selectedItem.slug"
                      user="data.usdata.current"></div>
    </li>
    <li ng-show="!data.activitystream.length"><small class="lead text-muted">Discussion and activity will appear here.</small></li>
</ul>
