<div ng-show="data.publicComments.length > 0">
    <ul class="list-unstyled comment-thread message-tabs">
        <li ng-repeat="comment in data.publicComments">
            <div class="message-content">
                <p>
                    <span class="user-initials">{{ comment.author.initials }}:</span> {{ comment.content }}
                </p>
            </div>
            <div class="meta-message">
                <span class="meta-date">{{ comment.date_created | timeago }}</span>
            </div>
        </li>
    </ul>
</div>
<div ng-show="data.privateComments.length == 0"  class="comments-zero-state">
    <p class="small text-center no-comments">There are no public comments for this item.</p>
</div>

<div ng-mouseenter="show=true" class="new-message">
    <form ng-submit="submitPublicComment()">
        <textarea mentions-box class="form-control" rows="2" placeholder="Comment on this item..." text="data.selectedItem.newPublicComment" container-position="left" required></textarea>
        <button class="btn btn-inverse btn-textarea btn-xs" type="submit" ng-show="show">Submit</button>
    </form>
    <div class="visible-to">
        Visible to: <span class="initials" ng-repeat="user in data.matter.participants" ng-class="user.role">{{ user | initials }} &nbsp;</span>
    </div>
</div>
