 <div ng-show="data.selectedItem">
    <h3>
        <a href="javascript:;" ng-click="data.editItemTitle=data.selectedItem.name;data.showEditItemTitleForm=!data.showEditItemTitleForm;focus('eventEditItemTitle')"
                ng-hide="data.showEditItemTitleForm">
            <span ng-bind="data.selectedItem.name"></span>
        </a>
        <input class="form-control input-sm" ng-show="data.showEditItemTitleForm" type="search"
               ng-model="data.editItemTitle" ng-enter="data.selectedItem.name=data.editItemTitle;saveSelectedItem();data.showEditItemTitleForm=false"
               ng-blur="data.showEditItemTitleForm=false" focus-on="eventEditItemTitle">

        <!--
        <div class="btn-group pull-right" ng-hide="data.showEditItemTitleForm">
            <a href="javascript:;" class="btn-silver btn-xs" data-toggle="tooltip" title="Part of Closing Group {{ data.selectedItem.closing_group }}"
               ng-show="data.selectedItem.closing_group" data-placement="bottom">
                <span class="fui-radio-checked"></span> {{ data.selectedItem.closing_group }}
            </a>
        </div>-->

        <div class="item-description-toggle" ng-hide="data.showEditItemDescriptionForm">
            <small class="text-muted">
                <a href="javascript:;" class="link"
                   ng-click="data.showEditItemDescriptionForm=!data.showEditItemDescriptionForm;data.editItemDescription=data.selectedItem.description;focus('eventEditItemDescription')">
                    <div btf-markdown="data.selectedItem.description | newlines"></div>
                    <span ng-hide="data.selectedItem.description">Enter item description</span>
                </a>
            </small>
        </div>
        <div class="item-description" ng-show="data.showEditItemDescriptionForm">
            <textarea class="form-control" msd-elastic placeholder="Enter a description for this item"
                      ng-model="data.editItemDescription" focus-on="eventEditItemDescription"></textarea>
            <a href="javascript:;" class="btn btn-primary btn-xs" ng-click="data.selectedItem.description=data.editItemDescription;saveSelectedItem();data.showEditItemDescriptionForm=false;">Save description</a>
            <a href="javascript:;" class="btn btn-inverse btn-xs item-description-cancel" ng-click="data.showEditItemDescriptionForm=false;">Cancel</a>
            <a href="javascript:;" class="btn btn-link btn-xs pull-right" title="Markdown help" onclick="alert('Markdown help popup like trello');">Formatting Help</a>
        </div>
    </h3>

    <!-- Begin option toolbar -->
    <div class="add-new">
        <div class="btn-group">
            <button class="btn btn-sm btn-info btn-embossed btn-add"><span class="fui-upload"></span>
               Add File
            </button>
            <button class="btn btn-info btn-sm btn-embossed dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            </button>
            <span class="dropdown-arrow dropdown-arrow-inverse dropdown-small"></span>
            <ul class="dropdown-menu dropdown-inverse">
                <li><a href="javascript:;" filepicker apikey="A4Ly2eCpkR72XZVBKwJ06z" callback="processUpload(files, data.selectedItem)">Upload File</a></li>
                <li><a href="javascript:;" data-toggle="modal" data-target="#requestFileModal" ng-click="requestRevision(data.selectedItem)">Request Revision</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a href="javascript:;" class="btn btn-sm btn-silver btn-embossed dropdown-toggle" data-toggle="dropdown">Options</a>
            <ul class="dropdown-menu dropdown-small dropdown-inverse" >
                <li><a href="javascript:;" ng-click="data.selectedItem.date_due='2014-03-16T00:00:00';saveSelectedItem();data.showItemDetailsOptions=!data.showItemDetailsOptions;">
                    <span class="fui-calendar"></span> Set due date</a>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#attachWorkflowModal"><span class="fui-calendar"></span> Add workflow</a></li>
                <li><a href="javascript:;" class="text-danger" ng-click="deleteItem();data.showItemDetailsOptions=!data.showItemDetailsOptions">
                    <span class="fui-trash text-danger"></span> Delete</a>
                </li>
            </ul>
        </div>

        <a href="javascript:;" class="btn btn-sm btn-silver btn-embossed" ng-show="data.selectedItem.date_due" ng-click="data.showDateDueDatepicker=!data.showDateDueDatepicker">
            <span class="fui-calendar"></span>{{ data.selectedItem.date_due | date:'dd MMMM' }}
        </a>
        <!--
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.selectedItem.date_due" is-open="data.showDateDueDatepicker"
                    min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->

        <a href="javascript:;" ng-click="data.selectedItem.is_complete=!data.selectedItem.is_complete;saveSelectedItem();"
           class="btn btn-sm btn-embossed pull-right" ng-class="{ 'btn-success': !data.selectedItem.is_complete, 'btn-default': data.selectedItem.is_complete}">
            <span class="fui-checkbox-checked"></span> <span ng-hide="data.selectedItem.is_complete">Close item</span><span ng-show="data.selectedItem.is_complete">Reopen item</span>
        </a>
    </div>
    <!-- End option toolbar -->

    <div class="waiting-revision text-center">
        <span class="fui-time"></span> Waiting for a revision from Ross Crawford. <a href="#">Remind</a> <a class="close" href="#">x</a>
    </div>

    <ul class="revisions list-unstyled" ng-show="data.selectedItem.latest_revision">
        <!-- Begin current revision -->
        <li class="header">Current Revision</li>
        <li class="current">
            <div class="doc-wrap">
                <span class="version">{{ data.selectedItem.latest_revision.slug }}</span>
                <h4><a href="{{ data.selectedItem.latest_revision.executed_file }}" target="_blank">{{ data.selectedItem.latest_revision.name }}</a></h4>
                <span class="close" ng-click="deleteLatestRevision()">x</span>
                <div class="desc" ng-hide="data.showEditRevisionDescriptionForm">
                     <a href="javascript:;" class="link"
                        ng-click="data.showEditRevisionDescriptionForm=!data.showEditRevisionDescriptionForm;data.editRevisionDescription=data.selectedItem.latest_revision.description;focus('eventEditLatestRevisionDescription')">
                        <div btf-markdown="data.selectedItem.latest_revision.description | newlines"></div>
                        <span ng-hide="data.selectedItem.latest_revision.description">Enter revision description</span>
                    </a>
                </div>
                <div class="item-description" ng-show="data.showEditRevisionDescriptionForm">
                    <textarea class="form-control" msd-elastic placeholder="Enter a description for this revision"
                              ng-model="data.editRevisionDescription" focus-on="eventEditLatestRevisionDescription"></textarea>
                    <a href="javascript:;" class="btn btn-primary btn-xs" ng-click="data.selectedItem.latest_revision.description=data.editRevisionDescription;saveLatestRevision();data.showEditRevisionDescriptionForm=false;">Save description</a>
                    <a href="javascript:;" class="btn btn-inverse btn-xs item-description-cancel" ng-click="data.showEditRevisionDescriptionForm=false;">Cancel</a>
                    <a href="javascript:;" class="btn btn-link btn-xs pull-right" title="Markdown help" onclick="alert('Markdown help popup like trello');">Formatting Help</a>
                </div>
                <div class="sub">{{ data.selectedItem.latest_revision.uploaded_by.name }}, {{ data.selectedItem.latest_revision.date_created | timeago }}</div>
                <div class="tools">
                    <a href="#" class="btn btn-link btn-xs"  data-toggle="modal" data-target="#viewDocumentModal">View</a>
                    <a href="#" class="btn btn-link btn-xs" data-toggle="modal" data-target="#requestReviewModal">Request Review</a>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs status-{{ data.selectedItem.latest_revision.status }}" data-toggle="dropdown">
                          {{ data.matter._meta.revision.status | valueforkey:data.selectedItem.latest_revision.status }}
                        </button>
                        <button class="btn btn-default btn-xs status-{{ data.selectedItem.latest_revision.status }}" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li class="status-{{ value }}" ng-repeat="(name, value) in data.matter._meta.revision.status">
                              <a href="javascript:;" ng-click="data.selectedItem.latest_revision.status=value;saveLatestRevision();">
                                  <span class="fui-checkbox-unchecked"></span> {{ name }}
                              </a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <!-- End current revision -->

        <li class="toggle-previous text-center" ng-show="data.selectedItem.latest_revision.revisions.length>0&&!data.showPreviousRevisions">
            <a class="btn btn-sm btn-silver" href="javascript:;" ng-click="loadPreviousRevisions()">
                <span ng-show="data.selectedItem.latest_revision.revisions.length==1">Show Previous Revision</span>
                <span ng-show="data.selectedItem.latest_revision.revisions.length>1">Show {{ data.selectedItem.latest_revision.revisions.length }} Previous Revisions</span>
            </a>
        </li>

        <li class="header previous-toggle" style="display: list-item;" ng-show="data.showPreviousRevisions">Previous Revisions</li>
        <li class="previous-toggle" style="display: list-item;" ng-show="data.showPreviousRevisions" ng-repeat="rev in data.selectedItem.previousRevisions">
            <div class="doc-wrap">
                <span class="version">{{ rev.slug }}</span>
                <h4>{{ rev.name }}</h4>
                <div class="sub">{{ rev.uploaded_by.name }}, {{ rev.date_created | timeago }}</div>
            </div>
        </li>
    </ul>

    <div class="item-help" ng-hide="data.selectedItem.latest_revision">
        <span class="fui-upload"></span>
        <h4>Upload a first revision</h4>
        Upload a first draft of this document. Move your mouse to the green upload bar at the top of this item to either upload a file or request one from another participant. You can also drag a document directly on a checklist item to add it as a revision.
    </div>

    <div class="item-help" ng-show="data.selectedItem.status==1">
        <span class="fui-time"></span>
        <h4>Waiting for a revision</h4>
        You have requested a revision from another user. Once they have supplied this revision you will be notified.
    </div>

</div>