
<div class="item-comments">
    <h4 class="ng-scope">
        <a href="javascript:;" ng-click="activateActivityStream('item')" ng-show="data.selectedItem"
           ng-class="{'active':data.streamType=='item', 'inactive':data.streamType=='matter'}" style="margin-right:12px;" class="discussion-tab">Internal Discussion</a>
        <a href="javascript:;" ng-click="activateActivityStream('matter')"
           ng-class="{'active':data.streamType=='matter', 'inactive':data.streamType=='item'}">Global Discussion (3)</a>
    </h4>

    <ul class="list-unstyled activity-log comment-thread">
       <!--  <li ng-repeat="activity in data.activitystream" ng-class="{ 'comment-faded': activity.status=='awaiting'}">
            <div activity ng-model="activity" matter-slug="data.slug" item-slug="data.selectedItem.slug"
                          user="data.usdata.current"></div>
        </li>
        <li ng-show="!data.activitystream.length"><small class="lead text-muted">Discussion and activity will appear here.</small></li> -->
        <li>
            <div class="message-content">
                <span class="user-initials">AH:</span>  Lets talk to <span class="user-mention">@Ross234</span> about this. I’m not sure what to do either.
            </div>
            <div class="meta-message">
                <span class="meta-date">June 6 3.46 PM EST</span>

                <span class="meta-seen">Seen by 1</span>
            </div>
        </li>

         <li>
            <div class="message-content">
                <span class="user-initials">YN:</span> I don't think it can wait. <span class="user-mention">@Ross234</span> is on vacation.
            </div>
            <div class="meta-message">

                <span class="meta-date">June 6 3.48 PM EST</span>
                 <span class="meta-seen">Seen by 1</span>
            </div>
        </li>
       <li>
        <div class="message-content">
            <span class="user-initials">RC:</span> Hi guys, I'm back! And I have some great news. Check out the latest version of the document.
        </div>
        <div class="meta-message">

            <span class="meta-date">June 6 4.03 PM EST</span>
             <span class="meta-seen">Seen by 2</span>
        </div>
        </li>
        <li>
        <div class="message-content">
            <span class="user-initials">AH:</span> Hi Ross! Documents looks great. Lets send it to <span class="user-mention">@YCitro</span> to review.
        </div>
        <div class="meta-message">

            <span class="meta-date">June 6 4.05 PM EST</span>
             <span class="meta-seen">Seen by 2</span>
        </div>
        </li>
        <li>
        <div class="message-content">
            <span class="user-initials">AH:</span> Hi Ross! Documents looks great. Lets send it to <span class="user-mention">@YCitro</span> to review.
        </div>
        <div class="meta-message">

            <span class="meta-date">June 6 4.05 PM EST</span>
             <span class="meta-seen">Seen by 2</span>
        </div>
        </li>
    </ul>
</div>

<div class="new-message row" ng-show="data.selectedItem" ng-mouseenter="show = true">
    <div class="col-xs-12">
        <form ng-submit="submitComment()" >
            <textarea mentions-box class="form-control" rows="2" placeholder="Comment on this item..." text="data.selectedItem.newcomment" container-position="left" required></textarea>
            <button class="btn btn-inverse btn-textarea btn-xs" type="submit" ng-show="show">Submit</button>
        </form>
    </div>
</div>
