    <h4 class="ng-scope">
            <a href="" style="margin-right:12px;">
                <span class="fui-chat comments-tab internal"></span>
            </a>
            <a href="">
                <span class="fui-chat comments-tab global not-active"><span class="iconbar-unread">+ 6</span></span>
            </a>
        </h4>

<div class="new-message row">

    <div class="col-xs-12 comment-wrapper colleague">
           <div class="comment-explanation">Discuss with your <span class="expl-emphasis">Colleagues</span></div>
        <textarea class="form-control" rows="2" placeholder="Write a comment for your colleague and hit 'Enter'" ng-model="data.selectedItem.newcomment" required></textarea>


     <!--Fill comment-explanation with :
     Discuss with all participants.
     -->
    </div>
</div>

    <ul class="list-unstyled activity-log comments">

        <li ng-repeat="" ng-class="{ 'comment-faded': activity.status=='awaiting'}">
            <div activity ng-model="activity" matter-slug="data.slug" item-slug="data.selectedItem.slug"
                          user="data.usdata.current"></div>
        </li>
        <li ng-show="!data.activitystream.length"><small class="lead text-muted">Global comments will appear here.</small></li>
         <!--Fill this li with for Internal comments tab:

            Internal comments will appear here.
         -->
    </ul>




<h4 class="ng-scope separator">
    <a href="javascript:;" ng-click="activateActivityStream('item')" ng-show="data.selectedItem"
       ng-class="{'active':data.streamType=='item', 'inactive':data.streamType=='matter'}" style="margin-right:12px;">Item Activity</a>
    <a href="javascript:;" ng-click="activateActivityStream('matter')"
       ng-class="{'active':data.streamType=='matter', 'inactive':data.streamType=='item'}">All Activity</a>
</h4>


<ul class="list-unstyled activity-log">

    <li ng-repeat="activity in data.activitystream" ng-class="{ 'comment-faded': activity.status=='awaiting'}">
        <div activity ng-model="activity" matter-slug="data.slug" item-slug="data.selectedItem.slug"
                      user="data.usdata.current"></div>
    </li>
    <li ng-show="!data.activitystream.length"><small class="lead text-muted">Discussion and all activity will appear here.</small></li>
</ul>
