 <div ng-show="data.selectedItem" ng-file-drop="onFileDropped($files, data.selectedItem);">
    <h3 ng-show="data.usdata.current.user_class=='lawyer'">
        <a href="javascript:;" ng-click="data.editItemTitle=data.selectedItem.name;data.showEditItemTitleForm=!data.showEditItemTitleForm;focus('eventEditItemTitle')"
                ng-hide="data.showEditItemTitleForm">
            <span ng-bind="data.selectedItem.name"></span>
        </a>
        <span ng-show="data.showEditItemTitleForm" class="title-save">Press Enter to Save</span>
        <input class="form-control input-sm" ng-show="data.showEditItemTitleForm" type="search"
               ng-model="data.editItemTitle" ng-enter="data.selectedItem.name=data.editItemTitle;saveSelectedItem();data.showEditItemTitleForm=false"
               ng-blur="data.showEditItemTitleForm=false" focus-on="eventEditItemTitle">

        <!--
        <div class="btn-group pull-right" ng-hide="data.showEditItemTitleForm">
            <a href="javascript:;" class="btn-silver btn-xs" data-toggle="tooltip" title="Part of Closing Group {{ data.selectedItem.closing_group }}"
               ng-show="data.selectedItem.closing_group" data-placement="bottom">
                <span class="fui-radio-checked"></span> {{ data.selectedItem.closing_group }}
            </a>
        </div>-->

        <div class="item-description-toggle" ng-hide="data.showEditItemDescriptionForm">
            <small class="text-muted">
                <a href="javascript:;" class="link"
                   ng-click="data.showEditItemDescriptionForm=!data.showEditItemDescriptionForm;data.editItemDescription=data.selectedItem.description;focus('eventEditItemDescription')">
                    <div btf-markdown="data.selectedItem.description | newlines"></div>
                    <span ng-hide="data.selectedItem.description">Enter item description</span>
                </a>
            </small>
        </div>
        <div class="item-description" ng-show="data.showEditItemDescriptionForm">
            <textarea class="form-control" msd-elastic placeholder="Enter a description for this item"
                      ng-model="data.editItemDescription" focus-on="eventEditItemDescription"></textarea>
            <a href="javascript:;" class="btn btn-primary btn-xs" ng-click="data.selectedItem.description=data.editItemDescription;saveSelectedItem();data.showEditItemDescriptionForm=false;">Save description</a>
            <a href="javascript:;" class="btn btn-inverse btn-xs item-description-cancel" ng-click="data.showEditItemDescriptionForm=false;">Cancel</a>
            <a href="javascript:;" class="btn btn-link btn-xs pull-right" title="Markdown help" onclick="alert('LawPal supports markdown.');">Formatting Help</a>
        </div>
    </h3>

    <h3 ng-show="data.usdata.current.user_class!=='lawyer'">
        <span ng-bind="data.selectedItem.name"></span>

        <div class="item-description-toggle" ng-hide="data.showEditItemDescriptionForm">
            <small class="text-muted">
                <div btf-markdown="data.selectedItem.description | newlines"></div>
            </small>
        </div>
    </h3>

    <!-- Begin option toolbar -->
    <div class="add-new clearfix">
        <div class="btn-group" ng-show="data.usdata.current.user_class=='lawyer'">
            <button class="btn btn-sm btn-info btn-embossed btn-add" filepicker apikey="A4Ly2eCpkR72XZVBKwJ06z" callback="processUpload(files, data.selectedItem)" extensions=".pdf,.doc,.docx,.ppt,.pptx,.xls,.xlsx"><span class="fui-upload"></span>
                Add File
            </button>
            <button class="btn btn-info btn-sm btn-embossed dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            </button>
            <span class="dropdown-arrow dropdown-arrow-inverse dropdown-small"></span>
            <ul class="dropdown-menu dropdown-inverse">
                <li><a href="javascript:;" filepicker apikey="A4Ly2eCpkR72XZVBKwJ06z" callback="processUpload(files, data.selectedItem)" extensions=".pdf,.doc,.docx,.ppt,.pptx,.xls,.xlsx">Upload File</a></li>
                <li><a href="javascript:;" data-toggle="modal" data-target="#requestFileModal" ng-click="requestRevision(data.selectedItem)">Request File</a></li>
            </ul>
        </div>

        <div class="btn-group" ng-show="data.usdata.current.user_class=='lawyer'">
            <a href="javascript:;" class="btn btn-sm btn-silver btn-embossed dropdown-toggle" data-toggle="dropdown">Options</a>
            <ul class="dropdown-menu dropdown-small dropdown-inverse" >
                <li><a href="javascript:;" ng-click="toggleDueDateCalendar( data.selectedItem );saveSelectedItem();data.showItemDetailsOptions=!data.showItemDetailsOptions;">
                    <span class="fui-calendar"></span> Set due date</a>
                </li>
                <!--<li><a href="#" data-toggle="modal" data-target="#attachWorkflowModal"><span class="fui-calendar"></span> Add workflow</a></li>-->
                <li><a href="javascript:;" class="text-danger" ng-click="deleteItem();data.showItemDetailsOptions=!data.showItemDetailsOptions">
                    <span class="fui-trash text-danger"></span> Delete</a>
                </li>
            </ul>
        </div>

        <!--
        <a href="javascript:;" id="datedue" class="btn btn-sm btn-silver btn-embossed" ng-show="data.selectedItem.date_due"
           ng-click="data.showDateDuePicker=!data.showDateDuePicker">
            <span class="fui-calendar"></span>{{ data.selectedItem.date_due | date:'dd MMMM' }}
        </a>
        //-->
        <span class="calendar-group" ng-show="(data.showDateDueInput||data.selectedItem.date_due)&&data.usdata.current.user_class==='lawyer'" ng-click="data.showDateDuePicker=true">
            <input type="text" id="dateduepicker-input" datepicker-popup="dd-MMMM" ng-model="data.dueDatePickerDate"
                   datepicker-options="dateOptions" is-open="data.showDateDuePicker" class="btn-embossed btn-sm btn-silver" />
            <label class="fui-calendar" for="dateduepicker-input"></label>
        </span>

        <span ng-show="data.selectedItem.date_due&&data.usdata.current.user_class!=='lawyer'">
            <span class="fui-calendar"></span> {{ data.selectedItem.date_due | date:'dd MMMM' }}
        </span>

        <a href="javascript:;" ng-click="data.selectedItem.is_complete=!data.selectedItem.is_complete;saveSelectedItem();"
           class="btn btn-sm pull-right" ng-class="{ 'btn-success': !data.selectedItem.is_complete, 'btn-default': data.selectedItem.is_complete}"
           ng-show="data.usdata.current.user_class=='lawyer'"
        >
            <span class="fui-checkbox-checked"></span> <span ng-hide="data.selectedItem.is_complete">Close item</span><span ng-show="data.selectedItem.is_complete">Reopen item</span>
        </a>

        <a ng-show="data.usdata.current.user_class!=='lawyer'"
           class="label status-label pull-right" ng-class="{ 'label-primary': !data.selectedItem.is_complete, 'label-default': data.selectedItem.is_complete}">
            <span class="fui-checkbox"></span> <span ng-hide="data.selectedItem.is_complete">Open</span><span ng-show="data.selectedItem.is_complete">Closed</span>
        </a>
        <!--
        <div id="dateduepicker-container" ng-show="data.showDateDuePicker">
          <div class="well well-sm">
              <datepicker ng-model="data.dateduepickerdate"></datepicker>
          </div>
        </div>
        //-->
    </div>
    <!-- End option toolbar -->

    <div class="no-revisions text-center" ng-show="data.usdata.current.user_class!=='lawyer'&&!data.selectedItem.latest_revision">
        <span class="fui-document"></span> No files added yet.
    </div>

    <div class="waiting-revision text-center" ng-show="data.selectedItem.is_requested&&data.selectedItem.responsible_party.username!=data.usdata.current.username">
        <span class="fui-time"></span> Waiting for a document from <span ng-bind="data.selectedItem.responsible_party | fullname"></span>.
        <a href="javascript:;" ng-click="remindRevisionRequest(data.selectedItem)">Remind</a> <a class="close" href="javascript:;" ng-click="deleteRevisionRequest(data.selectedItem)">x</a>
    </div>

    <div class="waiting-revision text-center" ng-show="data.selectedItem.is_requested&&data.selectedItem.responsible_party.username==data.usdata.current.username">
        <p>Please upload this document.</p>
        <p ng-show="data.selectedItem.request_document_meta.message">
            <span class="user" ng-bind="data.selectedItem.request_document_meta.requested_by | initials"></span> {{ data.selectedItem.request_document_meta.message }}
        </p>
        <a href="javascript:;" filepicker apikey="A4Ly2eCpkR72XZVBKwJ06z" callback="processUpload(files, data.selectedItem)" class="btn btn-warning btn-embossed">Upload Document</a>
    </div>

    <div class="item-help" ng-show="data.uploading">
        <i class="fa fa-spinner fa-3x fa-spin"></i>
    </div>

    <div ng-show="data.usdata.current.user_class=='lawyer'">
        <div class="drop-area show-on-drag" ng-file-drop="onFileDropped($files, data.selectedItem);"  ng-show="data.selectedItem.latest_revision">
            <span class="fui-upload"></span>
            <h4>Upload a document</h4>
            <p>To upload a new document drop file here</p>
        </div>
    </div>

    <ul class="revisions list-unstyled" ng-show="data.selectedItem.latest_revision.slug">
        <!-- Begin current revision -->
        <li class="header">Current</li>
        <li class="current">
            <div class="doc-wrap">
                <!-- <span class="version">{{ data.selectedItem.latest_revision.slug }}</span> -->
                <h4><a href="javascript:;" ng-click="showRevisionDocument(data.selectedItem.latest_revision)"><span class="fui-document status-{{ data.selectedItem.latest_revision.status }}"></span> {{ data.selectedItem.latest_revision.name }}</a></h4>
                <div class="desc" ng-hide="data.showEditRevisionDescriptionForm||data.usdata.current.user_class!=='lawyer'">
                     <a href="javascript:;" class="link"
                        ng-click="data.showEditRevisionDescriptionForm=!data.showEditRevisionDescriptionForm;data.editRevisionDescription=data.selectedItem.latest_revision.description;focus('eventEditLatestRevisionDescription')">
                        <div btf-markdown="data.selectedItem.latest_revision.description | newlines"></div>
                        <span ng-hide="data.selectedItem.latest_revision.description">Enter description</span>
                    </a>
                </div>
                <div class="item-description" ng-show="data.showEditRevisionDescriptionForm">
                    <textarea class="form-control" msd-elastic placeholder="Enter a description for this revision"
                              ng-model="data.editRevisionDescription" focus-on="eventEditLatestRevisionDescription"></textarea>
                    <a href="javascript:;" class="btn btn-primary btn-xs" ng-click="data.selectedItem.latest_revision.description=data.editRevisionDescription;saveLatestRevision();data.showEditRevisionDescriptionForm=false;">Save description</a>
                    <a href="javascript:;" class="btn btn-inverse btn-xs item-description-cancel" ng-click="data.showEditRevisionDescriptionForm=false;">Cancel</a>
                    <a href="javascript:;" class="btn btn-link btn-xs pull-right" title="Markdown help" onclick="alert('Markdown help popup like trello');">Formatting Help</a>
                </div>
                <div class="tools status-{{ data.selectedItem.latest_revision.status }}">
                    <a href="javascript:;" class="btn btn-link btn-xs" ng-click="showRevisionDocument(data.selectedItem.latest_revision)">View</a>  <a href="{{ data.selectedItem.latest_revision.user_download_url }}" class="btn btn-link btn-xs" target="_blank">Download</a>
                    <a href="javascript:;" class="btn btn-link btn-xs" ng-click="requestReview(data.selectedItem.latest_revision)">Request Review</a>
<!--                     <a href="javascript:;" class="btn btn-link btn-xs" ng-click="requestSigning(data.selectedItem.latest_revision)">Request Signing</a> -->
                    <a href="javascript:;" class="btn btn-link btn-xs" ng-click="deleteLatestRevision()">Delete</a>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs status-{{ data.selectedItem.latest_revision.status }}" data-toggle="dropdown">
                          {{ data.matter._meta.item.custom_status[data.selectedItem.latest_revision.status] }}
                        </button>
                        <button class="btn btn-default btn-xs status-{{ data.selectedItem.latest_revision.status }}"
                                data-toggle="dropdown" ng-show="data.usdata.current.user_class=='lawyer'">
                          <span class="caret" ></span>
                        </button>
                        <ul class="dropdown-menu" ng-show="data.usdata.current.user_class=='lawyer'" >
                          <li class="" ng-repeat="(key, status) in data.matter._meta.item.custom_status">
                              <a href="javascript:;" ng-click="data.showRevisionStatusDropdown=false;data.selectedItem.latest_revision.status=key;saveLatestRevision();"
                                 ng-hide="data.showEditRevisionTitles">
                                  <span class="icon status-{{ key }}"></span> {{ status }}
                              </a>
                          </li>
                          <li>
                              <a href="javascript:;" ng-click="editRevisionStatusTitles()">
                                  <span class="icon"></span> Change status titles...
                              </a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="review in-progress" ng-show="data.selectedItem.latest_revision.reviewers.length>0">
                <span ng-show="data.selectedItem.review_percentage_complete<100">Review in progress</span>
                <span ng-show="data.selectedItem.review_percentage_complete==100">Review complete</span>
                <a class="btn btn-link btn-xs pull-right" href="javascript:;" ng-click="remindRevisionReview(data.selectedItem)">
                    Remind
                </a>
                <div class="review-members">
                    <ul class="list-unstyled">
                        <li ng-repeat="rev in data.selectedItem.latest_revision.reviewers" ng-class="{'complete': rev.is_complete==true }" class="{'complete': rev.is_complete==true }">
                            <a class="close" href="javascript:;" ng-click="deleteRevisionReviewRequest(data.selectedItem, rev)"
                               ng-hide="rev.is_complete">x</a>
                            <a href="javascript:;" ng-click="showReview(data.selectedItem.latest_revision, rev)" class="pull-right">
                                <button class="btn btn-warning btn-xs" ng-hide="rev.is_complete"><span class="fui-time"></span> In progress</button>
                                <button class="btn btn-success btn-xs" ng-show="rev.is_complete">
                                    <span class="fui-check"></span> Complete
                                </button>
                            </a>

                            <span ng-show="rev.date_last_viewed">
                                <a href="javascript:;" ng-click="showReview(data.selectedItem.latest_revision, rev)">{{ rev.reviewer.initials }}</a> viewed <span ng-bind="rev.date_last_viewed | timeago"></span>
                            </span>
                            <a ng-hide="rev.date_last_viewed" href="javascript:;" ng-click="showReview(data.selectedItem.latest_revision, rev)">{{ rev.reviewer.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sub">{{ data.selectedItem.latest_revision.slug }} &middot; {{ data.selectedItem.latest_revision.uploaded_by.name }}, {{ data.selectedItem.latest_revision.date_created | timeago }}</div>
        </li>
        <!-- End current revision -->

        <li class="toggle-previous text-center" ng-show="data.selectedItem.latest_revision.revisions.length>0&&!data.showPreviousRevisions&&data.usdata.current.user_class=='lawyer'">
            <a class="btn btn-sm btn-silver" href="javascript:;" ng-click="loadPreviousRevisions()">
                <span ng-show="data.selectedItem.latest_revision.revisions.length==1">Show Previous Revision</span>
                <span ng-show="data.selectedItem.latest_revision.revisions.length>1">Show {{ data.selectedItem.latest_revision.revisions.length }} Previous Revisions</span>
            </a>
        </li>

        <li class="header previous-toggle" style="display: list-item;" ng-show="data.showPreviousRevisions">Previous (Only visible to you)</li>
        <li class="previous-toggle" style="display: list-item;" ng-show="data.showPreviousRevisions" ng-repeat="rev in data.selectedItem.previousRevisions">
            <div class="doc-wrap">
                <h4>
                    <a href="javascript:;" class="" ng-click="showRevisionDocument(rev)">
                        <span class="fui-document status-{{ rev.status }}"></span> {{ rev.name }}
                    </a>
                </h4>
                <div class="desc">{{ rev.description }}</div>
                <div class="tools status-{{ rev.status }}">
                    <a href="javascript:;" class="btn btn-link btn-xs" ng-click="showRevisionDocument(rev)">View</a>
                    <a href="{{ rev.executed_file }}" class="btn btn-link btn-xs" target="_blank">Download</a>
                    <span class="pull-right sub" ng-bind="data.matter._meta.item.custom_status[rev.status]"></span>
                </div>
            </div>
            <div class="review expired" ng-show="rev.reviewers.length>0">
                Review expired
                <div class="review-members">
                    <ul class="list-unstyled">
                        <li ng-repeat="review in rev.reviewers" ng-class="{'complete': review.is_complete==true }">
                             <a href="javascript:;" ng-click="showReview(rev, review)">
                                <span class="fui-time" ng-hide="review.is_complete"></span>
                                <button class="btn btn-success btn-xs pull-right" ng-show="review.is_complete">
                                    <span class="fui-check"></span> View Response
                                </button>
                            </a>
                            {{ review.reviewer.name }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sub">{{ rev.slug }} &middot; {{ rev.uploaded_by.name }}, {{ rev.date_created | timeago }}</div>

        </li>
    </ul>

    <div ng-show="data.usdata.current.user_class=='lawyer'">
        <div class="item-help border-on-dragover" ng-hide="data.selectedItem.latest_revision||data.uploading||data.selectedItem.is_requested">
            <span class="fui-upload"></span>
            <h4>Upload a document</h4>
            Upload the first document to this item or request one. You can also drag a document directly onto a checklist item.
        </div>
    </div>

    <div class="item-help" ng-show="data.selectedItem.is_requested&&!data.selectedItem.latest_revision">
        <span class="fui-time"></span>
        <h4>Waiting for a document</h4>
        <span ng-show="data.selectedItem.responsible_party.username!=data.usdata.current.username">You have requested a document from another user. Once they have supplied this revision you will be notified.</span>
    </div>
</div>
<div ng-show="!data.selectedItem&&data.matter.items.length>0">
     <div class="item-help">
        <p>Please select an item from the checklist</p>
    </div>
</div>

<div ng-show="!data.selectedItem&&data.matter.items.length==0">
     <div class="item-help">
        <span class="fui-arrow-left"></span>
        <h4>Add your first checklist item</h4>
        <p>Create your checklist and then invite you client to this project by clicking on the <span class="fui-user"></span> icon at the top of the page.</p>
    </div>
</div>
