.dropdown-arrow-inverse {
  border-bottom-color: #444444 !important;
  border-top-color: #444444 !important;
}
/* Checklist stuff */
/*
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { padding: 5px 10px; font-size:14px;border-left-width:0px!important;border-right-width:0px!important;}
th {background-color: #f1f1f1;}
.icon {font-size:17px;}
h5 {font-size:20px;}
h6 {font-size:18px;}
td {-webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}
td ul li {font-size:13px;}
td ul li a {color:#666;}

.fui-document {font-size:14px;padding-left:4px;}
.checklist {overflow:scroll!important}
.document-drawer{display:none;}
.doc-list {margin-bottom:3px;}
.doc-list li {font-size:13px;padding:5px 0px 5px 0px;border-top:1px solid #ddd!important;}
.doc-list li.action {border-top:1px solid #ddd;padding-top:6px;margin-top:3px;} 
.doc-list li a {color:#777;}
.dropdown-menu li {border-top:none!important;}
.dropdown-menu li a {color:white;}
.table [class*="fui-"] {font-size:22px;}
td .tools {font-size:10px;}
.dropdown-inverse li > a {
	padding:3px 3px 3px 3px;
}
.dropdown-inverse li > a:hover {
	color:white;
}
.acme-inc {
	border:1px solid #9b59b6;
	padding:0px 10px 10px 10px;
	color:#9b59b6;
	margin-bottom:20px;
	margin-top:20px;
}
.founders-fund {
	border:1px solid #e67e22;
	color:#e67e22;
	padding:0px 10px 10px 10px;
}
.veddis-ventures {
	border:1px solid #2ecc71;
	color:#2ecc71;
	padding:0px 10px 10px 10px;
	margin-top:20px;
}
.veddis-ventures h5, .founders-fund h5, .acme-inc h5 {
	font-size: 16px;
	margin-top:8px;
}
.connectedSortable {
	min-height:20px;
}
.table .tools, .table .tools [class*="fui-"] {
	font-size:12px;
	margin-right:2px;
	cursor: pointer;
}
.drop-zone {display:none;color:#aaa!important;text-align: center;border:1px dashed #ccc;font-size:14px!important;}
.hover-wrap {position:relative;}
.hover-tools { z-index:500;float:right;text-align:center;width:90px; font-size:12px;padding:5px;top:0px;background-color:#999;color:white;border-radius:5px;}

.hover-tools a {color:white;}
.hover-tools-assign { display:none;z-index:500;position:absolute;text-align:left;right:-160px;width:200px; font-size:12px;padding:10px;top:30px;background-color:#efefef; color:#222;border-radius:5px; box-shadow: 0px 0px 10px #666}

.hover-tools-assign label {font-weight: bold; }

.hover-wrap:hover .hover-tools {display:block;}
.ui-sortable li {color:#222;}

.item-view {background-color:#eee;min-height:700px;} 

/* New stuff */
#checklist {
  background-color: #f2f2f2;
}
#checklist h5 {
  font-size: 20px;
  text-transform: uppercase;
  color: #666;
}
#checklist table.checklist {
  background-color: white;
}
#checklist table.checklist tr {
  border-top: 1px solid #f2f2f2;
}
#checklist table.checklist th {
  background-color: #f2f2f2;
}
#checklist table.checklist tr th {
  text-transform: uppercase;
  padding: 8px 0px 2px 0px;
  color: #AAA;
  font-size: 13px;
}
#checklist table.checklist tr td {
  padding: 8px 9px;
  border-top: none;
  border-bottom: none;
}
#checklist table.checklist tr td.item-icon {
  padding-left: 5px;
  padding-right: 0px;
  width: 20px;
}
#checklist table.checklist tr td.item-icon .icon {
  line-height: 20px;
  width: 18px;
  float: left;
  margin: -4px 1px 0px 3px;
}
#checklist table.checklist tr td.item-icon .icon span {
  font-size: 12px;
}
#checklist table.checklist tr td.item-title {
  font-size: 13px;
  font-family: Helvetica;
  word-spacing: normal;
  color: #777;
  font-weight: bold;
  padding-left: 0px;
  padding-top: 10px;
}
#checklist table.checklist tr td.item-title.text-success {
  color: #25a25a;
  opacity: 0.8;
}
#checklist table.checklist .attachments {
  font-size: 14px;
  color: #42d0e5;
}
#checklist table.checklist .msg {
  background-color: #f2f2f2;
  width: 20px;
}
#checklist table.checklist .msg .new {
  color: #e74c3c;
}
#checklist table.checklist .msg .new span {
  font-size: 16px;
}
#checklist table.checklist div.who {
  background-color: white;
  border: 1px solid #83d78d;
  border-left: 2px solid #3cbd4c;
  color: #5ccb6a;
  font-size: 12px;
  display: inline;
  height: 20px;
  padding: 3px;
  margin-right: 1px;
}
#checklist table.checklist div.what {
  background-color: #42d0e5;
  border-left: 2px solid #1ec3db;
  color: white;
  font-size: 11px;
  display: inline;
  height: 20px;
  padding: 5px;
  margin-right: 0px;
}
#checklist table.checklist div.what span {
  font-size: 12px;
}
#checklist .checklist-switch-wrap {
  padding: 10px 0px 0px 0px;
}
#checklist .checklist-switch-wrap .filter-title {
  font-size: 13px;
  color: #ccc;
}
#checklist .checklist-switch-wrap .checklist-switch .btn {
  opacity: 0.65;
}
#checklist .checklist-switch-wrap .checklist-switch .btn.active {
  opacity: 1;
}
#checklist .checklist-switch-wrap .checklist-switch .btn.first {
  border-radius: 15px 0px 0px 15px;
  margin-right: 1px;
}
#checklist .checklist-switch-wrap .checklist-switch .btn.last {
  border-radius: 0px 15px 15px 0px;
  margin-right: 1px;
}
body {
  word-spacing: 2px;
}
.breadcrumbs {
  background-color: #f4f4f4;
}
.breadcrumbs .breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}
.container-fluid {
  padding: 0 20px;
}
.main-content {
  margin-top: 20px;
}
.content .page-header h4 {
  font-size: 20px;
}
.content .lead {
  font-size: 22px;
}
.help-block {
  font-size: 14px;
}
.form-inline .form-group .input-group .form-control {
  display: inline-block;
}
.form-inline .form-group + .form-group,
.form-inline .form-group + .help-block,
.form-inline .help-block + .form-group {
  margin-left: 10px;
  margin-top: 0;
}
.form-inline .help-block {
  display: inline-block;
}
.form-group .form-control {
  width: inherit;
}
.form-group .form-control.select {
  border: 0;
  padding: 0;
}
.form-group .input-group-addon {
  width: inherit;
}
.form-group.datetime .input-group {
  width: 240px;
}
.form-dialog,
.form-errors {
  text-align: left;
}
.form-dialog p,
.form-errors p {
  margin-bottom: 0;
}
.form-dialog ul,
.form-errors ul {
  margin-bottom: 0;
}
.form-dialog {
  padding-right: 15px;
  padding-left: 15px;
}
.form-section + .form-section {
  margin-top: 40px;
}
.navbar {
  margin-bottom: 0;
}
.nav-list-vivid .nav-header {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  border-top: 2px solid #e5e5e5;
  margin-top: 15px;
}
.nav-list-vivid .icon {
  float: left;
  margin-right: 5px;
}
.nav-list-vivid .icon img {
  height: 17px;
  margin-top: -4px;
  width: 22px;
  opacity: 0.8;
}
.note-editor .btn {
  background-color: #3498db;
}
.note-editor .btn:hover {
  background-color: #2c81ba;
}
.popover-content {
  font-size: 14px;
  line-height: 1.226;
}
.page-header h4 {
  font-size: 28px;
}
.page-header .caption {
  color: #bdc3c7;
  display: inline-block;
}
.page-header .caption:after {
  color: #bdc3c7;
  content: "/";
  font-weight: normal;
  margin: 0 4px 0 9px;
}
.page-header .progress {
  margin-bottom: 15px;
  margin-top: 15px;
  width: 200px;
}
.page-header h4 {
  display: inline-block;
  margin: 0;
}
.page-header .btn {
  margin-top: -5px;
}
.content .page-header {
  border-width: 2px;
  margin-top: 0px;
  padding-bottom: 11px;
}
.sidebar {
  padding-right: 30px;
}
.parsley-validated.parsley-error {
  color: #e74c3c;
  border-color: #e74c3c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.parsley-validated.parsley-error:-moz-placeholder {
  color: #e74c3c;
}
.parsley-validated.parsley-error::-moz-placeholder {
  color: #e74c3c;
}
.parsley-validated.parsley-error:-ms-input-placeholder {
  color: #e74c3c;
}
.parsley-validated.parsley-error::-webkit-input-placeholder {
  color: #e74c3c;
}
.parsley-validated.parsley-error.placeholder {
  color: #e74c3c;
}
.parsley-validated.parsley-error:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.parsley-validated.parsley-error + .input-group-btn .btn {
  color: #e74c3c;
  border-color: #e74c3c;
  background-color: #ffffff;
}
.home .splash {
  background: url('/static/images/home-splash.jpg');
  height: 800px;
  background-position: center bottom;
  background-size: cover;
  padding-top: 150px;
}
.home .splash .logo {
  width: 140px;
}
.home .splash h2 {
  font-size: 50px;
  font-weight: normal;
  opacity: 0.9;
}
.home .splash .lead {
  opacity: 0.8;
  font-size: 22px;
  margin-bottom: 15px;
}
.home .splash .lead.sub {
  font-size: 15px;
  opacity: 0.6;
  margin-top: 0px;
  margin-bottom: 30px;
}
.home .splash a {
  color: white;
}
.home .splash h2,
.home .splash .lead {
  color: white;
}
.home .splash .btn {
  font-size: 14px;
  border-radius: 3px;
  font-weight: normal;
}
.home .splash .btn-link {
  color: white;
}
.home .splash input,
.home .splash select {
  padding: 5px;
  font-size: 14px;
  color: white;
  width: 100%;
  margin-top: 10px;
}
.home .splash input.email,
.home .splash select.email {
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid white;
  opacity: 0.8;
}
.home .splash select {
  margin: 0;
  margin-top: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.8;
  background: transparent;
  color: #FFF;
  border: 2px solid white;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}
.home .splash .pre-register .col-sm-3 {
  padding-right: 0px;
}
.home .public-headline {
  margin: 100px 0 30px 0px;
}
.home h2 {
  font-size: 45px;
  color: #666;
  margin-top: 10px;
}
.home .description {
  background-color: #f6f6f6;
  padding: 20px 0px;
  color: #999;
}
.home .description .benefit {
  text-align: center;
  padding: 15px;
}
.home .description .benefit img {
  height: 80px;
}
.home .description .benefit h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.home .description .benefit p {
  font-size: 14px;
}
.home .top .btn {
  padding: 10px 16px;
}
.home .feature-wrap {
  background-color: #6fd17c;
  border-bottom: 3px solid #74bf80;
  padding: 15px 0px 20px 0px;
}
.home .feature-wrap * {
  color: white;
}
.home .feature-wrap span.ico {
  font-size: 60px;
  line-height: 90px;
}
.home .feature-wrap h4 {
  font-size: 22px;
  margin-top: 0px;
}
.home .feature-wrap p {
  font-size: 14px;
  line-height: 19px;
  padding: 0px 20px;
  opacity: 0.8;
}
.home .toolkit-wrap {
  background-color: #efefef;
  min-height: 600px;
  padding: 60px 0px;
}
.home .toolkit-wrap h2 {
  color: #aaa;
  font-size: 25px;
  margin-bottom: 10px;
}
.home .toolkit-wrap h3 {
  font-size: 25px;
  margin-top: 10px;
}
.home .toolkit-wrap hr {
  border-color: #ddd;
  width: 60%;
}
.home .icon-wrap {
  background-color: #f9f9f9;
  padding: 12px 0px 20px 0px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 0px 0 18px 0;
  border-radius: 10px;
}
.home .icon-wrap img {
  width: 45px;
}
.home .quote {
  padding: 90px 0px;
  background-color: #e7f1f7;
  color: #666;
}
.home .quote h5 {
  margin-top: 0px;
  font-size: 24px;
}
.tool-landing {
  min-height: 600px;
}
.tool-landing h1 {
  margin: 25px 0px 30px 0px;
  font-size: 50px;
}
.tool-landing h2 {
  font-size: 30px;
  font-weight: normal;
}
.tool-landing .icon-wrap {
  background-color: #f9f9f9;
  padding: 26px 0px 20px 0px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 45px auto 0px auto;
  border-radius: 10px;
}
.tool-landing .icon-wrap img {
  width: 90px;
}
.tool-landing .feature-grid {
  margin-top: 40px;
}
.tool-landing .feature-grid span {
  font-size: 30px;
}
.tool-landing .feature-grid .feature {
  padding: 20px 20px;
}
.section {
  margin-bottom: 20px;
}
.section .section-header {
  margin-bottom: 14px;
}
.section .section-header .btn {
  margin-top: -5px;
}
.table tbody tr.expired > td,
.table tbody tr > td.expired {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.status-list-item-icon {
  font-size: 24px;
}
.status-next .status-list-item-icon {
  font-size: 29px;
}
.status-list-item-heading {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.status-next .status-list-item-heading {
  font-size: 24px;
}
.status-list-item-meta {
  font-size: 75%;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
.status-list-item-text {
  font-size: 75%;
}
.status-next .status-list-item-text {
  font-size: 100%;
}
.status-list-item-actions {
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
.status-pending {
  color: #bdc3c7;
}
.status-next {
  background-color: #edf6fc;
  color: #3498db;
}
.status-done {
  background-color: #ecfaf2;
  color: #2ecc71;
}
.attachment-list-item {
  padding: 15px;
}
.attachment-list-item-preview img {
  background-color: #dcdcdc;
  border-radius: 3px;
  padding: 4px;
}
.attachment-list-item-preview img:hover {
  background-color: #b9b9b9;
}
.attachment-list-item-meta {
  margin-top: 20px;
}
.dashboard {
  margin-top: -30px;
}
.dashboard .inner {
  border: 2px solid #a2e1aa;
  padding: 14px 18px 20px 18px;
  border-radius: 0px 0px 10px 10px;
}
.dashboard .pending .inner {
  border-color: #fde579;
}
.dashboard .pending .client {
  background-color: #fde579;
}
.dashboard .pending .widget {
  opacity: 1;
}
.dashboard .pending .widget h6 {
  color: #222;
}
.dashboard .widget {
  background-color: #f5f5f5;
  border: 1px solid #ededed;
  padding: 20px 0px 15px 0px;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 30px;
  cursor: pointer;
  opacity: 0.7;
}
.dashboard .widget:active {
  margin: 31px -1px -1px 1px;
  opacity: 1;
}
.dashboard .widget h6 {
  font-size: 16px;
  color: #44;
  margin-bottom: 5px;
}
.dashboard .widget div.progress {
  margin: 0 auto;
  width: 75%;
}
.dashboard .widget div.img-wrap {
  background-color: white;
  width: 72px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 19px;
  border-radius: 80px;
  border: 2px solid #ededed;
}
.dashboard .widget div.img-wrap img {
  width: 30px;
}
.dashboard .widget:hover {
  background-color: #f1f1f1;
}
.dashboard .widget span.lg {
  font-size: 17px;
}
.dashboard .widget ul {
  margin-bottom: 5px;
}
.dashboard .widget ul li {
  padding-left: 7px;
  padding-right: 7px;
}
.dashboard .widget ul li * {
  vertical-align: middle;
}
.dashboard .client {
  font-size: 16px;
  background-color: #9ee0a6;
  color: white;
  font-weight: normal;
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}
