{% extends LAYOUT %}

{% load url from future %}{% load dashboard_tags widont %}

{% block body_class %}checklist{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse checklist-nav">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="{{ STATIC_URL }}images/logo-white.png" height="21" alt="LawPal"></a>
        </div>

        <div class="navbar-collapse collapse navbar-collapse-01">
            <ul class="nav navbar-nav navbar-right">
                <li class="divider"></li>
                <li><a href="#" class="intercom">Help</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name|default:user.username }}<b class="caret"></b></a>
                    <ul>
                        <li><a href="{% url 'me:settings' %}">Account</a></li>
                        <li><a href="{% url 'public:logout' %}">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body %}
    <div id="dashboard" class="content col-lg-12">
        <section class="matters cards">
            <header class="page-header">
                <h4>All Matters</h4>
                <div class="pull-right">
                    <a href="#" class="btn btn-sm btn-primary"><i class="fui-plus"></i> New Matter</a>
                </div>
            </header>

            <div class="row">
                {% for m in object_list %}
                    <article class="col-md-4 matter">
                        <div class="card">
                            <a href="#" class="edit"><span class="fui-gear"></span></a>

                            <a href="#" title="Matter Name" class="content">
                                <div class="title">
                                    {% if user.profile.is_lawyer %}
                                        <h6>{{ m.client.name }}</h6>
                                    {% else %}
                                        <h6>{{ m.lawyer.name }}</h6>
                                    {% endif %}
                                    <h5>{{ m.name|widont|safe }}</h5>
                                </div>
                                <div class="meta clearfix">
                                    <p class="small pull-left">Last updated <time datetime="{{ m.date_modified|date:'Y-m-d\TH:i:s\Z' }}">{{ m.date_modified|date }}</time></p>
                                    <div class="people pull-right">
                                        {% for user in m.participants %}
                                            {% avatar user %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
