<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Request signing for <span ng-bind="revision.name"></span></h4>
    </div>
        <div class="modal-body">
            <p>Here the description.</p>

            <div ng-hide="data.showAddExternal">
                <strong ng-show="participants.length>0">Existing members</strong>
                <ul class="list-unstyled">
                    <li ng-repeat="person in participants" ng-hide="person.username==currentUser.username">
                        <label class="checkbox" ng-class="{'checked':data.selectedUsers[person.email]!=null}"
                               ng-click="toggleUser(person)">
						<span class="icons">
							<span class="first-icon fui-checkbox-unchecked"></span>
							<span class="second-icon fui-checkbox-checked"></span>
						</span>
                            <label ng-bind="person | fullname"></label>
                        </label>
                    </li>
                </ul>
                <br/>
                <h5>Add New Signer</h5>

                <div class="row">
                    <div class="col-sm-6">
                        <a href="javascript:;" class="btn btn-info" ng-click="data.showAddExternal=true">Add an external signer</a>
                        <br/>

                        <p class="note">
                            Asking an external party to sign a document will invite them to LawPal and will ask them to
                            sign on just this specific file.
                            They will not have access to the checklist, other revisions or other aspects of this matter.
                        </p>
                    </div>
                </div>
            </div>

            <div ng-show="data.showAddExternal">
                <form class="form" ng-submit="createUser()">
                    <h5>Add a Client <a href="javascript:;" class="close" ng-click="data.showAddExternal=false;">x</a>
                    </h5>

                    <p>Asking an external party to sign a document will invite them to LawPal and will ask them to sign on
                        just this specific file.
                        They will not have access to the checklist, other revisions or other aspects of this matter.</p>

                    <div ng-class="{'has-success': data.participant, 'has-warning': data.isNew, 'has-error': data.validationError }">
                        <p class="bg-info" for="inviteeEmail" ng-show="data.participant">{{ data.participant | fullname }}
                            found.</p>

                        <p class="bg-info" for="inviteeEmail" ng-show="data.isNew">User does not exist yet. They will be
                            invited to LawPal.</p>

                        <p class="bg-danger" for="inviteeEmail" ng-show="data.isLawyer">The entered mail address belongs to
                            a lawyer. Lawyers can not currently be added to matters as clients.</p>

                        <input type="email" id="inviteeEmail" class="form-control form-control-full-width"
                               ng-model="data.invitee.email"
                               placeholder="your_email@gmail.com" required ng-blur="checkIfUserExists()"
                               autocomplete="off"/>
                    </div>
                    <div class="">
                        <input type="text" class="form-control input-sm" ng-model="data.invitee.first_name"
                               placeholder="First name" ng-show="data.isNew"/>
                        <input type="text" class="form-control input-sm" ng-model="data.invitee.last_name"
                               placeholder="Last name" ng-show="data.isNew"/>
                    </div>
                    <div class="">
                        <textarea class="form-control form-control-full-width" ng-model="data.invitee.message"
                                  placeholder="Add an optional message"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-info btn-wide btn-sm" ng-disabled="data.validationError">Add an external signer</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="request()" ng-disabled="invalid()">Request signing</button>
        </div>
</div>