<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">Request signing for <span ng-bind="revision.name"></span></h4>
	</div>
	<form name="requestForm" ng-submit="request()">
	<div class="modal-body">
		<p>Select a signer from existing participants, or add 3rd party signers.</p>
        <div ng-hide="data.showAddSigner===true">
            <strong ng-show="participants.length>0">Existing participants</strong>
            <ul class="list-unstyled">
                <li ng-repeat="person in participants">
                    <label class="checkbox" ng-class="{'checked':data.selectedUsers[person.username]!=null}"
                           ng-click="toggleUser(person)">
						<span class="icons">
							<span class="first-icon fui-checkbox-unchecked"></span>
							<span class="second-icon fui-checkbox-checked"></span>
						</span>
                        <label ng-bind="person | fullname"></label>
                        <label ng-show="person.username==currentUser.username"> (you)</label>
                    </label>
                </li>
<!--                 <li>
				    <textarea class="form-control form-control-full-width" ng-model="data.request.message" placeholder="Add an optional message"></textarea>
                </li> -->
            </ul>
            <h5>Add External Signer</h5>

            <div class="row">
                <div class="col-sm-6">
                    <a href="javascript:;" class="btn btn-info" ng-click="data.showAddSigner=true">Add a Signer</a>
                    <br/>

                    <p class="note">
                        Adding a signer ...
                    </p>
                </div>
            </div>
        </div>

        <div class="form" ng-show="data.showAddSigner===true">
            <h5>Add a Signer <a href="javascript:;" class="close" ng-click="data.showAddSigner=false;">x</a></h5>
            <p>Adding an external signer to this matter will not give them access to view the checklist.</p>
			<div ng-class="{'has-success': data.participant, 'has-warning': data.isNew, 'has-error': data.validationError }">
    		    <p class="bg-info" for="inviteeEmail" ng-show="data.participant">{{ data.participant | fullname }} found.</p>
                <p class="bg-info" for="inviteeEmail" ng-show="data.isNew">User does not exist yet. They will be invited to LawPal.</p>

				<input type="email" id="inviteeEmail" class="form-control form-control-full-width" ng-model="data.invitee.email"
                       placeholder="your_email@gmail.com" ng-blur="checkIfUserExists()" autocomplete="off"/>
        		</div>
            <div class="">
                <input type="text" class="form-control input-sm" ng-model="data.invitee.first_name" placeholder="First name" ng-show="data.isNew" />
                <input type="text" class="form-control input-sm" ng-model="data.invitee.last_name" placeholder="Last name" ng-show="data.isNew" />
            </div>
			<div >
				<button class="btn btn-info btn-wide btn-sm" ng-click="invite()" ng-disabled="invalidNewSigner()" type="button">Add a Signer</button>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit" ng-disabled="invalid()">Request signing</button>
	</div>
	</form>
</div>