// Toolkit Application


// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";

// Utility mixins for greater good
@import "mixins";


// Breadcrumbs
// -------------------------

.breadcrumbs {
  background-color: mix(@brand-primary, white, 6%);

  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
  }
}


// Content
// -------------------------

.container-fluid {
  padding: 0 50px;
}

.main-content {
  margin-top: 20px;
}


// Forms
// -------------------------

.form-inline {
  .form-group .input-group .form-control {
    display: inline-block;
  }

  .form-group + .form-group,
  .form-group + .help-block,
  .help-block + .form-group {
    margin-left: 10px;
    margin-top: 0;
  }

  .help-block {
    display: inline-block;
  }
}

.form-group {
  .form-control {
    width: inherit;

    &.select {
      border: 0;
      padding: 0;
    }
  }

  .input-group-addon {
    width: inherit;
  }

  &.datetime .input-group {
    width: 240px;
  }
}

.form-dialog,
.form-errors {
  text-align: left;

  p {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
  }
}

.form-dialog {
  padding-right: 15px;
  padding-left: 15px;
}

.form-section + .form-section {
  margin-top: 40px;
}


// Navbar
// -------------------------

.navbar {
  margin-bottom: 0;
}


// Navs
// -------------------------

.nav-list {
  .icon {
    float: left;
    margin-right: 5px;

    img {
      height: 17px;
      margin-top: -4px;
      width: 22px;
      opacity:0.8;
    }
  }
}


// HTML Editor
// -------------------------

.note-editor {
  .btn {
    background-color: @brand-info;

    &:hover {
      background-color: mix(@brand-info, black, 85%)
    }
  }
}


// Misc
// -------------------------

.popover-content {
  font-size: ceil(@component-font-size-base * 0.913); // ~14px
  line-height: 1.226; // 18px
}


// Page header
// -------------------------

.page-header {
  .caption {
    color: @gray-light;
    display: inline-block;

    &:after {
      color: @gray-light;
      content: "/";
      font-weight: normal;
      margin: 0 4px 0 9px;
    }
  }

  .progress {
    margin-bottom: (@line-height-computed / 2);
    margin-top: (@line-height-computed / 2);
    width: 200px;
  }

  h4 {
    display: inline-block;
    margin: 0;
  }

  .btn {
    margin-top: -5px;
  }

  .content & {
    border-width: 2px;
    margin-top: 0px;
    padding-bottom: 11px;
  }
}


// Parsley.js
// -------------------------

.parsley-validated {
  &.parsley-error {
    color: @brand-danger;
    border-color: @brand-danger;
    .box-shadow(none);
    .placeholder(@brand-danger);

    &:focus {
      border-color: @brand-danger;
      .box-shadow(none);
    }

    + .input-group-btn .btn {
      color: @brand-danger;
      border-color: @brand-danger;
      background-color: @inverse;
    }
  }
}

// Public
// -------------------------

.home{
  .public-headline {
    margin: 100px 0 30px 0px;
  }
  h2 {
    font-size:40px;
    color:#666;
    margin-top:10px;
  }
  .lead.sub {
    font-size:22px;
    padding:0px 70px;
  }
  .description {
    background-color:#f6f6f6;
    padding:20px 0px;
    color: #999;
    .benefit {
      text-align:center;
      padding:20px;
      img {
        height:80px;
      }
      h3 {
        font-size:18px;
        margin-bottom:5px;
      }
      p {
        font-size:14px;
      }
    }
  }
  .btn {
    margin: 0 10px;
  }
}


// Sections
// -------------------------

.section {
  margin-bottom: 20px;

  .section-header {
    margin-bottom: ((@line-height-computed / 2) - 1);
    .btn {
      margin-top: -5px;
    }
  }
}


// Tool Status List
// -------------------------

// Base classes
.status-list-item {

}

.status-list-item-icon {
  font-size: @font-size-h6;

  .status-next & {
    font-size: @font-size-h5;
  }
}

.status-list-item-heading {
  font-size: @font-size-base;
  margin-bottom: (@line-height-computed / 3);
  margin-top: (@line-height-computed / 3);

  .status-next & {
    font-size: @font-size-h6;
  }
}

.status-list-item-meta {
  font-size: 75%;
  margin-bottom: (@line-height-computed / 4);
  margin-top: (@line-height-computed / 4);
}

.status-list-item-text {
  font-size: 75%;

  .status-next & {
    font-size: 100%;
  }
}

.status-list-item-actions {
  margin-bottom: (@line-height-computed / 4);
  margin-top: (@line-height-computed / 4);
}

// Statuses
// Contextual variations

.status-pending {
  color: @gray-light;
}

.status-next {
  background-color: @table-info;
  color: @brand-info;
}

.status-done {
  background-color: @table-success;
  color: @brand-success;
}
