<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">Request review for <span ng-bind="revision.name"></span></h4>
	</div>
	<form name="requestForm" ng-submit="request()">
	<div class="modal-body">
		<strong ng-show="participants.length>0">Existing members</strong>
		
			<ul class="list-unstyled">
				<li ng-repeat="person in participants">
					<label class="radio" ng-class="{'checked':person.username===data.request.person}">
						<span class="icons">
							<span class="first-icon fui-radio-unchecked"></span>
							<span class="second-icon fui-radio-checked"></span>
						</span>
						<input type="radio" value="{{person.username}}" ng-model="data.request.person" name="participants">
						<label ng-bind="person | fullname"></label>
					</label>
				</li>
				<li>
					<label class="radio" ng-class="{'checked':data.request.person==''}">
						<span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span>
						<input type="radio" ng-model="data.request.person" name="participants" value="">
						External party <span class="fui-lock" data-toggle="tooltip" title="" data-original-title="Requesting a file from a third party does not give them access to this matter."></span>
					</label>
				</li>
			</ul>
			<div class="form-group" ng-show="data.request.person==''">
				<input type="email" name="email" class="form-control form-control-full-width input-sm" ng-model="data.request.email" placeholder="email@gmail.com" ng-required="data.request.person==''" />
			</div>
			<div class="form-group">
				<textarea class="form-control form-control-full-width" ng-model="data.request.message" placeholder="Add an optional message"></textarea>
			</div>
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit" ng-disabled="invalid()">Request review</button>
	</div>
	</form>
</div>