{% extends 'notification/base.html' %}{% load notice_tags %}{% load url from future %}

{% block body %}
<div id="notifications" class="content">
    <div class="content-header notifications-header clearfix">
      <div class="row">
        <div class="col-sm-12 hidden" id="requestNotifyPermission">
            <div class="alert text-center">
                <p>
                    <a href="#" class="notification-link">
                        We encourage you to enable Desktop Notifications.
                    </a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 hidden" id="requestNotifyInstructions">
            <p class="alert text-center">Your browser should now be presenting you with the option to enable notifications. Click <strong>Enable</strong> or <strong>Allow</strong> or <strong>Yes</strong> or <strong>OK</strong>.</p>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            {% if object_list %}
            <div class="content-header-btn">
                <a href="javascript:;" id="mark-all-as-read" data-url="{% url 'notification:inbox-mark-all-read' %}" class="btn btn-info"><span class="fui-check-inverted"></span>&nbsp;&nbsp;Mark everything as read</a>
            </div>
            {% endif %}
            <h3><span id="notification-count" class="circle">&nbsp;</span> Notifications</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" role="main">
            {% for item in object_list %}
            {% render_notice item request %}
            {% empty %}
            <div class="col-md-12 text-center">
                <h6 class="text-muted">You currently have no notifications.</h6>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
$(document).ready(function () {
    'use strict';

    calculateTotalNotifications();

    $('.notification a').on('click', function(e) {
        var $this = $(this);
        var data = $this.data();
        var href_url = $this.attr('href');
        if (href_url) {
            e.preventDefault();
            e.stopPropagation();
            var mark_as_read_a = $($this.closest('article.notification').find('a.mark-as-read'));
            var data = mark_as_read_a.data();
            sendDeleteRequest(mark_as_read_a, data.url, function (obj, url) {
                window.location = href_url;
            });
        }

    });

    $('a.mark-as-read').on('click', function(e) {
        var $this = $(this);
        var data = $this.data();

        e.preventDefault();
        e.stopPropagation();

        sendDeleteRequest($this, data.url);

    });

    function calculateTotalNotifications() {
        var current_num = parseInt($('article.notification').length);
        if (current_num == 0) {
            $('#mark-all-as-read').hide();
            $('#notification-count').hide();
        }
        $('#notification-count').html(current_num);
    }

    function sendDeleteRequest(obj, url, callback) {
        var $this = obj;

        $.ajax({
            "type": 'DELETE',
            "url": url,
            "dataType": 'json',
            "contentType": 'application/json',
            "beforeSend": function (jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrf_token]:first').val());
            },
            "success": function (data) {
                calculateTotalNotifications();
                if (callback !== undefined) {
                    callback(obj, url)
                } else {
                    // only remove when we dont have a callback
                    $this.closest('article').remove()
                }

            }
        });
    }

    $('#mark-all-as-read').on('click', function(e) {
        var $this = $(this);
        var data = $this.data();

        e.preventDefault();
        e.stopPropagation();

        $.ajax({
            "type": 'DELETE',
            "url": data.url,
            "dataType": 'json',
            "contentType": 'application/json',
            "beforeSend": function (jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrf_token]:first').val());
            },
            "complete": function (data) {
                document.location.reload();
            }
        });
    });

    // Load desktop notify
    $.when(
        // Retrieve intro script
        $.getScript( "/static/ng/bower_components/html5-desktop-notifications/desktop-notify.js" ),
        $.Deferred(function( deferred ){
            $( deferred.resolve );
        })
        ).done(function(){
            processNotificationPermissionLevel();
        });

        function processNotificationPermissionLevel() {
            var permissionLevel = notify.permissionLevel();
            if(permissionLevel==='default') {
                $('#requestNotifyPermission').removeClass('hidden');
                $('.notification-link').click(function(){
                    $('#requestNotifyPermission').addClass('hidden');
                    $('#requestNotifyInstructions').removeClass('hidden');
                    requestNotifyPermission();
                });
            }
        }

        function requestNotifyPermission() {
          notify.requestPermission(function(){
            $('#requestNotifyInstructions').addClass('hidden');
        });
      };

  });
</script>
{% endblock %}
