{% extends 'notification/base.html' %}{% load url from future %}{% load humanize %}

{% block inbox %}
{% csrf_token %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <h4>Notifications</h4>
         {% if object_list %}<button id="mark-all-as-read" data-url="{% url 'notification:inbox-mark-all-read' %}" class="btn btn-embossed btn-link pull-right">Mark all as read</button>{% endif %}

        {% for notice in object_list %}
        <table class="table">
            <tr>
                <td name="#mark-as-read-{{ notice.pk }} lead">
                    {{ notice.message.message }}
                    <a href="javascript:;" data-url="{% url 'notification:inbox-read' pk=notice.pk %}" data-pk="{{ notice.pk }}" class="mark-as-read pull-right"  data-toggle="tooltip" data-placement="right" title="Mark as read"> 
                        <span class="fui-check text-info"></span>
                    </a>
                    <span class="text-muted"><small>{{ notice.message.date|naturaltime }}</small></span>  
                </td>
            </tr>
        </table>
        {% endfor %}   

    </div>
</div>



{% endblock %}


{% block js %}
{{ block.super }}
<script>
$(document).ready(function () {
    'use strict';

    $('a.mark-as-read').on("click", function() {
        var self = $(this);
        var data = self.data()

        $.ajax({
            "type": 'DELETE',
            "url": data.url,
            "dataType": 'json',
            "contentType": 'application/json',
            "beforeSend": function (jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
            },
            "success": function ( data ) {
            }
        });

        return false; //this is critical to stop the click event which will trigger a normal file download!
    });

    $('button#mark-all-as-read').on("click", function() {
        var self = $(this);
        var data = self.data()

        $.ajax({
            "type": 'DELETE',
            "url": data.url,
            "dataType": 'json',
            "contentType": 'application/json',
            "beforeSend": function (jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
            },
            "complete": function ( data ) {
            }
        });

        return false; //this is critical to stop the click event which will trigger a normal file download!
    });

});
</script>
{% endblock %}