<div ng-hide="isDeleted">
    <div ng-bind-html="ngModel.event" ng-hide="ngModel.type==='item-comment'"></div>

    <div class="comment" ng-show="ngModel.type==='item-comment'">
        <div ng-bind-html="head"></div>
        <blockquote>
            <span class="fui-chat"></span>
            <a href="javascript:;" ng-click="deleteComment()" ng-show="deleteCommentIsEnabled()" class="close">x</a>
            <a href="javascript:;" ng-click="startEditingComment()" ng-show="editCommentIsEnabled()" class="edit fui-new"></a>
            <div ng-click="startEditingComment()" ng-hide="show_edit_comment" ng-bind-html="data.comment | newlines"></div>
            <div class="comment-description" ng-show="show_edit_comment">
                <textarea class="form-control" ng-model="data.edit_comment" focus-on="event_edit_comment"></textarea>
                <a href="javascript:;" class="btn btn-primary btn-xs"
                   ng-click="saveComment();show_edit_comment=false;">Save comment</a>
                <a href="javascript:;" class="btn btn-inverse btn-xs item-description-cancel"
                   ng-click="show_edit_comment=false;data.edit_comment='';">Cancel</a>
            </div>
        </blockquote>       
    </div>
</div>