{% extends 'dash/dash.html' %}{% load url from future %}{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}Invite {{ tool_instance.user.get_full_name|default:tool_instance.user.email }}{% endblock  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb workspace.name 'workspace:view' workspace.slug %}
    {% breadcrumb tool.name 'workspace:tool_object_list' workspace.slug tool.slug %}
    {% breadcrumb 'Invite Client' '' %}

{% endblock %}

{% block content %}
    <h4>Invite {{ tool_instance.user.get_full_name }} <small>({{ tool_instance.user.email }})</small></h4>
    <p class="">The 83(b) Election Letter has been set up. You can now invite {{ tool_instance.user.get_full_name }} to complete the process on LawPal. Please review the message below, ammend it where necessary and click "Send Invite".</p>
    <hr />
    {% include 'partials/form-errors.html' with form=form %}
	    {% crispy form %}
{% endblock %}

{% block css %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/summernote.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/summernote.min.js"></script>
    <script src="{{ STATIC_URL }}js/tool-form.js"></script>
{% endblock %}