{% extends 'dash/dash.html' %}{% load url from future %}{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}{{ tool.name }} — {{ object.client_name | default:'New' }} — {{ workspace.name }} — LawPal{% endblock  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb workspace.name 'workspace:view' workspace.slug %}
    {% breadcrumb tool.name 'workspace:tool_object_list' workspace.slug tool.slug %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h4 class="caption"><a href="{% url 'workspace:view' slug=workspace.slug %}">{{ workspace.name }}</a></h4>
        <h4 class="caption"><a href="{% url 'workspace:tool_object_list' workspace=workspace.slug tool=tool.slug %}">{{ tool.name }}</a></h4>
        <h4>{{ object.client_name | default:'New' }}</h4>
    </div>

    {% if form.errors %}
        <div class="dialog dialog-danger form-errors">
            <div class="container">
                {% if form.errors|length > 1 %}
                    <p>There were {{ form.errors|length }} errors with this:</p>
                {% elif form.errors|length == 1 %}
                    <p>There was 1 error with this:</p>
                {% endif %}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% crispy form %}
{% endblock %}