{% extends 'workspace/workspace_base.html' %}

{% load url from future %}

{% block header %}
<div class="row">
    <h4>{{ workspace }}</h4>
    <div class="pull-right">Attorney: {{ object.lawyer.get_full_name|default:object.lawyer.email }}</div>
</div>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="section col-lg-6">
            <div class="section-header">
                <h6>Active Tools</h6>
            </div>
            <ul class="added-tools-list nav nav-list">
                {% for t in workspace.tools.all %}
                    <li>
                        <a href="{% url 'workspace:tool_object_list' workspace=workspace.slug tool=t.slug %}">
                            <span class="icon"><img src="{{ STATIC_URL }}{{ t.icon }}"></span> {{ t }}
                        </a>
                    </li>
                {% empty %}
                    <li><p class="small">No tools yet!</p></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="section col-lg-12">
            <div class="section-header">
                {% if user.profile.is_lawyer %}
                    <div class="pull-right">
                        <a href="{% url 'workspace:add_team_member' slug=workspace.slug %}" data-toggle="modal" data-target="#workspace-add-team-member" class="btn btn-sm btn-success pull-right">Add team member</a>
                    </div>
                {% endif %}
                <h6>Workspace Members</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Type</th>
                        </tr>
                        {% for u in workspace.participants.all %}
                            <tr>
                                <td>{{ u.get_full_name }}</td>
                                <td>{{ u.email }}</td>
                                <td>{{ u.profile.type }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center"><span class="text-muted">No team members found!</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<!-- 
    <div class="row">
        <div class="section col-lg-12">
            <div class="section-header">
                <h6>Workspace Activity</h6>
            </div>
        </div>
    </div> -->
{% endblock %}

{% block modals %}
    {{ block.super }}
    <div class="modal" id="workspace-add-team-member"></div>
{% endblock %}
