{% extends 'dash/dash.html' %}{% load url from future %}{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}{{ tool.name }} — {{ object.client_name | default:'New' }} — {{ workspace.name }} — LawPal{% endblock  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb workspace.name 'workspace:view' workspace.slug %}
    {% breadcrumb tool.name 'workspace:tool_object_list' workspace.slug tool.slug %}
    {% if object %}
        {% breadcrumb object.client_name '' %}
    {% else %}
        {% breadcrumb 'New' '' %}
    {% endif %}

{% endblock %}

{% block content %}
    <div class="page-header">
        <h4>{{ object | default:'New' }}</h4>
    </div>

    {% include 'partials/form-errors.html' with form=form %}

    {% crispy form %}
{% endblock %}

{% block css %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/summernote.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/summernote.min.js"></script>
    <script src="{{ STATIC_URL }}js/tool-form.js"></script>
{% endblock %}
