{% extends 'dash/dash.html' %}{% load url from future %}{% load django_bootstrap_breadcrumbs %}

{% block page_title %}{{ tool.name }} — {{ workspace.name }} — LawPal{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb workspace.name 'workspace:view' workspace.slug %}
    {% breadcrumb tool.name 'workspace:tool_object_list' workspace.slug tool.slug %}
{% endblock %}

{% block content %}
    <div class="page-header">
        {% if user.profile.is_lawyer %}
            <div class="actions">
                <a href="{% url 'workspace:tool_object_new' workspace=workspace.slug tool=tool.slug %}" class="btn btn-primary">New {{ tool.short_name }}</a>
            </div>
        {% endif %}

        <h4 class="caption"><a href="{% url 'workspace:view' slug=workspace.slug %}">{{ workspace.name }}</a></h4>
        <h4>{{ tool.name }}</h4>
    </div>

    <div class="table-responsive">
        <table class="table table-striped {{ tool.slug }}">
            <tbody>
                <tr>
                    <th>Client Name</th>
                    <th>Transfer Date</th>
                    <th>Filing Deadline</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                {% for t in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'workspace:tool_object_edit' workspace=workspace.slug tool=tool.slug pk=t.pk %}">{{ t.client_name }}</a>
                        </td>
                        <td>{{ t.transfer_date|date:"N jS Y" }}</td>
                        <td>{{ t.filing_date|date:"N jS Y" }}</td>
                        <td>
                            <ol>
                            <li>Send to Client (<a href="#">View link</a>) - includes preview with option to send now</li>
                            <li>:general_status - based on usps callback</li>
                            </ol>
                        </td>
                        <td>
                            <a href="{% url 'workspace:tool_object_preview' workspace=workspace.slug tool=tool.slug pk=t.pk %}" title="Preview">
                                <span class="fui-eye text-primary"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'workspace:tool_object_download' workspace=workspace.slug tool=tool.slug pk=t.pk %}" title="Download">
                                <span class="fui-document text-primary"></span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center"><span class="text-muted">None found</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}