{% extends 'dash/dash.html' %}{% load url from future %}{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}{{ tool.name }} — New — {{ workspace.name }} — LawPal{% endblock  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb workspace.name 'workspace:view' workspace.slug %}
    {% breadcrumb tool.name 'workspace:tool_object_list' workspace.slug tool.slug %}
    {% if object %}
        {% breadcrumb 'Edit' '' %}
    {% else %}
        {% breadcrumb 'Create' '' %}
    {% endif %}

{% endblock %}

{% block content %}
    <div class="page-header">
        <h4>{% if object %}Edit {{ object }}{% else %}New {{ tool.short_name }}{% endif %}</h4>
    </div>
    {{ form.errors }}
    {% crispy form %}
{% endblock %}