{% extends 'workspace/workspace_tool_base.html' %}

{% load url from future %}{% load humanize workspace_markers %}

{% block header %}
    <h4 class="caption"><a href="{% url 'workspace:view' slug=workspace.slug %}">{{ workspace.name }}</a></h4>
    <h4>{{ object }}</h4>
{% endblock %}

{% block header_right %}
    <div class="progress" data-toggle="tooltip" title="{{ object.markers.percent_complete }}% completed">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ object.markers.percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ object.markers.percent_complete }}%;">
            <span class="sr-only">{{ object.markers.percent_complete }}% completed</span>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% comment %}
        We REQUIRE the csrf token for action item ajax events to occurr
    {% endcomment %}
    {% csrf_token %}

    {% block tabs %}
        <ul class="nav nav-tabs nav-append-content">
            <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
            <li><a href="#preview" data-toggle="tab">{{ tool.short_name }} Preview</a></li>
        </ul>
    {% endblock %}

    <div class="tab-content">
        {% block overview %}
            <div class="tab-pane active" id="overview">
                <ul class="list-group status-list {{ tool.slug }}-status-list">
                    {% for marker in object.markers %}
                        {% block marker %}
                            {% if marker.show_marker %}
                            <li class="list-group-item status-list-item status-{{ marker.status }}">
                                <div class="row">
                                    {% marker_status_block marker user %}
                                </div>
                            </li>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}

        {% block preview %}
            <div class="tab-pane" id="preview">
                <iframe name="id_preview" id="tool-preview" class="fade" style="width: 100%;" src="{% url 'workspace:tool_object_display' workspace=workspace.slug tool=tool.slug slug=object.slug %}"></iframe>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        'use strict';

        var $iframe = $('iframe#tool-preview');
        var $overview = $('#overview');
        $iframe.height($overview.height()).removeClass('fade');
    });
</script>
{% endblock %}
