{% extends 'dash/dash.html' %}{% load url from future %}{% load django_bootstrap_breadcrumbs %}

{% block page_title %}Overview — {{ workspace.name }} — LawPal{% endblock  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb workspace.name 'workspace:view' workspace.slug %}
    {% breadcrumb 'Overview' 'workspace:view' workspace.slug %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h4 class="caption"><a href="{% url 'workspace:view' slug=workspace.slug %}">{{ workspace.name }}</a></h4>
        <h4>Overview</h4>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h5 class="text-muted">Team Members         <a href="{% url 'workspace:add_team_member' slug=workspace.slug %}" class="btn btn-success btn-sm pull-right">Add Team Member</a>
</h5>
            <ul id="object-list" class="{{ tool.slug }} list-unstyled">
            {% for u in workspace.participants.all %}
                <li>{{ u.get_full_name|default:u.email }}</li>
                {% empty %}
                <li>No Team members found</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h5 class="text-muted">Enabled Tools</h5>
            <ul id="selected_tools-list" class="list-unstyled">
            {% for t in workspace.tools.all %}
                <li><a href="{% url 'workspace:tool_object_list' workspace=workspace.slug tool=t.slug %}">{{ t }}</a></li>
                {% empty %}
                <li>No Team members found</li>
            {% endfor %}
            </ul>
        </div>
        <!-- <div class="col-md-6">
            <h4>Available Tools</h4>
            <ul id="available_tools-list">
            {% for t in workspace.available_tools.all %}
                <li>{{ t }}<span class="pull-right"><img src="{{STATIC_URL}}{{ t.icon }}" alt="{{ t.short_name }}" style="height:24px;margin-right:4px;"></span></li>
                {% empty %}
                <li>No additional Tools are available</li>
            {% endfor %}
            </ul>
        </div> -->
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-muted">Workspace Activity</h5>
        </div>
    </div>
{% endblock  %}

{% block js %}{% endblock  %}