{% extends 'workspace/workspace_tool_base.html' %}

{% load url from future %}{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}Invite {{ item.user.get_full_name }} — {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Invite' 'workspace:tool_object_invite' workspace.slug tool.slug item.slug %}
{% endblock %}

{% block header %}
    <div class="breadcrumb-text">
        <h4 class="caption">
            <a href="{% url 'workspace:view' slug=workspace.slug %}">{{ workspace.name }}</a>
        </h4>
        <h4 class="caption">
            <a href="{% url 'workspace:tool_object_list' workspace=workspace.slug tool=tool.slug %}">{{ tool.name }}</a>
        </h4>
        <h4 class="caption">
            <a href="{% url 'workspace:tool_object_overview' workspace=workspace.slug tool=tool.slug slug=item.slug %}">{{ item }}</a>
        </h4>
    </div>
    <h4>Invite {{ item.user.get_full_name }} ({{ item.user.email }})</h4>
{% endblock %}

{% block main %}
    {% block form %}
        {% crispy form %}
    {% endblock %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
