<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">
            Review from {{ review.reviewer.name }} for {{ revision.name }}
            <span class="pull-right"><span class="fui-lock"></span> Visible to
                <span ng-repeat="r in usersWithAccess" class="user">{{ r.initials }}</span>
            </span>
        </h4>
	</div>
	<div class="modal-body">
		<iframe src="{{ review.reviewer.user_review_url }}" style="width: 100%; height: 500px;"></iframe>
	</div>
	<div class="modal-footer">
        <button class="btn" ng-click="review.is_complete=!review.is_complete;saveReview()" style="float: left;"
                ng-class="{'btn-primary': review.is_complete==false, 'btn-default': review.is_complete==true}">
            <span ng-hide="review.is_complete">Mark completed</span>
            <span ng-show="review.is_complete">Mark incomplete</span>
        </button>
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>