<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">
            Review from {{ reviewer.name }} for {{ revision.name }}
            <span class="pull-right"><span class="fui-lock"></span> Visible to
                <span ng-repeat="r in usersWithAccess" class="user">{{ r.initials }}</span>
            </span>
        </h4>
	</div>
	<div class="modal-body">
		<iframe src="{{ reviewer.user_review_url }}" style="width: 100%; height: 500px;"></iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>