{% extends 'gui.html' %}

{% block page_title %}Invoices — {{ block.super }}{% endblock%}

{% block body %}
    <div id="plans" class="content">
        <div class="content-header plans-header clearfix">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3>Invoices</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-6 col-sm-offset-3" role="main">
                Invoice List
            </div>
        </div>
    </div>
{% endblock %}
