{% extends 'gui.html' %}

{% block page_title %}Plans &amp; Upgrades — {{ block.super }}{% endblock%}

{% block body %}
    <div id="plans" class="content">
        <div class="content-header plans-header clearfix">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3>Plans &amp; Upgrades</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-6 col-sm-offset-3" role="main">
                <div class="row">
                    <div class="col-md-12">
                        <div class="plan">
                            <img src="/static/images/icons/ticket.svg" alt="Early Bird" class="plan-image big-illustration">
                            <h3 class="plan-title">Early Bird</h3>
                            <h6 class="plan-price">$35/mo</h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <a href="" class="btn btn-primary btn-hg">Get this plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
