td.item-title {
	position: relative;
	span { z-index:2; position: relative; }
	div { z-index:1}
	.progress {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0;
		width:200%;
		height:100%;
		background-color: transparent;
		margin:0;
		padding:0;
	}
}