<div id="checklist" class="checklist-wrapper">
	<div class="container-fluid full">
		<div class="row mobile" ng-show="data.page!=='checklist'">
			<button type="button" class="btn btn-link btn-transparent" ng-click="displayChecklist()">&lt; Checklist</button>
			<button type="button" class="btn btn-default pull-right btn-square btn-white" ng-click="displayActivity()" ng-class="{ 'active': data.page==='activity' }"> Activity and Discussion</button>
			<button type="button" class="btn btn-default pull-right btn-square btn-light" ng-click="displayDetails()" ng-class="{ 'active': data.page==='details' }"> Files</button>
		</div>
		<div class="row full">
			<div class="col-sm-5 checklist-col full" id="checklist-items" ng-class="{ 'zero': data.page!=='checklist' }">

				<!-- start: LAWYER checklist //-->
				<span ng-show="data.usdata.current.permissions.manage_items">
					<div>
						<div ng-repeat="cat in data.categories | filter: {name:'!'}" id="step1">
							<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-header.html'"></span>
							<!-- Checklist //-->
							<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-lawyer.html'"></span>
							<!-- checklist footer //-->
							<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-footer.html'"></span>
						</div>
					</div>
					<div ui-sortable="checklistCategorySortableOptions" ng-model="data.categories" class="categories-list">
						<div ng-repeat="cat in data.categories" ng-show="cat.name!==null">
							<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-header.html'"></span>
							<!-- Checklist //-->
							<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-lawyer.html'"></span>
							<!-- checklist footer //-->
							<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-footer.html'"></span>
						</div>
					</div>
				</span>
				<!-- end: LAWYER checklist //-->


				<!-- start: CUSTOMER checklist //-->
				<span ng-show="!data.usdata.current.permissions.manage_items">
					<div ng-repeat="cat in data.categories">
						<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-header.html'"></span>
						<!-- Checklist //-->
						<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-customer.html'"></span>
					</div>
				</span>
				<!-- end: CUSTOMER checklist //-->
			</div>
			<div class="col-sm-7 item spa full" id="checklist-detail-container" ng-class="{ 'zero': data.page==='checklist' }">
				<div class="row full">

					<!-- begin item details //-->
					<!-- @TODO Make the URL dynamic -->
					<div class="col-md-7 full checklist-col" id="checklist-detail" ng-include="'/static/ng/partial/checklist/includes/itemdetails.html'" ng-class="{ 'zero': data.page!=='details' }">&nbsp;</div>
					<!-- end item details //-->

					<!-- chat //-->
					<div class="col-sm-5 chat full checklist-col" id="checklist-activity" ng-include="'/static/ng/partial/checklist/includes/itemchat.html'" ng-class="{ 'zero': data.page!=='activity'}">&nbsp;</div>
					<!-- end: chat //-->
				</div>
			</div>
		</div>
	</div>

    <div class="upload-bar" ng-show="data.uploading">
		<div class="progress progress-striped active" ng-repeat="item in data.matter.items | filter: { uploading: true }">
			<div class="progress-bar progress-bar-info" ng-style="{'width': item.uploadingPercent + '%'}">Uploading to <font ng-bind="item.name"></font></div>
			<button ng-click="cancelRevisionUpload(item)" class="btn btn-danger pull-right">Cancel</button>
		</div>
	</div>
</div>
<div intercom user-id="{{ data.usdata.current.id }}" user-email="{{ data.usdata.current.email }}"></div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<div mentions-container participants="data.matter.participants" curr-user="data.usdata.current"></div>
<!-- <button type="button" class="btn btn-primary refresh-less-button bounceInLeft" ng-click="showIntro()" ng-disabled="reloadingLess" ng-if="DEBUG_MODE">
	Less&nbsp;&nbsp;<i class="fa fa-refresh"></i>
</button> -->
<!--<input type="filepicker" data-fp-apikey="A4Ly2eCpkR72XZVBKwJ06z" data-fp-mimetypes="*/*" data-fp-container="modal" onchange="alert(event.fpfile.url)">//-->
