
<div id="messaging" class="checklist-wrapper full">
	<div class="container-fluid full">
		<div class="row mobile" ng-show="data.page!=='checklist'">
			<button type="button" class="btn btn-link btn-transparent" ng-click="displayChecklist()">&lt; Inbox</button>
		</div>
		<div class="row full">
			<div class="col-lg-4 full checklist-col" id="inbox" ng-class="{ 'zero': data.page!=='inbox' }">
				<!-- start: Inbox //-->
				<div class="row inbox-header">
					<div class="col-xs-7">
						<input type="search" class="form-control flat" placeholder="Search Inbox" id="search-query-1">
					</div>
					<div class="col-xs-3 new-message">
						<a href="#" class="btn btn-md btn-warning"><span class="fui-new"></span> New Thread</a>
					</div>
					<div class="inbox-toggle">
						<div class="col-xs-6 text-center"><div class="active">Inbox <span class='text-muted'>(34)</span></div></div>
						<div class="col-xs-6">Archive <span class='text-muted'>(56)</span></div>
					</div>
				</div>
				<div class="row inbox-msgs checklist-col">
					<ul class="msg-list list-unstyled">
						<li>
							<div class="type-icon question"></div>
							<div class="message">
								<h3>Stock option agreement</h3>
								<p>We need to talk about this urgently. We need to talk about this urgently. </p>
								<div class="meta">
									<span class="last-active">Last active 29 mins ago</span>
									<div class="user-meta">
										<span class="user coleg">AH</span>
										<span class="user coleg last">BC</span>
										<span class="user client">YC</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="type-icon idea"></div>
							<div class="message">
								<h3>Relevent accountants for the company?</h3>
								<p>Can we think about which accountant we should be using for the new inc?</p>
								<div class="meta">
									<span class="last-active">Last active 29 mins ago</span>
									<div class="user-meta">
										<span class="user coleg">AH</span>
										<span class="user coleg last">BC</span>
										<span class="user client">YC</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="type-icon question"></div>
							<div class="message">
								<h3>Relevant accountants for the company?</h3>
								<p>Can we think about which accountant we should be using for the new inc?</p>
								<div class="meta">
									<span class="last-active">Last active 29 mins ago</span>
									<div class="user-meta">
										<span class="user coleg">AH</span>
										<span class="user coleg last">BC</span>
										<span class="user client">YC</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="type-icon discussion"></div>
							<div class="message">
								<h3>Relevant accountants for the company?</h3>
								<p>Can we think about which accountant we should be using for the new inc?</p>
								<div class="meta">
									<span class="last-active">Last active 29 mins ago</span>
									<div class="user-meta">
										<span class="user coleg">AH</span>
										<span class="user coleg last">BC</span>
										<span class="user client">YC</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="type-icon urgent"></div>
							<div class="message">
								<h3>Relevant accountants for the company?</h3>
								<p>Can we think about which accountant we should be using for the new inc?</p>
								<div class="meta">
									<span class="last-active">Last active 29 mins ago</span>
									<div class="user-meta">
										<span class="user coleg">AH</span>
										<span class="user coleg last">BC</span>
										<span class="user client">YC</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="type-icon issue"></div>
							<div class="message">
								<h3>Relevent accountants for the company?</h3>
								<p>Can we think about which accountant we should be using for the new inc?</p>
								<div class="meta">
									<span class="last-active">Last active 29 mins ago</span>
									<div class="user-meta">
										<span class="user coleg">AH</span>
										<span class="user coleg last">BC</span>
										<span class="user client">YC</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-8 row full" id="message-stage">
				<div class="col-lg-12">
					<div class="head">
						<div class="row">
							<div class="col-sm-8">
							<div class="dropdown">

    					<div class="type-icon question dropdown-toggle" data-toggle="dropdown">

							</div>
							<h3>Stock purchase agreement <span class="text-muted">(4)</span></h3>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="">
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
						    	<div class="type-icon question"></div>
						    	Mark as Question
						    </a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
						    	<div class="type-icon idea"></div>
						    	Mark as Idea

						    </a>
						    </li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><div class="type-icon discussion"></div>
						    	Mark as Discussion
						    </a></li>
						    <li role="presentation" class="divider"></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><div class="type-icon urgent"></div>Mark as Urgent </a>

						    </li>
						  </ul>
						</div>
					</div>
					<!-- <div class="col-sm-6 text-left">
						<h3>Stock purchase agreement <span class="text-muted">(4)</span></h3>
					</div> -->
							<div class="col-sm-3 users-head">
								<span class="user coleg">AH</span>
								<span class="user coleg last">BC</span>
								<span class="user client">YC</span>
							</div>
						</div>
					</div>
					<div class="convo">
						<ul class="list-unstyled">
							<li class="experiment">


							  <div class="followMeBar">a</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">b</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">c</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">d</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">e</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">f</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">g</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">h</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">i</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">j</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">k</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">l</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">m</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="followMeBar">n</div>


							</li>
						</ul>
					</div>
					<div class="compose">
						<textarea class="compose-message" rows=2 placeholder="Type your message here and press enter"></textarea>
					</div>

				</div>
			</div>
		</div>
	</div>

    <div class="upload-bar" ng-repeat="cat in data.categories" ng-show="data.uploading">
		<div class="progress progress-striped active" ng-repeat="item in cat.items | filter: { uploading: true }">
			<div class="progress-bar progress-bar-info" ng-style="{'width': item.uploadingPercent + '%'}">Uploading to <font ng-bind="item.name"></font></div>
		</div>
	</div>
</div>
<div intercom user-id="{{ data.usdata.current.id }}" user-email="{{ data.usdata.current.email }}"></div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<!--<input type="filepicker" data-fp-apikey="A4Ly2eCpkR72XZVBKwJ06z" data-fp-mimetypes="*/*" data-fp-container="modal" onchange="alert(event.fpfile.url)">//-->

<script>
function stickyTitles(stickies) {

    this.load = function() {

			  stickies.each(function(){

				    var thisSticky = jQuery(this).wrap('<div class="followWrap" />');
				        thisSticky.parent().height(thisSticky.outerHeight());

				    jQuery.data(thisSticky[0], 'pos', thisSticky.offset().top);

			  });
		}

		this.scroll = function() {

			  stickies.each(function(i){

			  	console.log('scroll function firing')

				    var thisSticky = jQuery(this),
					      nextSticky = stickies.eq(i+1),
					      prevSticky = stickies.eq(i-1),
					      pos = jQuery.data(thisSticky[0], 'pos');

				    if (pos <= ($('.convo').scrollTop() + 100 )) {

					      thisSticky.addClass("fixed");

					      if (nextSticky.length > 0 && thisSticky.offset().top >= jQuery.data(nextSticky[0], 'pos') - thisSticky.outerHeight()) {

						        thisSticky.addClass("absolute").css("top", jQuery.data(nextSticky[0], 'pos') - thisSticky.outerHeight());

					      }

				    } else {

					      thisSticky.removeClass("fixed");

					      if (prevSticky.length > 0 && jQuery(window).scrollTop() <= jQuery.data(thisSticky[0], 'pos')  - prevSticky.outerHeight()) {

						        prevSticky.removeClass("absolute").removeAttr("style");

					      }

				    }
		    });
    }
}

jQuery(document).ready(function(){

		var newStickies = new stickyTitles(jQuery(".followMeBar"));

		newStickies.load();

		$(".convo").on("scroll", function() {

			  newStickies.scroll();

		});
});

</script>
