<div id="checklist" class="checklist-wrapper">
	<div class="container-fluid full">
		<div class="row mobile" ng-show="data.page!=='checklist'">
			<button type="button" class="btn btn-link btn-transparent" ng-click="displayChecklist()">&lt; Checklist</button>
			<button type="button" class="btn btn-default pull-right btn-square btn-white" ng-click="displayActivity()" ng-class="{ 'active': data.page==='activity' }"> Activity and Discussion</button>
			<button type="button" class="btn btn-default pull-right btn-square btn-light" ng-click="displayDetails()" ng-class="{ 'active': data.page==='details' }"> Files</button>
		</div>
		<div class="row full">
			<div class="col-sm-4 checklist-col full" id="checklist-items" ng-class="{ 'zero': data.page!=='checklist' }">
				<!-- start: checklist //-->
				<span class="categories-list" ng-if="closedItemsCount()>0">
					<div ng-repeat="cat in data.categories">
						<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-header-lite.html'"></span>
						<!-- Checklist //-->
						<span ng-include="'/static/ng/partial/checklist/includes/checklist-line-item-customer.html'"></span>
					</div>
				</span>
				<!-- end: checklist //-->
				<div class="zero-state-closing" ng-if="closedItemsCount()==0">
					<i class="fa fa-folder-open-o"></i>
					<p class="ppad">Currently there are no closed items for <span ng-bind="matter.selected.name"> </span>.</p>
					<p><a href="#/checklist">Return to the Checklist</a></p>
				</div>
			</div>
			<div class="col-sm-8 item spa full" id="checklist-detail-container" ng-class="{ 'zero': data.page==='checklist' }">
						<div class="row document-view-tools">
			<div class="col-sm-12 text-center closing-header">
				<a class="btn-link" ng-click="exportMatter()" ng-disabled="downloadingDocuments" ng-if="closedItemsCount()>0"><i class="fa fa-spinner fa-spin" ng-if="downloadingDocuments"></i><i class="fa fa-download" ng-if="!downloadingDocuments" ng-hidden="downloadingDocuments"></i> Download All </a>
			</div>
		</div>
				<div class="row document-container" ng-if="data.selectedItem.latest_revision">
					<iframe ng-src="{{data.selectedItem.latest_revision.user_review.url}}" class="fit-container" iframe-events></iframe>
				</div>
			</div>
		</div>
	</div>

    <div class="upload-bar" ng-show="data.uploading">
		<div class="progress progress-striped active" ng-repeat="item in data.matter.items | filter: { uploading: true }">
			<div class="progress-bar progress-bar-info" ng-style="{'width': item.uploadingPercent + '%'}">Uploading to <font ng-bind="item.name"></font></div>
			<button ng-click="cancelRevisionUpload(item)" class="btn btn-danger pull-right">Cancel</button>
		</div>
	</div>
</div>
<div intercom user-id="{{ data.usdata.current.id }}" user-email="{{ data.usdata.current.email }}"></div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<div mentions-container participants="data.matter.participants" curr-user="data.usdata.current"></div>
<!--<input type="filepicker" data-fp-apikey="A4Ly2eCpkR72XZVBKwJ06z" data-fp-mimetypes="*/*" data-fp-container="modal" onchange="alert(event.fpfile.url)">//-->
