{% extends 'base-slim.html' %}

{% block page_title %}404 Page does not exist{% endblock %}

{% block prebody %}


<div class="container error-page text-center">
  <div class="col-sm-10 col-sm-offset-1">
          <span class="fa-stack fa-lg">
            <i class="fa fa-file-o" id="file"></i>
            <i class="fa fa-question" id="question"></i>
          </span>
          <div class='error-explanation'>
            <h4>
              <b>Sorry, the page you requested was not found.</b></h4>
            <p>The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.</p>
            <p><b>Need to get in touch? </b> Email us at <a href="mailto:'all@lawpal.com'">support@lawpal.com</a>.
            </p>
          </div>
    </div>
  </div>

{% endblock %}
