

{% extends 'base-slim.html' %}

{% block page_title %}500 An error occurred{% endblock %}

{% block prebody %}
  <style>
  body{
    background-color: #f2f2f2;
  }
    .container{
      width: 60%;
      margin: 0 auto;
    }


   .fa-stack{
    position:relative;
    font-size: 150px;
    font-weight: normal;
   }

   #frown{
    position: absolute;
    top: 132px;
    font-size: 68px;
    left: 118px;
   }
   .error-explanation{

    width: 80%;
    margin: -30px auto;

   }
   p {
    font-size: 16px;
   }
   a{
    color: #42CFE5;
    text-decoration: underline;
   }

   h4{
    color: #42CFE5;
   }


  </style>

<div>
    <div class="container text-center">

              <span class="fa-stack fa-lg">
                <i class="fa fa-file-o" id="file"></i>
                <i class="fa fa-frown-o" id="frown"></i>
              </span>
              <div class='error-explanation'>
                <h4>
                  <b>Sorry, we could not proccess your last request.</b></h4>
                <p>An error occurred in the application and your request could not be completed. Our team has been notified.</p>
                <p><b>Need to get in touch? </b> Email us at <a href="mailto:'all@lawpal.com'">support@lawpal.com</a>.
                </p>
              </div>
        </div>
</div>
{% endblock %}
