

{% extends 'base-slim.html' %}

{% block page_title %}500 An error occurred{% endblock %}

{% block prebody %}
  <style>
    .container{
      width: 60%;
      margin: 0 auto;
    }
    body {

    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #42CFE5),
    color-stop(1, #37A3B3)
    );
    background-image: -o-linear-gradient(bottom, #42CFE5 0%, #37A3B3 100%);
    background-image: -moz-linear-gradient(bottom, #42CFE5 0%, #37A3B3 100%);
    background-image: -webkit-linear-gradient(bottom, #42CFE5 0%, #37A3B3 100%);
    background-image: -ms-linear-gradient(bottom, #42CFE5 0%, #37A3B3 100%);
    background-image: linear-gradient(to bottom, #42CFE5 0%, #37A3B3 100%);
    color: white;
      }

   .fa-stack{
    position:relative;
    font-size: 150px;
    font-weight: normal;
   }
   #frown{
    position: absolute;
    top: 122px;
    font-size: 88px;
    left: 110px;
   }
   .error-explanation{

    width: 80%;
    margin: -30px auto;

   }
   p {
    font-size: 16px;
   }
   a{
    color: white;
    text-decoration: underline;
   }


  </style>

<div>
    <div class="container text-center">

              <span class="fa-stack fa-lg">
                <i class="fa fa-file-o" id="file"></i>
                <i class="fa fa-frown-o" id="frown"></i>
              </span>
              <div class='error-explanation'>
                <h4>
                  <b>Sorry, we could not proccess your last request.</b></h4>
                <p>An error occurred in the application and your page could not be served. Our dev team was notified. Please try again in a few moments.</p>
                <p><b>Need to get in touch? </b> Email us at <a href="mailto:'all@lawpal.com'">all@lawpal.com</a>
                </p>
              </div>
        </div>
</div>
{% endblock %}
