{%load humanize%}<p>Action required</p>
{% if has_expired %}
<h3>Warning, Item Overdue</h3>
<p style="">The "{{ item }}" in the "{{ matter }}" Matter has not been closed, and its due date has past: {{ item.date_due|date:"m-d-Y" }} ({{ item.date_due|naturaltime }})</p>
{% else %}
<p style="">The "{{ item }}" in the "{{ matter }}" Matter has not been closed, and its due date is approaching: {{ item.date_due|date:"m-d-Y" }} ({{ item.date_due|naturaltime }})</p>
{% endif %}
<a href="{{ action_link }}" alt="Click here to view it" title="Click here to view it">{{ action_link }}</a>