{% load request_tags %}
<article class="request">
    <div class="row">
        <div class="col-xs-8">
            <span class="fui-upload request-icon"></span>
            <h6 class="request-title"><small>{{ item.matter.name }}</small></h6>
            <h6 class="request-title">{{ item.name }}</h6>
            <p>{{ item.requested_by.name }} requested your signature on this document.</p>
        </div>
        <div class="col-xs-4">
            {% if item.is_complete %}
                <p class="request-status"><span class="fui-check-inverted"></span> Completed</p>
            {% else %}
                {% user_has_signed item=item user=user %}
            {% endif %}
        </div>
    </div>
    {% if item.message %}
        <div class="row">
            <div class="col-xs-12">
                <blockquote>{{ item.message }}</blockquote>
            </div>
        </div>
    {% endif %}
</article>
