{% load url from future %}

<section id="requests-upload">
    {% if object_list %}
        <h5>Documents to be uploaded</h5>
        <p class="lead">Please upload the following documents:</p>

        <div class="requested">
            {% for item in object_list %}
                <article class="request">
                    <div class="row">
                        <div class="col-xs-8">
                            <span class="fui-upload request-icon"></span>
                            <h6 class="request-title"><small>{{ item.matter.name }}</small></h6>
                            <h6 class="request-title">{{ item.name }}</h6>
                            <p>{{ item.requested_by.name }} requested you upload this document.</p>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" class="btn btn-wide btn-info btn-embossed pull-right" data-remote="{% url 'matter_item_revision' matter_slug=item.matter.slug item_slug=item.slug %}" data-toggle="filepicker">Upload File</a>
                        </div>
                    </div>
                    {% if item.note %}
                        <div class="row">
                            <div class="col-xs-12">
                                <blockquote>{{ item.note }}</blockquote>
                            </div>
                        </div>
                    {% endif %}
                </article>
            {% endfor %}
        </div>
    {% endif %}
</section>
