{% extends 'gui.html' %}

{% load request_tags %}

{% block body %}
    <div id="requests" class="content">
        <div class="requests-header clearfix">
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3>{% if object_list.count > 0 %}<span class="circle">{{ object_list.count }}</span> {% endif %}Requests</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" role="main">
                    {% if object_list %}
                        {% request_uploads_section object_list request.user %}
                        {% request_reviews_section object_list request.user %}
                        {% request_signings_section object_list request.user %}
                    {% else %}
                        <div class="col-md-12 text-center">
                            <h6 class="text-muted">You currently have no open requests.</h6>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script src="{{ STATIC_URL }}js/filepicker.js"></script>
{% endblock %}
