{% load request_tags %}

<section id="requests-signing">
    {% if object_list %}
        <h5>Documents to be signed</h5>
        {% if show_completed %}
            <p class="lead">You have signed the following documents:</p>
        {% else %}
            <p class="lead">Please read, review and sign the following documents:</p>
        {% endif %}

        <div class="requested">
            {% for item in object_list %}
                {% request_signing_item item user %}
            {% endfor %}
        </div>
    {% endif %}
</section>
