{% extends 'gui.html' %}

{% load url from future %}{% load user_tags widont %}

{% block body %}
    <div id="matter-list" class="content col-lg-12">
        <section class="matters cards">
            <header class="page-header">
                <h4>All Matters</h4>
                <div class="pull-right">
                    {% if can_create %}
                        <a href="{% url 'matter:create' %}" data-toggle="modal" data-target="#matter-create" class="btn btn-sm btn-primary"><i class="fui-plus"></i> New Matter</a>
                    {% endif %}
                </div>
            </header>

            <div class="row">
                {% for m in object_list %}
                    <article class="col-md-4 matter">
                        <div class="card">
                            {% if can_edit %}
                                <a href="{% url 'matter:edit' matter_slug=m.slug %}" data-toggle="modal" data-target="#matter-edit-{{ m.slug }}" class="edit">
                                    <span class="fui-gear"></span>
                                </a>
                            {% endif %}

                            <a href="{% url 'matter:detail' matter_slug=m.slug %}#/checklist" title="{{ m.name }}" class="content">
                                <div class="title">
                                    {% if user.profile.is_lawyer %}
                                        <h6>{{ m.client.name }}</h6>
                                    {% else %}
                                        <h6>{{ m.lawyer.name }}</h6>
                                    {% endif %}
                                    <h5>{{ m.name|widont|safe }}</h5>
                                </div>
                                <div class="meta clearfix">
                                    <p class="small pull-left">Last updated <time datetime="{{ m.date_modified|date:'Y-m-d\TH:i:s\Z' }}">{{ m.date_modified|date }}</time></p>
                                    <div class="people pull-right">
                                        {% for user in m.participants %}
                                            {% avatar user %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    {% if can_create %}
        <div class="modal" id="matter-create"></div>
    {% endif %}
    {% for m in object_list %}
        {% if can_edit %}
            <div class="modal" id="matter-edit-{{ m.slug }}"></div>
        {% endif %}
        {% if can_delete %}
            <div class="modal" id="matter-delete-{{ m.slug }}"></div>
        {% endif %}
    {% endfor %}
{% endblock %}
