{% extends 'gui.html' %}{% load url from future %}

{% block body %}
    <div id="matter-list" class="content col-lg-12">
        <section class="matters cards">
            <header class="page-header">
                <h4>All Matters</h4>
                <div class="pull-right">
                    {% if can_create %}
                        <a href="{% url 'matter:create' %}" data-toggle="modal" data-target="#matter-create" class="btn btn-success btn-embossed"><i class="fui-plus"></i> New Matter</a>
                    {% endif %}
                </div>
            </header>

            <div id="matter-content" class="row">
                {#% include 'matter/partials/matter_list.html' %#}
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    {% if can_create %}
        <div class="modal" id="matter-create"></div>
    {% endif %}
    {% for m in object_list %}
        {% if can_edit %}
            <div class="modal" id="matter-edit-{{ m.slug }}"></div>
        {% endif %}
        {% if can_delete %}
            <div class="modal" id="matter-delete-{{ m.slug }}"></div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block js %}
<script src="//fb.me/react-0.10.0.js"></script>
<script src="//fb.me/JSXTransformer-0.10.0.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fuse.js/1.0.1/fuse.min.js"></script>
<script>
'use strict';

var UserData = {
    'is_lawyer': {{ user.profile.is_lawyer|lower }},
    'name': "{{ user.get_full_name }}",
    'can_edit': {{ can_edit|lower }}
};
var edit_url = "{% url 'matter:edit' matter_slug='lp-react-name' %}";
var MatterListData = {{ object_list_json|safe }};
</script>

{% verbatim %}
<script type="text/jsx">
/** @jsx React.DOM */
/**
* ReactJS Experiment
*
*/
var MatterItem = React.createClass({
  render: function() {
    return (
            <article className="col-md-4 matter">
                <div className="card">

                    { this.props.editMatterInterface }
                    
                    <a href={ this.props.detail_url } title={ this.props.name } className="content">
                        <div className="title">
                            <h6>{ this.props.lawyer_or_client_name }</h6>
                            <h5>{ this.props.name }</h5>
                        </div>
                        <div className="meta clearfix">
                            { this.props.lastupdated_or_complete }
                            { this.props.participantList }
                        </div>
                    </a>
                    <div className="progress">
                        <div className="progress-bar" style={ this.props.percentStyle }></div>
                    </div>
                </div>
            </article>
    );
  }
});

var Participants = React.createClass({
    render: function() {
        var userNodes = this.props.data.map(function (user) {
            //console.log(user)
            return (
                <div className="avatar img-circle">
                    <span className="initials" title={ user.name }>{ user.initials }</span>
                </div>
            )
        });

        return (
          <div className="people pull-right">
            {userNodes}
          </div>
        );
    }
});

var LatUpdatedOrComplete = React.createClass({
    render: function() {
        var percent_complete = this.props.percent_complete;
        var date_modified = this.props.date_modified;

        if (percent_complete === '100%') {

            return (
                <p className="small pull-left done"><span className="fui-check-inverted"></span> Complete</p>
            );

        } else {

            return (
                <p className="small pull-left">Last updated <time datetime={ date_modified }>{ date_modified } ago</time></p>
            );
        }
    }
});


var EditMatterInterface = React.createClass({
    render: function() {
        var key = this.props.key;
        var can_edit = this.props.can_edit;
        var edit_url = this.props.edit_url;
        var modal_target = '#matter-edit-' + key;
        if (can_edit === true) {

            return (
                <a href={edit_url} data-toggle="modal" data-target={modal_target} className="edit">
                    <span className="fui-gear"></span>
                </a>
            );

        } else {

            return '';
        }
    }
});


var MatterList = React.createClass({
  fuse: new Fuse(MatterListData, { keys: ["name", "client.name", "lawyer.name"] }),
  getInitialState: function() {
    return {
        'matters': MatterListData
    }
  },
  handleChange: function(event) {
    var searchFor = event.target.value;
    this.setState({'matters': (searchFor != '') ? this.fuse.search(event.target.value) : MatterListData });
  },
  render: function() {
    var matterNodes = this.state.matters.map(function (matter) {

        var editUrl = edit_url.replace('lp-react-name', matter.slug);
        var detailUrl = matter.base_url;

        var percentStyle = {'width': matter.percent_complete};
        var lawyer_or_client_name = (UserData.is_lawyer) ? matter.client.name : matter.lawyer.name ;

        var participantList = <Participants data={matter.participants} />
        var lastupdatedOrComplete = <LatUpdatedOrComplete percent_complete={matter.percent_complete}
                                                          date_modified={matter.date_modified} />
        var editMatterInterface = <EditMatterInterface key={matter.slug} can_edit={UserData.can_edit} edit_url={editUrl} />

        return <MatterItem 
                key={matter.slug}
                name={matter.name}
                is_lawyer={UserData.is_lawyer}
                lawyer_or_client_name={lawyer_or_client_name}

                participantList={participantList}
                lastupdated_or_complete={lastupdatedOrComplete}
                editMatterInterface={editMatterInterface}

                percent_complete={matter.percent_complete}
                percentStyle={percentStyle}
                detail_url={detailUrl}
                edit_url={editUrl}>{matter}</MatterItem>;
    });
    return (
      <div className="MatterList">
          <div className="row">
            <input className="input-lg" onChange={this.handleChange} autocomplete="off" id="id_q" name="q" parsley-required="true" parsley-required-message="This field is required." placeholder="Search Matters" type="text" />
          </div>
          <br/>
          <div className="row">
            {matterNodes}
          </div>
      </div>
    );
  }
});

React.renderComponent(
  //<MatterList data={MatterListData} can_create={can_create} can_edit={can_edit} can_delete={can_delete} />,
  <MatterList />,
  document.getElementById('matter-content')
);
</script>
{% endverbatim %}

{% endblock %}