{% extends 'gui.html' %}

{% load url from future %}{% load crispy_forms_tags %}

{% block page_title %}Settings — {{ block.super }}{% endblock%}

{% block sidebar %}
{% endblock %}

{% block header %}
    <h4>Account Setup</h4>
{% endblock %}

{% block body %}
    <div id="notifications" class="content">
        <div class="content-header notifications-header clearfix">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3>Account Settings</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-6 col-sm-offset-3" role="main">
                {% crispy form %}
                <hr>
                <a href="{% url 'me:cancel' %}" data-toggle="modal" data-target="#cancel-account">Cancel my account</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ block.super }}
    <div class="modal" id="change-password"></div>
    <div class="modal" id="cancel-account"></div>
{% endblock %}
