{% extends 'modal.html' %}

{% load url from future %}

{% block modal_title %}Disable two-factor authentication{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'me:two-factor-disable' %}">
        {% csrf_token %}
        <div class="modal-body">
            <p>Are you sure you want to disable two-step verification for your LawPal account.?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <input type="submit" name="submit" value="Yes, disable two-step verification" class="btn btn-danger btn-wide" id="submit-id-submit">
        </div>
    </form>
{% endblock %}
