<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">×</button>
    <h4 class="modal-title">Add participant</h4>
</div>

<form name="createForm" ng-submit="create()">
    <div class="modal-body">
        <h5 ng-show="thread.participants.length > 0">Existing Participants</h5>
        <ul class="list-unstyled participants">
            <li ng-repeat="person in thread.participants">
                <span class="user" ng-bind="person | initials"></span>
                <label ng-bind="person | fullname"></label>
            </li>
        </ul>

        <h5>Add New Participant</h5>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-primary" ng-click="addParticipant()">Add a Participant</a>
                <br />
                <a class="btn btn-primary" ng-click="removeParticipant()">Remove Participant</a>
                <br />
                <p class="note">Adding a user to this thread will give them full access to every comment.</p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="controls">
            <input type="button" name="cancel" value="Cancel" class="btn btn btn-default" id="button-id-cancel" ng-click="cancel()">
            <input type="button" name="submit" value="Submit" class="btn btn-primary btn-wide" id="submit-id-submit" ng-click="ok()">
        </div>
    </div>

</form>
