<div class="modal-header" id="new-thread">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">×</button>
    <h4 class="modal-title">Create a new Thread</h4>
</div>

<form name="createForm" ng-submit="create()">
    <div class="modal-body" id="new-thread-body">
        <div id="div_id_title" class="form-group">
            <label for="id_title" class="control-label">Title</label>
            <div class="controls">
                <input class="textinput textInput form-control" id="id_title" name="title" placeholder="Type your question here" size="40" type="text" ng-model="data.request.title">
            </div>
        </div>

        <div id="div_id_participants" class="form-group">
            <label for="id_participants" class="control-label">Participants</label>
            <div class="controls">
                <label ng-repeat="person in matter.participants" class="{{person.role}}">
                    <input type="checkbox" ng-model="data.request.participants[person.username]" ng-if="person.username!==currentUser.username">
                    <input type="checkbox" ng-if="person.username===currentUser.username" checked disabled>
                    {{person.name}}
                </label>
                <br>
  <!--               <ul class="list-unstyled">
                    <li ng-repeat="person in participants">
                        <label class="checkbox" ng-class="{'checked':data.selectedUsers[person.username]!=null}"
                               ng-click="toggleUser(person)">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                            <label ng-bind="person | fullname"></label>
                            <label ng-show="person.username==currentUser.username"> (you)</label>
                        </label>
                    </li>
                </ul> -->
            </div>
        </div>

        <div id="div_id_comment" class="form-group">
            <label for="id_comment" class="control-label">Message</label>
            <div class="controls">
                <textarea class="compose-message" rows="4" cols="50" placeholder="Type your message" ng-model="data.request.comment"></textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="controls">
            <input type="button" name="cancel" value="Cancel" class="btn btn btn-default" id="button-id-cancel" ng-click="cancel()">
            <input type="submit" name="submit" value="Send" class="btn btn-success btn-wide" id="submit-id-submit">
        </div>
    </div>

</form>
