<div ng-show="data.selectedThread" class='read-message' id="message-scroll">
    <div class="single-thread">
        <ul class="list-unstyled">
            <li class="one-message">
                <div class="author" sticky scrollelement="'message-scroll'" offset="55">
                    <span class="user coleg" ng-bind="data.selectedThread.user.initials"></span>
                    <span ng-bind="data.selectedThread.user.name"></span>
                    <span class="text-muted time">{{ data.selectedThread.date_created | timeago }}</span>
                </div>
                <div class="message-body">
                    <p ng-bind="data.selectedThread.comment"></p>
                </div>
            </li>
            <li class="one-message" ng-repeat="message in data.selectedThread.comments">
                <div class="author"  sticky scrollelement="'message-scroll'" offset="55">
                    <span class="user coleg" ng-bind="message.user.initials"></span>
                    <span ng-bind="message.user.name"></span>
                    <span class="text-muted">{{ message.date_created | timeago }}</span>
                </div>
                <div class="message-body">
                    <p ng-bind="message.comment"></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div ng-show="!data.selectedThread">
    <div class="row no-thread">
    <div class='no-thread-selected col-sm-12'>
        <i class="fa fa-arrow-left"></i>
        <h6>select a discussion from the list</h6>
        <small>or</small>
        <h6>start a new discussion</h6>
        <i class="fa fa-arrow-down"></i>

    </div>

    </div>
</div>
